<section class="InfoSection{% if infoSectionModifiers %} InfoSection--{{infoSectionModifiers}}{% endif %}" aria-label="{{infoSectionHeading}}">
    <h2 class="InfoSection-heading">{{infoSectionHeading}}</h2>
    <div class="Prose{% if infoSectionIsInverted%} Prose--inverted{% endif %}">
    {{infoSectionContent}}
    </div>
</section>