<div class="Modal">
    <!--/.Modal background-->
</div><!--/.Modal-->
<div class="Modal-container">
    <div class="Modal-close">close</div>
    <div class="Lead Bar">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nobis?
    </div>
    <form class="Form">
        <div class="Form-items">
            {% include '@form-unit-email' %}
            {% include '@form-unit-email' %}
            {% include '@form-unit-textarea' %}
        </div>
        <div class="Form-end">
            <button class="MegaLink MegaLink--giant MegaLink--button">Send away!</button>
        </div>
    </form>
</div><!--/.Modal-container-->