
<div class="Background Background--plum">
    {% include '@site-header' %}
    {% include '@masthead' %}
</div>

<main>

    <div class="Background Background--plum">
        {% include '@page-lead' %}
    </div>

    {% include '@header-image' %}

    {% include '@text-block' %}

    {% include '@image-gallery-jobs' %}

    <div class="Background Background--frill">
        {% include '@jobs' %}
    </div><!--/.Background-->

</main>

{% include '@site-footer' %}
