
<div class="Background--grey">
    {% include '@site-header' %}

    {% include '@masthead' %}
</div>

<main>

    <div class="Background">{% include '@page-lead' %}</div>

    {% include '@chapters-values' %}

</main>

{% include '@site-footer' %}
