<dl class="Metadata">
    <div class="Metadata-group">
        <dt class="Metadata-heading">{{metadataItem}}</dt>
        <dd class="Metadata-description">{{metadataDescription}}</dd>
    </div><!--/.MetaData-->
</dl><!--/.MetaData-->