<dl class="Metadata">
    {% for metadata in metadata %}
    <div class="Metadata-item">
        <dt class="Metadata-heading">{{metadata.item}}</dt>
        <dd class="Metadata-description">{{metadata.description}}</dd>
    </div>
    {% endfor %}
</dl><!--/.MetData-->