<div class="LayoutAlternate LayoutAlternate--chimney Prose">
    <div class="LayoutAlternate-left LayoutAlternate-item LayoutAlernate-item--leadPrimary">
        {% include '@lead' with {leadModifier: '--wrapper Bar'} %}
    </div>
    <div class="LayoutAlternate-right LayoutAlternate-item LayoutAlernate-item--leadSecondary">
        <img class="LayoutAlternate-image" src="/assets/img/team/andy-t-lg.jpg" alt="Andy Thornton"> 
        <div class="LayoutAlternate-solo">
            <p class="Heading Heading--context">Find Andy on:</p>
            {% include '@social-media' %}
        </div>
    </div>
    <div class="LayoutAlternate-left LayoutAlternate-item">
        <p>Before joining Clearleft he worked as a freelance Experience Design Consultant helping Whitbread shape the service design of Hub hotels.</p>
        <p>Prior to that Andy’s career at POSSIBLE and Fortune Cookie saw him providing both strategic UX leadership and hands-on human-centred design skills across a broad range of clients such as British Gas, Pearson, UEFA, Legal &amp; General, Camden Council, Royal Horticultural Society (RHS) and Royal Institution of Chartered Surveyors (RICS).</p>
        <h2>Nurturing customer-centric business culture</h2>
        <p>Andy believes that the age of business disruption has well and truly arrived, and keeping customers happy is more critical to success than ever before. Organisations that fail to satisfy their needs, whether large or small, public or private sector, are at serious risk of failure.</p>
    </div>
    <div class="LayoutAlternate-right LayoutAlternate-item">
        <p>As a Strategic UX Designer, he has a keen interest in helping businesses become more customer-centric by creating intuitive, immersive and inspiring digital experiences that meet measurable outcomes, along with practical UX mentoring and guidance.</p>
        <h2>Away from the office</h2>
        <p>Andy describes himself as a bit of a social recluse who enjoys getting away from civilisation as much as feasibly possible. His once deep love of the world of glitchy electronica has faded somewhat with age, but he still tries to get out to a couple of gigs now and again.</p>
    </div>
</div>