<div class="Modal">
    <!--/.Modal background-->
</div><!--/.Modal-->
<div class="Modal-container">
    <a href="" class="Modal-close Icon Icon--close">close</a>
    {{modalContent}}
</div><!--/.Modal-container-->