<div class="Modal">
    <!--/.Modal background-->
</div><!--/.Modal-->

<div class="Modal-container">
    <a href="" class="Modal-close Icon Icon--close">close</a>
    <h1 class="Heading Heading--medium">Thanks!</h1>
    <br>
    <div class="Lead Bar">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nobis?
    </div>
    <br>
    <a href="">Close this window</a>
</div><!--/.Modal-container-->