<div class="FormUnit">
    <label class="FormUnit-label" for="{{formUnitID}}">{{formUnitLabel}}</label>
    <input class="FormUnit-field" type="text" placeholder="{{formUnitPlaceholder}}" id="{{formUnitID}}" />
</div><!--/.FormUnit-->