<div class="Banner{% if bannerModifier %} Banner{{bannerModifier}}{% endif %}">
    <div class="Banner-content">
        <div class="Banner-caption">{{bannerCaption}}</div>
        <div class="Banner-headline">{{bannerHeadline}}</div>
        {% if bannerModifier == '--notice' %}
        <div class="Banner-body">
            {{bannerBody}}
        </div><!--/.Banner-body-->
        {% endif %}
    </div><!--/.Banner-content-->
</div><!--/.Banner-->