<div class="Banner {% if bannerModifiers %}Banner{{ bannerModifiers|join(' Banner') }}{% endif %}">
    <div class="Banner-content">
    {% if bannerCaption %}
        <div class="Banner-caption">{{ bannerCaption }}</div>
    {% endif %}
        <h2 class="Banner-headline Heading Heading--secondary">{{ bannerHeadline }}</h2>
    {% if bannerBody %}
        <div class="Banner-body">
            {{ bannerBody }}
        </div>
    {% endif %}
    {% if megaLinkURL %}
        {% include '@mega-link' %}
    {% endif %}
    </div>
</div>
