
/** Imports, variables, mixins, etc... **/

@import 'abstracts/*.scss';

/** Globals **/

@import 'base/*.scss';

/** Components **/

@import 'components/*.scss';








.Sharpies {}
.Sharpies-headings h2 {
    font-family: 'Gilroy Black';
    font-size: 3rem;
    margin: 1rem 0;
}

.Sharpies-headings h2:nth-child(1) {
    background: url('../img/streak-2.jpg') 0 100% no-repeat;
}
.Sharpies-headings h2:nth-child(2) {
    background: url('../img/streak-3.jpg') 0 100% no-repeat;
}
.Sharpies-headings h2:nth-child(3) {
    background: url('../img/streak-4.png') 0 100% no-repeat;
}
.Sharpies-headings h2:nth-child(4) {
    background: url('../img/streak-5.png') 0 100% no-repeat;
}
.Sharpies-headings h2:nth-child(5) {
    background: url('../img/streak-1.svg') 0 100% no-repeat;
}
.Sharpies-headings h2:nth-child(6) {
    background: url('../img/streak-6.jpg') 0 100% no-repeat;
}

@media only screen and (min-width: 580px) {
    .Sharpies-headings h2 {
        font-size: 4rem;
    }
}

@media only screen and (min-width: 768px) {
    .Sharpies-headings h2 {
        font-size: 5rem;
    }
}


.Sharpie-blob1 {
    background: url('../img/streakyblob1.jpg') 50% 50% no-repeat;
    font-family: 'Gilroy Black';
    font-size: 60px;
    margin: 1rem;
    max-width: 500px;
    text-align: center;
}
.Sharpie-blob2 {
    background: url('../img/streakyblob2.jpg') 50% 50% no-repeat;
    color: #fff;
    font-family: 'Gilroy Black';
    font-size: 69px;
    line-height: 66px;
    margin: 1rem;
    max-width: 390px;
    padding: 6rem 1.5rem;
    text-align: center;
}


.Specimen {
    margin-top: 12rem;
    max-width: 1000px;
}

.Prose-block {
    padding: 1rem 0;
}

.Prose-subheader {
    text-transform: uppercase;
}

.Prose-header {
    font-family: 'Gilroy Black';
    font-size: 101px;
    line-height: 94px;
    padding: 2rem 0;
}

.Prose-intro {
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    padding: 1rem 0;
}

.Prose-standard {
    font-weight: 500;
    line-height: 26px;
}

.Prose-substandard {
    font-size: 14px;
    line-height: 22px;
}

.Prose-subtitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 1rem;
}

.Block-bold {
    font-weight: 700;
    font-size: 30px;
}

.Block-normal {
    font-weight: 400;
    font-size: 30px;
}
