<section class="Announcement" {% if announcementImage %}style="background-image: url({{ announcementImage }});"{% endif %}>
    <span class="Announcement-highlight">{{announcementHighlight}}</span>
    <div class="Announcement-content">
        <h3 class="Announcement-title Heading Heading--medium-temp">{{announcementTitle}}</h3>
        <p class="Announcement-description">{{announcementDescription}}</p>
        {% include '@mega-link' with {megaLinkModifier: '--springboard'} %}
    </div>
</section>
