<div class="Background">{% include '@site-header' %}</div>

<main>

    <div class="Background">

        {% include '@masthead' %}

    </div>

    <div class="BlogArticle">
        <div class="BlogArticle-intro">
            {% include '@lead' %}
        </div><!--/.BlogArticle-intro-->

        {% include '@text-block' %}

        {% include '@text-block' with {textBlockModifier: ''} %}

    </div>


</main>

{% include '@site-footer' %}
