<div class="Background">{% include '@site-header' %}</div>

<main>

    <div class="Background" style="padding-bottom: 15rem">
        {% include '@masthead' %}
    </div>

    <div class="Container">


        <div class="BlogArticle">

            <div class="BlogArticle-primary">
                {% include '@index-card' %}
            </div>

            <div class="BlogArticle-secondary">
                <div class="Lead Lead--wrapper Bar" style="margin-bottom: 3rem">
                    {{pageLead}}
                </div>

                <div class="Prose">
                    {{blogContent}}
                </div>
            </div>

        </div>

    </div>

</main>

{% include '@site-footer' %}
