
{% include '@site-header' %}

    <main>
    
    <div class="ContactPage">
        <div class="ContactPage-wrapper">
            <div class="ContactPage-info">
            <h1 class="ContactPage-title Heading Heading--main">Make contact.</h1>
                {% include '@lead' %}
            </div><!--/.ContactPage-info-->
            <div class="ContactPage-background">
                {% include '@map' %}
            </div>
        </div><!--/.ContactPage-background-->
    </div><!--/.ContactPage-->
        
    </main>

{% include '@site-footer' %}