<div class="Cols Cols--half Cols--dense">
{% for event in events %}
    {% set eventSide = 'left' %}
    {% if loop.index is even %}
        {% set eventSide = 'right' %}
    {% endif %}
    {% include '@event-past' with {eventCard: event, eventSide: eventSide} only %}
{% endfor %}
</div>