<dl class="Details">
    <div class="Details-item">
        <dt class="Details-heading">Price</dt>
        <dd class="Details-description">£2500</dd>
    </div>
    <div class="Details-item">
        <dt class="Details-heading">Attendees</dt>
        <dd class="Details-description">Up to 8 people</dd>
    </div>
    <div class="Details-item">
        <dt class="Details-heading">Duration</dt>
        <dd class="Details-description">1 day</dd>
    </div>
    <div class="Details-item">
        <dt class="Details-heading">Contact</dt>
        <dd class="Details-description">andybudd@clearleft.com</dd>
    </div>
</dl><!--/.Details-->