
<div class="Background Background--grey">
    {% include '@site-header' %}
    {% include '@masthead' %}
</div>

<main id="main-content">
    {% include '@team-member' %}

    {% include '@blog-extension' %}
</main>

{% include '@site-footer' %}
