<div class="LayoutAlternate LayoutAlternate--balanced">
    <div class="LayoutAlternate-item"><h2 class="Heading Heading--small">More from Andy</h2></div>
    <div class="LayoutAlternate-left LayoutAlternate-item">
        <h3 class="Heading Heading--body">Published books</h3>
        {% include '@info-block' with {
            infoBlockContents: imageBlockContents
        } %}
    </div><!--/.Layout-alternate-item-->
    <div class="LayoutAlternate-right LayoutAlternate-item">
        <h3 class="Heading Heading--body">Previous talks</h3>
        {% include '@info-block' with {
            infoBlockContents: noImageBlock
        } %}
    </div><!--/.Layout-alternate-item-->
</div><!--/.LayoutAlternate-->