<div class="PenguinDisplayCase">
    <div class="PenguinDisplayCase-wrapper">
        
        <img class="PenguinDisplayCase-chimney" src="/assets/img/work/penguin/display-case/header.png" alt="Channel 4 website screen shots">
 
        <div class="TextBlock TextBlock--author Prose">
            <div class="TextBlock-author">
                <div class="Author">
                    <img class="Author-image" src="/assets/img/team/voice/graham.png" alt="Graham Smith">
                    <div class="Heading Heading--context">Graham Smith</div>
                </div>
                <!--/.Author-->
            </div>

            <h2>Misconception 1: Transitioning to “Agile” will solve our problems.</h2>
            <p>The agile manifesto was born out of a frustration with traditionally managed projects. But I don’t think it solved the problem. It actually created another one. I’ve seen teams and organisations go from waterfall, which reduces their ability to compete
                in the market and deliver value, to dysfunction and paralysis when implementing agile.</p>
            <p>That’s largely due to the various interpretations of the manifesto borne of misunderstanding. Bottom-up as well as top-down support is needed in order for a successful agile transformation to take place in any organisation.</p>

        </div>
        <!--/.TextBlock Prose-->
               
        <div class="TextBlock Textblock--wide Prose">
            <p>When it came to the brand, we were pushing Penguin into unchartered waters, places the brand guidelines didn’t cover. The design language would be used to in places where the Penguin is secondary to another brand (e.g. Jamie Oliver, or Puffin).</p>
            <p>We agonised over the typography. Although there were brand guidelines, we didn’t feel they had a universal feel. Our choice of Bliss and Fort reflects this idea. We built throwaway HTML responsive prototypes, to see what our suggested design language looked like on a variety of devices.</p>
        </div><!--/.Textblock-->
    
        <img class="ImageBlock" src="/assets/img/work/penguin/display-case/Penguin-homepage.jpg" alt="Channel 4 home page">
        <img class="ImageBlock" src="/assets/img/work/penguin/display-case/Penguin-homepage-2.jpg" alt="Channel 4 bottom of home page">

        <blockquote class="Quote">
            John Snow didn't tweet or blog before this. Because of the site redesign, the team started thinking about news in a new way.
            <div class="Quote-citation">
                —  <span>James Box</span>
            </div><!--/.Quote-citation-->
        </blockquote><!--/.Quote-->



    </div><!--/.DisplayCase-wrapper-->
</div><!--/.DisplayCase-->