<div class="Ch4DisplayCase">
    <div class="Ch4DisplayCase-wrapper">
        
        <img class="Ch4DisplayCase-chimney" src="/assets/img/work/ch4/display-case/display-case-header.png" alt="Channel 4 website screen shots">
        
        <div class="TextBlock Textblock--wide Prose">
            <h2>How do you conduct the visual design with such a strong existing brand?</h2>
            <p>Once we’d prioritised the content, we set about creating a visual design to support it. Some of the site’s visual direction was influenced by the design of the news studio itself. We created more white space, bolder typography, and Channel 4 inspired iconography to showcase the journalism.</p>
            <p>In addition to our responsive overhaul, Channel 4 was also keen to to refresh the design of the site. Since our initial engagement, the show’s identity had been successfully updated and the new visual language was incorporated into the relaunch. The departure from the strong, solid colouring towards a more restrained, subtle palette employing generous white-space was designed to provide a simple canvas that allows the content to take centre stage.</p>
        </div><!--/.Textblock-->
    
        <img class="ImageBlock" src="/assets/img/work/ch4/display-case/ch4-homepage.jpg" alt="Channel 4 home page">
        <img class="ImageBlock" src="/assets/img/work/ch4/display-case/ch4-homepage-2.jpg" alt="Channel 4 bottom of home page">

        <blockquote class="Quote">
            John Snow didn't tweet or blog before this. Because of the site redesign, the team started thinking about news in a new way.
            <div class="Quote-citation">
                —  <span>James Box</span>
            </div><!--/.Quote-citation-->
        </blockquote><!--/.Quote-->

    </div><!--/.DisplayCase-wrapper-->
</div><!--/.DisplayCase-->