<div class="Background">
    <div class="Extension">
        <div class="Extension-headline">   
            <h2 class="Heading Heading--small">Recent articles by {{personFirstName}}</h2>
        </div><!--/.Extension-headline-->
        <div class="Extension-items">
            <div class="Cols">
            {% for card in cards %}
                <div class="Cols-half Cols-item">
                    {% include '@card' with card %}
                </div><!--/.Cols-half-->
            {% endfor %}
            </div><!--/.Cols-->
        </div><!--/.Extension-items-->
    </div><!--/.Extension-->
</div><!--/.Background-->