<div class="Background Background--grey">
    <div class="Extension">
        <div class="Extension-headline">
            <h2 class="Heading Heading--small">Recent articles by {{ personFirstName }}</h2>
        </div><!--/.Extension-headline-->
        <div class="Extension-items">
            <div class="Cols Cols--half Cols--gap">
            {% for card in cards %}
                {% include '@card' with card %}
            {% endfor %}
            </div>
        </div>
    </div><!--/.Extension-->
</div><!--/.Background-->
