<div class="Background">
    <div class="Extension">
        <div class="Extension-headline">   
            <h2 class="Heading Heading--small">Recent articles by Andy</h2>
        </div><!--/.Extension-headline-->
        <div class="Extension-items">
            <div class="Cols">
                <div class="Cols-half Cols-item">
                    {% include '@card' %}
                </div><!--/.Cols-half-->
                <div class="Cols-half Cols-item">
                    {% include '@card' %}
                </div><!--/.Cols-half-->
            </div><!--/.Cols-->
        </div><!--/.Extension-items-->
    </div><!--/.Extension-->
</div><!--/.Background-->