<div class="BgGreen">{% include '@site-header' %}</div>

<main>

    <div class="BgGreen">{% include '@masthead' %}</div>

    {% include '@intro' %}

    {% include '@trio' %}

    {% include '@banner' with {bannerCaption: 'Get the lowdown', bannerHeadline: 'Client stories'} %}

    {% include '@ch4-project' %}

    {% include '@penguin-project' %}

    {% include '@evo-project' %}

    <div class="Banner">
        <div class="Banner-content">
            <a href="" class="MegaLink MegaLink--super">See the rest of our work</a>
        </div>
    </div>

    {% include '@hello' %}

</main>

{% include '@site-footer' %}
