
<div class="Impact Background--carribean-green">
    {% include '@site-header' %}

    <h2 class="Heading Heading--main Heading--inverted">We see you through.</h2>
</div>

<main>

    <div class="Intro">
        <h2 class="Intro-text">Let’s make a positive difference to your digital presence and the practices which support it.</h2>
    </div>

    <div class="Home-grid">
        <div class="Home-gridItem">
            {% include '@card' with {
                cardModifier: '--home',
                cardBarColour: '#00D494',
                cardTitle: "Design or redesign products & services",
                cardDescription: "Radically improve your existing products and services, or work with the team to conceive, create and build on an entirely new idea."
            } %}
        </div>
        <div class="Home-gridItem">
            {% include '@card' with {
                cardModifier: '--home',
                cardBarColour: '#00D494',
                cardTitle: "Get your strategy clear",
                cardDescription: "You might need a targeted intervention, to unpick a thorny problem, or a fresh perspective on your process. Our strategists work with you to research and develop your digital strategy."
            } %}
        </div>
        <div class="Home-gridItem">
            {% include '@card' with {
                cardModifier: '--home',
                cardBarColour: '#00D494',
                cardTitle: "Transform your digital culture",
                cardDescription: "Upskill your team, develop your processes, integrate design thinking and introduce new habits. Work closely with the Clearleft team to get an external perspective that helps you initiate change."
            } %}
        </div>
    </div>

    <div class="Banner">
        <div class="Banner-content">
            <a href="#" class="MegaLink MegaLink--super">Meet the team</a>
        </div>
    </div>

    {% include '@ch4-project' %}

    {% include '@penguin-project' %}

    {% include '@evo-project' %}

    {% include '@banner' with {bannerCaption: 'Latest Posts', bannerHeadline: 'Clear thinking.'} %}

</main>

{% include '@hello' %}

{% include '@site-footer' %}
