<div class="BgGreen">{% include '@site-header' %}</div>

<main>

    <div class="BgGreen">{% include '@masthead' %}</div>

    {% include '@intro' %}

    {% include '@trio' %}

    {% include '@banner' with {bannerCaption: 'Get the lowdown', bannerHeadline: 'Client stories'} %}

    {% include '@ch4-project' %}

    {% include '@penguin-project' %}

    {% include '@evo-project' %}

    {% include '@hello' %}

</main>

{% include '@site-footer' %}
