
<div class="Background--carribean-green l-pad-after Texture--home">
    {% include '@site-header' %}

    <div class="Splash">
        <h2 class="Splash-header">{{ homeHeader }}</h2>

        <h3 class="Splash-subHeader Heading--medium">{{ homeSubheader }}</h3>
    </div>
</div>

<main>

    <!-- featured item -->
    <div class="Cols Cols--half">
        <div class="u-vertical-center">
            {% include '@card' with {
                cardModifiers: ['--home', '--logo'],
                cardLogoSrc: 'https://clearleft-v5.s3.amazonaws.com/uploads/rb-kensington-chelsea-2x.png',
                cardLogoAlt: 'Penguin Random House',
                cardTitle: homeCardTitle,
                cardDescription: homeCardDescription,
                cardUrl: '#',
                cardLinkText: 'Read the case study',
                cardId: 'card-00'
            } %}
        </div>
        <div>
            <picture>
                <source srcset="http://via.placeholder.com/1080x1080" media="(min-width: 57.5em)">
                <source srcset="http://via.placeholder.com/800x800" media="(min-width: 42.5em)">
                <img src="http://via.placeholder.com/300x300" alt=""  style="width:100%">
            </picture>
        </div>
    </div>

    <!-- Posts -->
    <div class="Background--grey l-pad-before l-pad-after">
        <div class="Container Container--constrained l-pad-before">
            <div class="Cols Cols--gap Cols--one-third">
                {% for post in homeBlogPosts %}
                {% include '@card' with post %}
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- standard item -->
    <div class="Cols Cols--half">
        <div class="u-vertical-center">
            {% include '@card' with {
                cardModifiers: ['--home', '--logo', '--vertical'],
                cardLogoSrc: 'https://clearleft-v5.s3.amazonaws.com/uploads/rb-kensington-chelsea-2x.png',
                cardLogoAlt: 'Penguin Random House',
                cardTitle: homeCardTitle,
                cardDescription: homeCardDescription,
                cardUrl: '#',
                cardLinkText: 'Read the case study',
                cardId: 'card-01'
            } %}
        </div>
        <div>
            <picture>
                <source srcset="http://via.placeholder.com/1080x1080" media="(min-width: 57.5em)">
                <source srcset="http://via.placeholder.com/800x800" media="(min-width: 42.5em)">
                <img src="http://via.placeholder.com/300x300" alt="" style="width:100%">
            </picture>
        </div>
    </div>

    <!-- standard item -->
    <div class="Cols Cols--half Cols--reverse">
        <div class="u-vertical-center">
            {% include '@card' with {
                cardModifiers: ['--home', '--logo', '--vertical'],
                cardLogoSrc: 'https://clearleft-v5.s3.amazonaws.com/uploads/rb-kensington-chelsea-2x.png',
                cardLogoAlt: 'Penguin Random House',
                cardTitle: homeCardTitle,
                cardDescription: homeCardDescription,
                cardUrl: '#',
                cardLinkText: 'Read the case study',
                cardId: 'card-02'
            } %}
        </div>
        <div>
            <picture>
                <source srcset="http://via.placeholder.com/1080x1080" media="(min-width: 57.5em)">
                <source srcset="http://via.placeholder.com/800x800" media="(min-width: 42.5em)">
                <img src="http://via.placeholder.com/300x300" alt="" style="width:100%">
            </picture>
        </div>
    </div>

    <!-- helping to -->
    <div class="Background--grey l-pad-before l-pad-after">
        <div class="l-pad-before">
            <h3 class="Heading Heading--medium u-center">We’re currently helping to&hellip;</h3>
        </div>

        <div class="Container Container--constrained">
            <div class="Cols Cols--gap Cols--one-third">
                {% for quote in homeQuotes %}
                <div class="InfoCard">
                    <div class="SpeechBubble">
                        {{ quote.quote }}
                    </div>
                    {% include '@author' with quote %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>


</main>

{% include '@hello' %}

{% include '@site-footer' %}
