<div class="BgPurple">{% include '@site-header' %}</div>

<main>

    <div class="BgPurple">{% include '@masthead' %}</div>

    <div class="BgPurple">{% include '@page-lead' %}</div>

    {% include '@header-image' %}

    {% include '@text-block' %}

    {% include '@image-gallery-jobs' %}
        
    <div class="Background Background--frill">
        {% include '@jobs' %}
    </div><!--/.Background-->

</main>

{% include '@site-footer' %}