<ul class="SocialMedia{% if socialMediaModifier %} SocialMedia{{socialMediaModifier}}{% endif %}">
    {% for socialLink in socialLinks %}
    <li class="SocialMedia-item"><a href="{{socialLink.url}}" class="SocialMedia-link"><img src="{{socialLink.src}}" alt="{{socialLink.alt}}"></a></li>
    {% endfor %}
</ul><!--/.SocialMedia-->