<div 
    class="u-vertical-center{% if not eventBackground %} u-border-top-n2{% endif %}"
    {% if eventBackground %} style="background:{{eventBackground}}" {% endif %}>
    {% include '@event-card' %}
</div>
{% if eventPictures|length %}
    {% include '@picture-contain' with eventPictures[0] only %}
{% else %}
    <div {% if eventBackground %} style="background:{{eventBackground}}" {% endif %}></div>
{% endif %}
