
{% include '@site-header' %}

    <main>
    
    <div class="ContactInfo">
        <div class="ContactInfo-wrapper">
            <div class="ContactInfo-info">
            <h1 class="ContactInfo-title Heading Heading--main">Make contact.</h1>
                {% include '@lead' %}
            </div><!--/.ContactInfo-info-->
            <div class="ContactInfo-background">
                {% include '@map' %}
            </div>
        </div><!--/.ContactInfo-background-->
    </div><!--/.ContactInfo-->
        
    </main>

{% include '@site-footer' %}