{% include '@penguin-project' %}

<div class="Background">{% include '@voice' %}</div>

{% include '@scene--shuffle' %}

{% include '@image-block' %}

{% include '@text-block' %}

{% include '@quote' %}

{% include '@text-block' %}

{% include '@penguin-display-case' %}