{% include '@penguin-project' %}

<main>

    <div class="Background">{% include '@voice' %}</div>

    {% include '@scene--shuffle' %}

    {% include '@image-block' %}

    {% include '@text-block' %}

    {% include '@quote' %}
    
    <div class="TextBlock Prose">
        <p>The results of the workshop with all the subsidiary brands of Penguin Random House contradicted what we had initially heard. Staff believed that the site could offer readers unique content, and better access to authors. To get strategic clarity, we worked with stakeholders to identify the top business objectives. Ones they could all get behind. With a bit of help from us, the internal team decided that the web should:</p>
        <h2>During the research we discovered:</h2>
        <ul>
            <li>Wikipedia rules the roost. When asked to find out what an author had written, people ignored the author’s own website (1st result on Google), then headed straight for the author’s Wikipedia entry (2nd).</li>
            <li>There is a seasonality to the purchase of books. Most people didn’t find the idea of using penguin.co.uk to find books compelling. Yet, once there, they liked what they saw. We also saw an uptick in visitors using the site for this purpose at Christmas.</li>
        </ul>
    </div>

    {% include '@penguin-display-case' %}

    {% include '@trio' %}

    {% include '@signpost' %}

    {% include '@hello' %}
</main>

{% include '@site-footer' %}