<div class="Scene{% if sceneModifier %} Scene{{sceneModifier}}{% endif %}">
    <div class="Scene-side">
    {% for meta in metas %}
    {% include '@metadata' with meta %}
    {% endfor %}
    </div><!--/.Scene-side-->
    <div class="Scene-main">
        <h2 class="Scene-heading">{{sceneHeading}}</h2>
        <div class="Prose">
            {{sceneProse}}
            <a class="Anchor" href="#results">Go straight to results &#8595;</a>
        </div>
    </div><!--/.Scene-main-->
</div><!--/.Scene-->