<div class="ProjectIntro">
    <div class="ProjectIntro-side">
        <dl class="Metadata">
        <div class="Metadata-item">
            <dt class="Metadata-heading">What we did</dt>
            <dd class="Metadata-description">
                <span class="Pill">Strategy</span>
                <span class="Pill">UX Design</span>
                <span class="Pill">Visual Design</span>
            </dd>
        </div><!--/.Metadata-item-->
        <div class="Metadata-item">
            <dt class="Metadata-heading">Our Team</dt>
            <dd class="Metadata-description">James Box, UX designer</dd>
            <dd class="Metadata-description">James Bates, Visual Design</dd>
            <dd class="Metadata-description">Mark Perkins, Developer</dd>
        </div><!--/.Metadata-item-->
        <div class="Metadata-item">
            <dt class="Metadata-heading">Environment</dt>
            <dd class="Metadata-description">Channel 4 Studios</dd>
            <dd class="Metadata-description">ITN London</dd>
        </div><!--/.Metadata-item-->
        <div class="Metadata-item">
            <dt class="Metadata-heading">Stakeholders</dt>
            <dd class="Metadata-description">10+</dd>
        </div><!--/.Metadata-item-->
        <div class="Metadata-item">
            <dt class="Metadata-heading">Duration</dt>
            <dd class="Metadata-description">6 months</dd>
        </div><!--/.Metadata-item-->
        <div class="Metadata-item">
            <dt class="Metadata-heading">Link</dt>
            <dd class="Metadata-description"><a href="#">See it live</a></dd>
        </div><!--/.Metadata-item-->
    </div><!--/.ProjectIntro-side-->
    <div class="ProjectIntro-main Prose">
        <h2>The challenge for the Channel 4 News Room</h2>
        <p>We had worked with Channel 4 News before, designing their mobile apps and refreshing their website, but this was the biggest challenge yet.  We needed to find tiny ways to make big changes to a vast eco-system of content production to make it more suitable for mobile consumption. Not only did the new website need to adapt to many devices and screen sizes, it needed to adapt to the fast-paced way the news itself gets produced.</p>
        <p>Channel 4 and ITN work together to deliver the news, which means there are lots of people involved at each stage. They have an enormous responsibility to the public but their online strategy didn’t reflect the many ways in which news is captured and consumed. The Channel 4 news team have a passion for the power of journalism, so together we set out to design a way to convey that passion on the web.</p>
        <a class="Anchor" href="#results">Go straight to results &#8595;</a>
    </div>
</div><!--/.ProjectIntro-->