<div class="Author">
    {% if authorImage %}
    <img class="Author-image" src="{{ authorImage }}" alt="{{ authorName }}">
    {% endif %}
    <div class="Heading Heading--context">{{ authorName }}</div>
    
</div><!--/.Author-->
