
<div class="Background Background--grey">
    {% include '@site-header' %}
    {% include '@masthead' %}
</div>

<main id="main-content">

    <div class="Background Background--grey">{% include '@page-lead' %}</div>

    {% include '@team-grid' %}

    {% include '@banner' with {bannerCaption: 'Take a peek inside', bannerHeadline: 'Our Studio', bannerModifier: '', bannerBody: '', "bannerLink": ''} %}

    {% include '@image-gallery-team' %}

    {% include '@banner' %}

</main>

{% include '@site-footer' %}
