
<div class="Background--lapis-lazuli-blue l-pad-after Illustration">
    {% include '@site-header' %}
    {% include '@balloon' %}
    {% include '@masthead'%}
</div>

<main id="main-content">

    <!-- we can help you -->
    <div class="Background l-pad-before--double l-pad-after--mega Texture-border Texture-border--top">
        <div class="Container Container--constrained l-pad-before">
            <h3 class="Heading Heading--secondary l-pad-after">We can help you&hellip;</h3>
            <div class="Cols Cols--gap Cols--one-third l-pad-around">
                <div>
                    <h3 class="Heading Heading--medium u-plum">Explore</h3>
                    <p>Learn more about your customers  and their motivations, and create innovation ideas for competitive advantage.<p>
                </div>

                <div>
                    <h3 class="Heading Heading--medium u-plum">Deliver</h3>
                    <p>Create elegant digital products and services that really mean something to you and your customers.<p>
                </div>

                <div>
                    <h3 class="Heading Heading--medium u-plum">Grow</h3>
                    <p>Accelerate the capability of your design team and scale up design maturity in your business</p>
                </div>
            </div>
        </div>
    </div>

    <!-- what we do -->
    <section class="Background--highlight-grey l-pad-before--mega l-pad-after--mega Texture-border Texture-border--top Texture-border--flip">
        <div class="Container Container--mastheadAlign">
            <div class="u-center l-pad-after--mega">
                <h3 class="Heading Heading--micro">Heading Micro</h3>
            </div>
            <div class="Cols Cols--half l-pad-after--double">
                <div class="l-pad-around">
                {% include '@card' with {
                      cardModifiers: ['--springboard'],
                      cardTitle: 'Article Title Goes here',
                      cardBar: false,
                 
                      cardDescription: '<p>The first phase in any design process is research. Our experienced researchers help you understand your customers, challenge assumptions, and nurture innovation ideas. They excel in</p><ul><li>Stakeholder research</li><li>Generative user research</li><li>Usability testing and heuristic analysis</li><li>Emerging trend, behaviour & market analysis</li><li>Behavioural segmentation and persona creation</li></ul><p>The first phase in any design process is research. Our experienced researchers help you understand your customers, challenge assumptions, and nurture innovation ideas. They excel in</p>',
                
                      megaLinkURL: '#',
                   
                      megaLinkText: 'A link to somewhere'
                  } %}
                </div>
                <div>
                    <p>svg</p>
                </div>
            </div>
            <div class="Cols Cols--half Cols--reverse l-pad-after--double">
                <div class="l-pad-around">
                {% include '@card' with {
                      cardModifiers: ['--springboard'],
                      cardTitle: 'Article Title Goes here',
                      cardBar: false,
                 
                      cardDescription: '<p>The first phase in any design process is research. Our experienced researchers help you understand your customers, challenge assumptions, and nurture innovation ideas. They excel in</p><ul><li>Stakeholder research</li><li>Generative user research</li><li>Usability testing and heuristic analysis</li><li>Emerging trend, behaviour & market analysis</li><li>Behavioural segmentation and persona creation</li></ul><p>The first phase in any design process is research. Our experienced researchers help you understand your customers, challenge assumptions, and nurture innovation ideas. They excel in</p>',
                
                      megaLinkURL: '#',
                   
                      megaLinkText: 'A link to somewhere'
                  } %}
                </div>
                <div>
                    <p>svg</p>
                </div>
            </div>
             <div class="Cols Cols--half l-pad-after--double">
                <div class="l-pad-around">
                {% include '@card' with {
                      cardModifiers: ['--springboard'],
                      cardTitle: 'Article Title Goes here',
                      cardBar: false,
                 
                      cardDescription: '<p>The first phase in any design process is research. Our experienced researchers help you understand your customers, challenge assumptions, and nurture innovation ideas. They excel in</p><ul><li>Stakeholder research</li><li>Generative user research</li><li>Usability testing and heuristic analysis</li><li>Emerging trend, behaviour & market analysis</li><li>Behavioural segmentation and persona creation</li></ul><p>The first phase in any design process is research. Our experienced researchers help you understand your customers, challenge assumptions, and nurture innovation ideas. They excel in</p>',
                
                      megaLinkURL: '#',
                   
                      megaLinkText: 'A link to somewhere'
                  } %}
                </div>
                <div>
                    <p>svg</p>
                </div>
            </div>
             <div class="Cols Cols--half Cols--reverse l-pad-after--double">
                <div class="l-pad-around">
                {% include '@card' with {
                      cardModifiers: ['--springboard'],
                      cardTitle: 'Article Title Goes here',
                      cardBar: false,
                 
                      cardDescription: '<p>The first phase in any design process is research. Our experienced researchers help you understand your customers, challenge assumptions, and nurture innovation ideas. They excel in</p><ul><li>Stakeholder research</li><li>Generative user research</li><li>Usability testing and heuristic analysis</li><li>Emerging trend, behaviour & market analysis</li><li>Behavioural segmentation and persona creation</li></ul><p>The first phase in any design process is research. Our experienced researchers help you understand your customers, challenge assumptions, and nurture innovation ideas. They excel in</p>',
                
                      megaLinkURL: '#',
                   
                      megaLinkText: 'A link to somewhere'
                  } %}
                </div>
                <div>
                    <p>svg</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Posts -->
    <div class="Background l-pad-before--mega l-pad-after--mega Texture-border Texture-border--top Texture-border Texture-border--bottom">
        <div class="Container Container--constrained l-pad-before">
            {% include '@quote' %}
        </div>
    </div>

</main>

{% include '@site-footer' %}
