<div class="BgBlue">{% include '@site-header' %}</div>

<main>

    <div class="BgBlue">{% include '@masthead' %}</div>

    <div class="BgBlue">{% include '@page-lead' %}</div>
    <div class="GreenDots">

        <div class="Chapter">
            <div class="Chapter-space Chapter-space--primary">
                <p class="Heading Heading--context">May 24-26 2017  laban, london</p>
                <img class="Chapter-image" src="/assets/img/events/uxlondon-logo.png" alt="UX London logo">
                <p class="Prose">We bring engaging industry leaders from around the world to present a combination of inspirational talks and lively, hands-on workshops.</p>
            </div>
            <!--/.Chapter-primary-->
            <div class="Chapter-space Chapter-space--secondary">
                <img class="Chapter-image" src="/assets/img/events/uxlondon-break.jpg" alt="UX London break time">
            </div>
            <!--/.Chapter-secondary-->
        </div>

        <div class="Chapter">
            <div class="Chapter-space Chapter-space--primary Prose">
                <p class="Heading Heading--context">May 24-26 2017  laban, london</p>
                <img class="Chapter-image" src="/assets/img/events/leading-design-logo.png" alt="Leading Design logo">
                
            </div>
            <!--/.Chapter-primary-->
            <div class="Chapter-space Chapter-space--secondary">
                <img class="Chapter-image" src="/assets/img/events/uxlondon-break.jpg" alt="UX London break time">
            </div>
            <!--/.Chapter-secondary-->
        </div>

    </div>

</main>

{% include '@site-footer' %}