
<div class="Background Background--grey">
    {% include '@site-header' %}
    {% include '@masthead' %}
</div>

<main>

    {# Current events #}
    <div class="Container Container--constrained ">
    {% include '@event-current-grid' %}
    </div>

    <div class="Background Background--grey">
        <div class="Container Container--constrained">
            <h2 class="Heading Heading--secondary u-center l-space-before--double l-space-after">{{eventsSubHead}}</h2>
            {% include '@stats' %}
            {% include '@quote-grid' %}
        </div>
    </div>

    {% include '@hello' %}

</main>

{% include '@site-footer' %}
