
<div class="Background Background--grey">
    {% include '@site-header' %}
    {% include '@masthead' %}
</div>

<main>

    {# Current events #}
    {% include '@event-current-grid' %}

    <div class="Background Background--grey">
        <div class="Container Container--constrained">
            <div class="u-center l-space-before--double l-space-after--double">
            <h2 class="Heading Heading--secondary">{{eventsSubHead}}</h2>
                <p><a href="{{eventsPastLink}}">{{eventsPastText}}</a></p>
            </div>
            {% include '@stats' %}
            {% include '@quote-grid' %}
        </div>
    </div>

    {% include '@hello' %}

</main>

{% include '@site-footer' %}
