<div class="BgBlue">{% include '@site-header' %}</div>

<main>

    <div class="BgBlue">{% include '@masthead' %}</div>

    <div class="BgBlue">{% include '@page-lead' %}</div>
    
    <div class="GreenDots">
        {% for chapter in chapters %}
            {% set chapterProse %}
            {% include '@event-card' with chapter %}
            {% endset %}
            {% include '@chapter' with chapter %}
        {% endfor %}
    </div>

    <div class="BgBlue">
        <div class="Extension Extension--clock">
        {% include '@banner' %}
            {% for pastEvent in pastEvents %}
                {% set chapterProse %}
                {% include '@event-card' with pastEvent %}
                {% endset %}
                {% include '@chapter' with pastEvent %}
            {% endfor %}
        </div>
    </div>

</main>

{% include '@site-footer' %}