
<div class="Background Background--grey">
    {% include '@site-header' %}
    {% include '@masthead' %}
</div>

<main>

    {# Current events #}
    {% include '@event-current-grid' %}

    <div class="Background Background--grey">
        <div class="Container Container--constrained">
            {% include '@centred-header--strap-link' with eventsSubHead %}             
            {% include '@stats' %}
            {% include '@quote-grid' %}

            <div class="l-space-before--mega l-space-after--mega">
                {% set mailingList = mailingList|merge({inputGroupModifiers:'highlight'}) %}
                {% include '@input-group' with mailingList only %}
            </div>

        </div>
    </div>

    {% include '@hello' %}

    
</main>

{% include '@site-footer' with footer only %}
