<div class="FormUnit">
    <label class="FormUnit-label" for="{{formUnitID}}">{{formUnitLabel}}</label>
    <input class="FormUnit-field" type="email" placeholder="E.g. example@domain.com" id="{{inputID}}" />
</div><!--/.FormUnit-->