
$minFontSize: 68;
$maxFontSize: 102;

.Impact {
    position: relative;
    background: $Brand-carribean-green url('http://clearleft-v5.s3.amazonaws.com/maze.jpg') 50% 3rem no-repeat;
    background-size: 150%;
    padding-bottom: 95%;

    h2 {
        position: absolute;
        bottom: 1rem;
        width: 100%;
        margin: 0;
        padding: 0 2%;
        text-align: center;

        @include font(48px, 52px);
        font-family: $font-statement;
        letter-spacing: -1.04px;
        -webkit-font-smoothing: antialiased;
    }
}
@media only screen and (min-width: px2em(430px)) {
    .Impact {
        padding-bottom: 80%;
        h2 {
            bottom: 2rem;
        }
    }
}
@media only screen and (min-width: px2em(500px)) {
    .Impact {
        padding-bottom: 80%;
    }
}
@media only screen and (min-width: px2em(650px)) {
    .Impact {
        h2 {
            font-size: calc( #{$minFontSize}px + ( #{$maxFontSize} - #{$minFontSize} ) * ( (100vw - 300px) / ( 1200 - 300) ));
        }
    }
}
@media only screen and (min-width: px2em(800px)) {
    .Impact {
        background-image: url('http://clearleft-v5.s3.amazonaws.com/maze-kyle-crop-lg.png');
        padding-bottom: 80%;
        h2 {
            bottom: 6rem;
        }
    }
}
@media only screen and (min-width: px2em(960px)) {
    .Impact {
        background-size: auto;
        background-position: 50% 0;
        padding-bottom: 0;
        height: px2rem(880px);
        h2 {
            bottom: px2rem(140px);
            @include font(90px, 84px);
            padding: 0 4%;
        }
    }
}
@media only screen and (min-width: px2em(1100px)) {
    .Impact {
        height: px2rem(880px);
        h2 {
            @include font(102px, 103px);
            letter-spacing: -2.75px;
        }
    }
}
@media only screen and (min-width: px2em(1300px)) {
    .Impact {
        h2 {
            padding: 0;
            max-width: 970px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}


.Home-grid {
    margin: 0 auto;
    max-width: px2rem(1180px);
    padding: px2rem(16px) 1%;
}
.Home-gridItem + .Home-gridItem {
    margin-top: px2rem(16px);
}

@media only screen and (min-width: px2em(800px)) {
    .Home-grid {
        display: flex;
        margin-top: px2rem(-84px);
        padding-bottom: px2rem(120px);
        position: relative;
    }
    .Home-gridItem {
        flex: 1 0 33.33%;
        padding: 0 px2rem(16px);
    }
    .Home-gridItem + .Home-gridItem {
        margin-top: 0;
    }
}

.Casestudy-grid {
    padding: 0 px2rem(16px);
    max-width: px2rem(1180px);
    margin: 0 auto;
}
.Casestudy-gridItem + .Casestudy-gridItem {
    margin-top: px2rem(16px);
}

@media only screen and (min-width: px2em(800px)) {
    .Casestudy-gridItem + .Casestudy-gridItem {
        margin-top: px2rem(32px);
    }
}
