.Background {
    background-color: #F1F1F1;
}
.BgBlue {
    background-color: $mid-blue;
    a {
        color: #ffffff;
    }
}
.BgPurple {
    background-color: #A9439A;
    a {
        color: #ffffff;
    }
}
.BgGreen {
    background-color: $accent-green;
    a {
        color: #ffffff;
    }
}
