.Background {
    background-color: #F1F1F1;
}
.BgBlue {
    background-color: $Lapis-lazuli-blue;
    a {
        color: #ffffff;
    }
}
.BgPurple {
    background-color: #A9439A;
    a {
        color: #ffffff;
    }
}
.BgGreen {
    background-color: $accent-green;
    a {
        color: #ffffff;
    }
}
.Background--frill {
    box-shadow: 0 -2px 0 0 #DAE1E8, 0 2px 0 0 #DAE1E8;
}
