.Banner {
    max-width: px2rem(1160px);
    margin-left: auto;
    margin-right: auto;
    padding: px2rem(80px) px2rem(16px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}