.Banner--inverted {
    .Banner-caption,
    .Banner-headline,
    .Banner-body {
        color: $Blank;
    }
}
.Banner-content {
    max-width: px2rem(1160px);
    margin-left: auto;
    margin-right: auto;
    padding: px2rem(30px) px2rem(16px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.Banner-caption {
    @include font(14px);
    font-family: $font-secondary;
    color: $Crayola-red;
    font-weight: 700;
    letter-spacing: px2rem(1px);
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
}
.Banner-body {
    max-width: px2rem(600px);
}
.Banner-link {
    margin-top: px2rem(16px);
}
.Banner--notice {
    background-color: $Anti-white-flash;
}
.Banner--notice .Banner-caption {
    color: #1E6B9C;
}
.Banner--decorated {
    background-image: url('/assets/img/studio/studio-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: $Blank;
    .Banner-caption,
    .Banner-headline,
    .Banner-link {
        color: $Blank;
    }
}
@media only screen and (min-width: px2em(600px)) {
    .Banner-headline {
        margin-bottom: px2rem(16px);
    }
    .Banner-caption {
        margin-bottom: px2rem(16px);
    }
    .Banner-content {
        padding-top: px2rem(60px);
        padding-bottom: px2rem(60px);
    }
}
