
.BlogGrid {
    color: $Jet-grey;
    background-color: $Blank;
    margin: px2rem(-30px) auto px2rem(24px) auto;
    max-width: px2em(1080px);
}
.BlogGrid-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: px2rem(16px);
    max-width: px2em(980px);
}

@media screen and (min-width: px2em(700px)) {
    .BlogGrid  {
        margin: px2rem(-50px) auto px2rem(24px) auto;
        .BlogGrid-item {
            flex: 0 1 auto;
            width: 50%;
            padding: px2rem(24px);
        }
    }
}
@media screen and (min-width: px2em(900px)) {
    .BlogGrid-item {
        padding: px2rem(48px);
    }
    .BlogGrid  {
        margin: px2rem(-70px) auto px2rem(24px) auto;
    }
    .BlogGrid-container {
        padding: 0;
    }
}
