.Breadcrumb {
    width: 100%;
    max-width: px2em(1006px);
    margin: px2rem(16px) auto;
    line-height: 1.2;
}
.Breadcrumb-item {
    border-bottom: none;
    text-transform: uppercase;
    @include font(14px);
    font-weight: 700;
    letter-spacing: px2rem(1.75px);
    color: $Jet-grey;
    opacity: 0.5;
    &:hover,
    &:active,
    &:focus {
        color: $Crayola-red-acc2;
    }
}
.Breadcrumb-item--first {
    opacity: 1;
}
.Breadcrumb-item--first:before {
    content: "←";
    color: currentColor;
}
.Breadcrumb-separator {
    opacity: 0.5;
}
.Breadcrumb--inverted {
    color: $Blank;
    .Breadcrumb-item {
        color: $Blank;
    }
}
