
.Button {
    color: $clearleft-blue;
    display: inline-block;
    border-bottom: 0;
    background-color: #fff;
    border-radius: px2rem(24px);
    padding: px2rem(12px) px2rem(24px);
    text-decoration: none;
    font-weight: 700;
    @include font(17px, 20px);
}