
.Card {
    background: #FFFFFF;
    color: $jet-grey;
    border: 2px solid $light-grey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}
.Card-context {
    @include font(14px, 17px);
    margin-bottom: px2rem(12px);
    color: $mid-grey;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    &--bare {
        margin-bottom: 0;
    }
}
.Card-title {
    @include font(30px, 30px);
    font-weight: 700;
    margin: 0 0 px2rem(18px) 0;
}
.Card-image {
    width: 100%;
}
.Card-description {
    color: #505050;
    @include font(17px, 29px);
    margin: 0 0 px2rem(8px) 0;
}
.Card-primary {
    flex-grow: 1;
    padding: 1rem;
}
.Card-secondary {
    padding: 1rem;
}
.Card--header {
    border-radius: 0;
}
@media screen and (min-width: px2em(288px)) {
    .Card-primary {
        padding: px2rem(24px);
    }
    .Card-secondary {
        padding: px2rem(24px);
    }
}
