.Ch4DisplayCase {
    position: relative;
    background-color: #F2F7FB;
    box-shadow: 0 -2px 0 0 $Gainsboro-blue, 0 2px 0 0 $Gainsboro-blue;
    background-image: url('/assets/img/work/ch4/display-case/logo-background.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    .TextBlock {
        max-width: px2rem(620px);
    }
}
.Ch4DisplayCase-wrapper {
    margin: 0 auto;
    margin-top: 12rem;
    max-width: 65rem;
    background-image: url('/assets/img/work/ch4/display-case/dots.svg');
    background-repeat: no-repeat;
    background-position: 100% -1px;
    padding-bottom: 1rem;
}
.Ch4DisplayCase-chimney {
    margin-top: -10rem;
}
@media screen and (min-width: px2em(600px)) {
    .Ch4DisplayCase-wrapper {
        margin-top: 13rem;
        margin-bottom: px2rem(58px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
@media screen and (min-width: px2em(900px)) {
    .Ch4DisplayCase-wrapper {
        margin-top: 16rem;
    }
    .Ch4DisplayCase-chimney {
        margin-top: -13rem;
    }
}
