.Ch4Project {
    overflow: hidden;
    position: relative;
    color: #ffffff;
    background-color: #7123A8;
    /*background-image: radial-gradient(59% 81%, #7123A8 63%, #4D1574 100%);*/
}
.Ch4Project-wrapper {
    max-width: px2em(900px);
    margin: 0 auto;
    padding: px2rem(16px);
    -webkit-font-smoothing: antialiased;
}
.Ch4Project-image {
    width: 52%;
    right: px2rem(-32px);
    top: 0;
    position: absolute;
    z-index: -1;
}
.Ch4Project-title {
    font-family: $font-statement;
    @include font(40px, 45px);
    font-weight: 700;
    margin-top: px2rem(24px);
}
.Ch4Project-extension {
    max-width: px2rem(400px);
}
.Ch4Project-primary {
    max-width: px2rem(620px);
}
.Ch4Project-description {
    max-width: px2rem(530px);
}
.Ch4Project-image {
    text-align: center;
    margin: px2rem(48px) auto 0 auto;
    display: block;
}
.Ch4Project-logo {
    margin-top: px2rem(32px);
    margin-bottom: px2rem(32px);
}
@media screen and (min-width: px2em(520px)) {
    .Ch4Project-title {
        letter-spacing: px2rem(-1.45px);
        @include font(72px, 77px);
    }
}
@media screen and (min-width: px2em(700px)) {
    .Ch4Project-wrapper {
        padding: px2rem(48px) px2rem(24px) px2rem(32px) px2rem(24px);
    }
    .Ch4Project-primary {
        width: 70%;
    }
    .Ch4Project--stage .Ch4Project-wrapper {
        background-position: 140% 100%;
    }
}
@media screen and (min-height: px2em(500px)) {
    .Ch4Project--stage .Ch4Project-wrapper {
        min-height: 90vh;
        display: flex;
        align-items: center;
    }
}
@media screen and (min-width: px2em(800px)) {
    .Ch4Project--stage .Ch4Project-wrapper {
        background-position: 130% 100%;
        background-size: px2rem(500px);
    }
}
@media screen and (min-width: px2em(900px)) {
    .Ch4Project-wrapper,
    .Ch4Project--stage .Ch4Project-wrapper {
        background-position: 100% 100%;
    }
}

@media screen and (min-width: px2em(1050px)) {
    .Ch4Project--stage .Ch4Project-wrapper {
        background-size: px2rem(600px);
        max-width: px2em(980px);
    }
}