
.Chapter {
    padding: px2rem(24px) px2rem(16px);
    max-width: px2em(1040px);
    margin: 0 auto;
    background-color: #ffffff;
    border-bottom: solid 1px $shadow-grey;
}
.Chapter:last-child {
    margin-bottom: px2rem(84px);
}
.Chapter-title {
    @include font(30px, 37px);
    font-family: $font-secondary;
    font-weight: 700;
    margin-bottom: px2rem(16px);
    color: $jet-grey;
    margin: 0 0 px2rem(32px) 0;
}
.Chapter-space {
    color: $mid-grey;
}
.Chapter-image {
    max-width: 100%;
}
@media screen and (min-width: px2em(550px)) {
    .Chapter {
        display: flex;
        flex-wrap: wrap;
        padding: px2rem(24px);
    }
    .Chapter-title {
        @include font(40px, 47px);
    }
    .Chapter-space {
        width: 50%;
    }
}
@media screen and (min-width: px2em(800px)) {
    .Chapter {
        display: flex;
        flex-wrap: wrap;
        padding-top: px2rem(64px);
        padding-bottom: px2rem(64px);
    }
    .Chapter-space {
        padding: px2rem(32px);
    }
    .Chapter-title {
        @include font(40px, 47px);
    }
    .Chapter-label {
        padding: 1.25rem 0 1rem 1rem;
    }
    .Chapter-space--secondary {
        display: flex;
        justify-content: center;
    }
    .Chapter:nth-child(odd) .Chapter-space--primary {
        order: 2;
    }
}
