.ContactCard {
    margin-top: px2rem(24px);
    @include font(16px, 28px);
    max-width: px2em(420px);
    color: $dark-grey;
    -webkit-font-smoothing: antialiased;
    margin-bottom: px2rem(24px);
}
@media screen and (min-width: px2em(580px)) {
    .ContactCard {
        display: flex;
        @include font(17px, 30px);
        margin-top: px2rem(30px);
        margin-bottom: px2rem(30px);
    }
    .ContactCard-item {
        flex-basis: 50%;
    }
    .Contact-group {
        margin-top: px2rem(-6px);
    }
}