
.Counter {
    @include font(25px);
    font-weight: 700;
    border-radius: 50%;
    background-color: transparent;
    border: px2rem(2px) solid $dark-grey;
    width: px2em(26px);
    height: px2em(26px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: px2rem(4px);
}
.Counter-small {
    @include font(10px);
}
