
.Details-item {
    margin: 0 px2rem(16px) px2rem(12px) 0;
}
.Details-heading {
    @include font(14px, 17px);
    font-weight: 700;
    color: #b2b2b2;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: px2rem(4px);
}
.Details-description {
    @include font(16px, 24px);
    color: $dark-grey;
    margin: 0;
}
@media screen and (min-width: px2em(320px)) {
    .Details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
