.EventCard {
    padding: 2rem 1.5rem;
}
.EventCard-context {
    color: $Crayola-red;
    @include font(14px, 17px);
    font-family: $font-secondary;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
}
.EventCard-eventName {
    font-family: $font-secondary;
    font-weight: 700;
    @include font(30px, 35px);
    margin-bottom: px2rem(20px);
}
.EventCard-image {
    margin-bottom: px2rem(16px);
}
.EventCard-section {
    margin-bottom: 1rem;
}
.EventCard-list {
    margin: 0;
}
.EventCard-listItem {
    display: inline-block;
    list-style: none;
    margin-right: px2rem(2px);
    -webkit-font-smoothing: antialiased;
    &:not(:last-child):after {
        content: '\00200b,\00a0';
        margin-left: -.13em;
    }
}
.EventCard--inverted * {
    color: $Blank;
}

@media screen and (min-width: px2em(850px)) {
    .EventCard {
        padding: px2rem(44px);
    }
    .EventCard-eventName {
        @include font(30px, 39px);
    }
    .EventCard-image {
        margin-bottom: px2rem(32px);
    }
    .EventCard-image+.EventCard-eventName {
        margin-top: -1*px2rem(20px);
    }
}

@media screen and (min-width: px2em(1000px)) {
    .EventCard {
        padding: px2rem(74px);
    }
    .EventCard-eventName {
        @include font(40px, 49px);
    }
}