.EventCard {
    margin-bottom: px2rem(16px);
}
.EventCard-context {
    margin-top: px2rem(8px);
    @include font(14px, 17px);
    text-transform: uppercase;
    color: $dark-grey;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: $font-secondary;
}
.EventCard-image {
    margin-bottom: px2rem(20px);
    margin-top: px2rem(20px);
}
.EventCard-list {
    margin: 0;
}
.EventCard-listItem {
    display: inline-block;
    list-style: none;
}
.EventCard--inverted * {
    color: #fff;
}
.EventsCard-link {
    margin-top: px2rem(16px);
    margin-bottom: px2rem(16px);
    display: inline-block;
}