
.EvoProject {
    color: $Blank;
    background-color: #000;
    background-image: url('http://clearleft-v5.s3.amazonaws.com/evo-kyle.jpg');
    background-size: 80%;
    background-position: 300px 50%;
    background-repeat: no-repeat;
    position: relative;
}
.EvoProject-wrapper {
    max-width: px2em(900px);
    margin: 0 auto;
    padding: px2rem(24px) px2rem(16px);
    -webkit-font-smoothing: antialiased;
    position: relative;
    z-index: 1;
}
.EvoProject-title {
    margin-top: px2rem(24px);
}
.EvoProject-extension {
    max-width: px2rem(350px);
}
.EvoProject-description {
    max-width: px2em(350px);
}
.EvoProject-logo {
    margin-top: px2rem(34px);
}
@media screen and (min-width: px2em(500px)) {
    .EvoProject-wrapper {
        padding-top: px2rem(40px);
        padding-bottom: px2rem(52px);
        padding-left: px2rem(24px);
        padding-right: px2rem(24px);
        overflow: hidden;
    }
    .EvoProject-primary {
        width: 60%;
    }
}
@media screen and (min-width: px2em(700px)) {
    .EvoProject-wrapper {
        padding-top: px2rem(70px);
        padding-bottom: px2rem(70px);
    }
}
@media screen and (min-width: px2em(830px)) {
    .EvoProject-wrapper {
        padding-top: px2rem(90px);
        padding-bottom: px2rem(90px);
    }
}

/*--tall variation*/
.EvoProject--tall {
    .EvoProject-primary {
        float: none;
    }
}
@media screen and (min-width: px2em(500px)) {
    .EvoProject--tall {
        .EvoProject-wrapper {
            background-size: px2rem(350px);
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        .EvoProject-extension {
            max-width: px2rem(300px);
        }
        .EvoProject-primary {
            width: 45%;
            padding-left: 0;
        }
    }
}
@media screen and (min-width: px2em(600px)) {
    .EvoProject--tall {
        .EvoProject-wrapper {
            background-size: px2rem(390px);
        }
    }
}
@media screen and (min-width: px2em(640px)) {
    .EvoProject--tall {
        .EvoProject-wrapper {
            background-size: px2rem(480px);
        }
    }
}
@media screen and (min-width: px2em(700px)) {
    .EvoProject--tall {
        .EvoProject-wrapper {
            background-size: px2rem(530px);
        }
    }
}
@media screen and (min-height: px2em(900px)) and (min-width: px2em(800px)) {
    .EvoProject--tall {
        .EvoProject-wrapper {
            min-height: 47vh;
        }
    }
}
@media screen and (min-height: px2em(500px)) and (min-width: px2em(700px)) {
    .EvoProject--tall .EvoProject-wrapper {
        min-height: 70vh;
        align-items: center;
    }
}
@media screen and (min-height: px2em(880px)) and (min-width: px2em(700px)) {
    .EvoProject--tall .EvoProject-wrapper {
        min-height: 47vh;
        align-items: center;
    }
}
@media screen and (min-width: px2em(820px)) {
    .EvoProject--tall {
        .EvoProject-wrapper {
            background-position: 100% 124%;
        }
        .EvoProject-extension {
            max-width: px2rem(330px);
        }
    }
}
@media screen and (min-height: px2em(880px)) and (min-width: px2em(950px)) {
    .EvoProject--tall {
        .EvoProject-title {
            max-width: 100%;
        }
    }
}

/* --stage variation */
.EvoProject--stage {
    .EvoProject-primary {
        float: none;
        padding-left: 0;
        width: 80%;
    }
    .EvoProject-title {
        max-width: none;
    }
}
@media screen and (min-width: px2em(650px)) {
    .EvoProject--stage {
        .EvoProject-wrapper {
            padding-top: px2rem(50px);
        }
        .EvoProject-title {
            padding-top: px2rem(30px);
            padding-bottom: px2rem(20px);
        }
    }
}
@media screen and (min-width: px2em(1020px)) {
    .EvoProject--stage {
        .EvoProject-wrapper {
            padding-bottom: px2rem(120px);
        }
    }
}

/*Display case*/
.EvoDisplayCase {
    position: relative;
    background-color: #EAE5D9;
    .TextBlock {
        max-width: px2rem(620px);
    }
}
.EvoDisplayCase-wrapper {
    margin: 0 auto;
    margin-top: 6rem;
    max-width: 65rem;
    padding-bottom: px2rem(16px);
}
.EvoDisplayCase-chimney {
    margin-top: -5rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
@media screen and (min-width: px2em(600px)) {
    .EvoDisplayCase-wrapper {
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .EvoDisplayCase-chimney {
        margin-top: -8rem;
    }
}
@media screen and (min-width: px2em(900px)) {
    .EvoDisplayCase-wrapper {
        margin-top: 18rem;
        padding-bottom: px2rem(64px);
    }
    .EvoDisplayCase-chimney {
        margin-top: -16rem;
        max-width: px2rem(800px);
    }
    .EvoDisplayCase .ImageBlock {
        margin-top: px2rem(20px);
        margin-bottom: px2rem(20px);
    }
}
