.EvoDisplayCase {
    position: relative;
    background-color: #EAE5D9;
    .TextBlock {
        max-width: px2rem(620px);
    }
}
.EvoDisplayCase-wrapper {
    margin: 0 auto;
    margin-top: 6rem;
    max-width: 65rem;
    padding-bottom: px2rem(16px);
}
.EvoDisplayCase-chimney {
    margin-top: -5rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
@media screen and (min-width: px2em(600px)) {
    .EvoDisplayCase-wrapper {
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .EvoDisplayCase-chimney {
        margin-top: -8rem;
    }
}
@media screen and (min-width: px2em(900px)) {
    .EvoDisplayCase-wrapper {
        margin-top: 18rem;
        padding-bottom: px2rem(64px);
    }
    .EvoDisplayCase-chimney {
        margin-top: -16rem;
        max-width: px2rem(800px);
    }
    .EvoDisplayCase .ImageBlock {
        margin-top: px2rem(20px);
        margin-bottom: px2rem(20px);
    }
}
