.GreenDots {
    background: url(/assets/img/green-dots.svg) 80% -14rem no-repeat;
    padding-top: px2rem(120px);
}
@media screen and (min-width: px2em(800px)) {
    .GreenDots {
        background-position-x: 70%;
    }
}