.Hello {
    background-image: url('/assets/img/darkgrey-dots-corner.svg');
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-color: #8E3581;
    color: #fff;
    padding: px2rem(16px);
}
.Hello-container {
    max-width: px2rem(580px);
    margin: 0 auto;
}
.Hello-title {
    margin-top: px2rem(16px);
    margin-bottom: px2rem(20px);
}
@media screen and (min-width: px2rem(600px)) {
    .Hello {
        padding: px2rem(38px) px2rem(32px) px2rem(72px) px2rem(32px);
        background-image: url('/assets/img/darkgrey-dots-corner.svg'), url('/assets/img/peeks/hi.png');
        background-position: 100% 0, 0 65%;
    }
    .Hello-body {
        margin-left: px2rem(38px);
    }
}
@media screen and (min-width: px2rem(900px)) {
    .Hello {
        background-position: 100% 0, 15% 65%;
    }
}
