.Icon {

    &:before {
        content: '';
        width: px2rem(16px);
        height: px2rem(16px);
        background-repeat: no-repeat;
        display: inline-block;
        margin-right: px2rem(6px);
    }

    &--close:before {
        background-image: url(/assets/img/icons/close.svg);
    }
}
