.ImageBlock {
    padding: px2rem(16px);
    display: table;
    max-width: px2em(1040px);
    margin: 0 auto;
}
.ImageBlock-item {
    @include font(13px, 16px);
    font-family: $font-secondary;
    letter-spacing: px2rem(1px);
    color: $mid-grey;
    text-transform: uppercase;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
}
@media screen and (min-width: px2em(500px)) {
    .ImageBlock {
        padding-top: px2rem(32px);
        padding-bottom: px2rem(32px);
    }
}