.ImageBlock {
    padding: px2rem(8px) px2rem(16px);
    display: table;
    margin: 0 auto;
    max-width: 100%;

    img {
        display: block;
        margin: 0 auto;
    }
}
.ImageBlock-item {
    max-width: px2rem(648px);
    margin: px2rem(8px) auto;
    color: $mid-grey;
    @include font(14px, 24px);
    font-family: $font-main;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}
.ImageBlock--rightCaption {
    .ImageBlock-item {
        text-align: right;
    }
}
.ImageBlock--short {
    padding-bottom: 0;
}
.ImageBlock--first {
    padding-top: 1rem;
}
@media screen and (min-width: px2em(500px)) {
    .ImageBlock {
        padding-top: px2rem(32px);
        padding-bottom: px2rem(32px);
    }
    .ImageBlock--short {
        padding-bottom: 0;
    }
    .ImageBlock--first {
        padding-top: 1rem;
    }
}
