.ImageGallery {
    max-width: px2em(940px);
    margin-left: auto;
    margin-right: auto;
    /*padding: px2rem(32px) px2rem(16px);*/
}
.ImageGallery-image {
    width: 100%;
    vertical-align: bottom;
    float: left;
    padding: 0.5rem;
}
@media screen and (min-width: px2em(300px)) {
    .ImageGallery {
        display: flex;
        flex-wrap: wrap;
    }
    .ImageGallery-group {
        display: flex;
        align-items: flex-start;
        width: 100%;
        &--wide .ImageGallery-image {
            width: 100%;
        }
        &--pair .ImageGallery-image {
            width: 50%;
        }
    }
    .ImageGallery-group--quad {
        display: flex;
        flex-direction: column;
    }
    .ImageGallery-quadRow {
        width: 100%;
    }
    .ImageGallery-image {
        width: auto;
        &--quadSmall {
            width: 33.333%;
        }
        &--quadWide {
            width: 66.666%;
        }
    }
}
@media only screen and (min-width: px2em(680px)) {
    .ImageGallery {
        max-width: px2em(720px);
    }
    .ImageGallery-group {
        width: 50%;
    }
}
@media only screen and (min-width: px2em(980px)) {
    .ImageGallery {
        max-width: px2em(940px);
    }
}
@media only screen and (min-width: px2em(1200px)) {
    .ImageGallery {
        max-width: px2em(1040px);
    }
}
