.IndexCard {
    color: $jet-grey;
    width: 96%;
    margin: 1% 2%;
    line-height: 1.1;
    text-decoration: none;
    border-bottom: none;
    display: flex;
    align-items: flex-end;
    &:hover {
        color: inherit;
    }
    &:hover .IndexCard-info {
        text-decoration: underline;
    }
}
.IndexCard-name {
    @include font(14px, 17px);
    text-transform: uppercase;
    color: $mid-grey;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 0 px2rem(4px) 0;
}
.IndexCard-details {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}
.IndexCard-info {
    @include font(12px, 14px);
}
.IndexCard--profile {
    position: relative;
    margin-bottom: 2rem;
    .IndexCard-details {
        position: absolute;
        left: px2rem(16px);
        bottom: px2em(-32px);
        background-color: $light-grey;
        width: px2rem(144px);
    }
    .IndexCard-name {
        color: $jet-grey;
        @include font(18px, 22px);
    }
    .IndexCard-info {
        margin: 0;
    }
}
.IndexCard--tile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: $light-grey;
    padding: px2rem(16px) px2rem(16px) 0 px2rem(16px);
    .IndexCard-image {
        order: 2;
    }
    .IndexCard-details {
        padding: 0;
    }
    .IndexCard-name {
        @include font(25px, 25px);
        color: $jet-grey;
        font-weight: 700;
        margin-bottom: px2rem(6px);
        text-transform: none;
    }
    .IndexCard-info {
        margin-bottom: 1rem;
        color: $mid-grey;
        text-transform: uppercase;
        @include font(14px);
        letter-spacing: 1px;
    }
    .IndexCard-image {
        margin: 0 auto;
    }
}
@media screen and (min-width: px2em(220px)) {
    .IndexCard--tile {
        padding: px2rem(24px) px2rem(24px) 0 px2rem(24px);
    }
}
@media screen and (min-width: px2em(350px)) {
    .IndexCard--tile {
        width: 48%;
        margin: 1%;
    }
}
@media screen and (min-width: px2em(640px)) {
    .IndexCard--tile {
        width: 31.333%;
    }
    .IndexCard-name {
        @include font(30px, 30px);
    }
}
@media screen and (min-width: px2em(780px)) {
    .IndexCard--tile {
        width: 23%;
    }
}
