.InfoBlock {
    list-style: none;
    margin-bottom: px2rem(24px);
}
.InfoBlock-link {
    border-bottom: none;
    display: flex;
    align-items: flex-start;
    font-family: $font-secondary;
    font-weight: 700;
    line-height: px2rem(24px);
}
.InfoBlock-image {
    flex-shrink: 0;
    flex-basis: auto;
    margin-right: px2rem(16px);
    margin-bottom: px2rem(24px);
}
.InfoBlock-group {
    flex-grow: 1;
}
.InfoBlock-title {
    margin-top: 0;
    margin-bottom: px2rem(4px);
    color: $dark-grey;
    @include font(17px);
}
.InfoBlock-sub {
    text-transform: uppercase;
    font-size: px2rem(14px);
    color: $light-grey;
    letter-spacing: 1px;
}
