.InfoBlock {
    border-bottom: none;
    display: flex;
    font-family: 'Gilroy';
    font-weight: 700;
}
.InfoBlock-image {
    margin-right: px2rem(16px);
}
.InfoBlock-title {
    margin: 0;
    color: $dark-grey;
    @include font(17px, 25px);
}
.InfoBlock-sub {
    text-transform: uppercase;
    font-size: px2rem(14px);
    color: $mid-grey;
    letter-spacing: 1px;
}