.InfoList {
    font-family: $font-secondary;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

.InfoList>* {
    display: inline;
}

.InfoList-term[class*="InfoList-term--"] span {
    @extend .l-vh;
    
}

.InfoList-term:not([class*="InfoList-term--"]):after {
    content: ':';
    margin-right: .3em;
}

.InfoList-term[class*="InfoList-term--"]+.InfoList-description:before {
    display: inline-block;
    content: '';
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    width: 1.25em;
    height: 1.25em;
    margin-right: .3em;
    margin-bottom: -.3em;
}

.InfoList-term--date+.InfoList-description:before {
    background-image: url('/assets/img/icons/icon-calendar.svg');
}

.InfoList-term--location+.InfoList-description:before {
    background-image: url('/assets/img/icons/icon-map-pin.svg');
}

.InfoList-description {
    margin-left: 0px;
    margin-right: 1em;
    display: inline-block;
}

.InfoList--inverted * {
    color: $Blank;
}

.InfoList--inverted .InfoList-term[class*="InfoList-term--"]+.InfoList-description:before {
    filter: brightness(200%) saturate(0%) opacity(70%);
}