
.InputGroup {
    margin-bottom: px2rem(8px);
    max-width: 28rem;
}
.InputGroup-field {
    background: #fff;
    border: 0;
    font-family: $font-primary;
    @include font(14px);
    padding: px2rem(8px) px2rem(10px);
    border-radius: px2rem(5px);
    border: 1px solid $shadow-grey;
}
.InputGroup-submit {
    border-top-right-radius: px2rem(5px);
    border-bottom-right-radius: px2rem(5px);
    color: #ffffff;
    background-color: $clearleft-red;
    padding: px2rem(6px) px2rem(8px);
    font-family: $font-primary;
    font-weight: 700;
    @include font(14px);
}
.InputGroup-label {
    @include font(16px);
    display: block;
    flex-basis: 100%;
    margin-bottom: px2rem(10px);
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
}
.InputGroup--combo {
    display: flex;
    .InputGroup-field {
        flex-grow: 1;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: 50%;
    }
    .InputGroup-submit {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}
@media screen and (min-width: px2em(350px)) {
    .InputGroup-field {
        @include font(16px);
    }
    .InputGroup-submit {
        padding: px2rem(12px) px2rem(32px);
        @include font(17px);
    }
}
