.Jobs {
    max-width: px2em(840px);
    margin: 0 auto;
    padding: px2rem(40px) px2rem(20px);
    background-color: #F3F3F5;
}
@media screen and (min-width: 700px) {
    .Jobs {
        padding-top: px2rem(60px);
        padding-bottom: px2rem(60px);
    }
    .Job {
        display: flex;
    }
    .Job-section {
        padding: px2rem(16px) 0;
    }
    .Job-section--side {
        padding-right: px2rem(48px);
        width: 28%;
    }
    .Job-section--main {
        width: 75%;
    }
}