.Lead {
    @include font(18px, 28px);
}
.Lead--bar .Lead-content {
    background-image: url('/assets/img/bar.svg');
    background-repeat: no-repeat;
    background-size: px2rem(32px);
    padding-top: px2rem(16px);
    margin-top: px2rem(4px);
}
.Lead--wrapper {
    background-color: #FFFFFF;
    border: px2rem(1px) solid #E2EBF1;
    padding: px2rem(16px) px2rem(24px) px2rem(16px) px2rem(24px);
}
@media screen and (min-width: px2em(520px)) {
    .Lead {
        @include font(20px, 34px);
    }
    .Lead--bar .Lead-content {
        background-size: auto;
        padding-top: px2rem(24px);
    }
    .Lead--wrapper {
        padding: px2rem(32px) px2rem(32px) px2rem(38px) px2rem(32px);
    }
    .Lead-content {
        width: 95%;
    }
}
@media screen and (min-width: px2em(985px)) {
    .Lead--wrapper {
        padding: px2rem(32px) px2rem(64px) px2rem(38px) px2rem(64px);
    }
    .Lead {
        @include font(23px, 36px);
    }
}