.Lead {
    @include font(23px, 36px);
}
.Lead-content {
    max-width: 95%;
}
.Lead--bar .Lead-content {
    background-image: url('/assets/img/bar.svg');
    background-repeat: no-repeat;
    padding-top: px2rem(24px);
    margin-top: px2rem(4px);
}
.Lead--wrapper {
    background-color: #FFFFFF;
    border: px2rem(1px) solid #E2EBF1;
    padding: px2rem(32px) px2rem(64px) px2rem(38px) px2rem(64px);
}