.List {
    display: inline-block;
    padding-left: 0;
    margin: px2rem(8px) 0;
}
.List--inline .List-item {
    display: inline-block;
}
.List-item {
    list-style: none;
    margin-bottom: px2rem(8px);
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
}
.List--tall .List-item {
    margin-top: px2rem(10px);
    margin-bottom: px2rem(10px);
    display: inline-block;
}