.Logo {
    border-bottom: none;
    display: inline-block;
}
.Logo--inverted .Logo-text {
    fill: $Blank;
}
.Logo--plum .Logo-streak {
    stroke: $Brand-plum;
}
.Logo--carribean-green .Logo-streak {
    stroke: $Brand-carribean-green;
}
.Logo--sea-serpent-blue .Logo-streak {
    stroke: $Sea-serpent-blue;
}
.Logo--orange-yellow .Logo-streak {
    stroke: $Orange-yellow;
}
.Logo--crayola-red .Logo-streak {
    stroke: $Crayola-red;
}
.Logo--lapis-lazuli-blue .Logo-streak {
    stroke: $Lapis-lazuli-blue;
}
.Logo--brandeis-blue .Logo-streak {
    stroke: $Brandeis-blue;
}
@media only screen and (max-width: px2em(340px)) {
    .Logo svg {
        width: px2rem(130px);
    }
}
