.Logo {
    border-bottom: none;
}
.Logo--inverted .Logo-text {
    fill: $Blank;
}
.Logo--purple .Logo-streak {
    fill: $Brand-plum;
}
.Logo--red .Logo-streak {
    fill: $Crayola-red;
}
.Logo--blue .Logo-streak {
    fill: $Lapis-lazuli-blue;
}
.Logo--yellow .Logo-streak {
    fill: $Orange-yellow;
}
.Logo--lightBlue .Logo-streak {
    fill: $Sea-serpent-blue;
}

/* New classes for all the brand colours which correspond to the CMS brand colour naming */
.Logo--plum .Logo-streak {
    fill: $Brand-plum;
}
.Logo--carribean-green .Logo-streak {
    fill: $Brand-carribean-green;
}
.Logo--sea-serpent-blue .Logo-streak {
    fill: $Sea-serpent-blue;
}
.Logo--orange-yellow .Logo-streak {
    fill: $Orange-yellow;
}
.Logo--crayola-red .Logo-streak {
    fill: $Crayola-red;
}
.Logo--lapis-lazuli-blue .Logo-streak {
    fill: $Lapis-lazuli-blue;
}
.Logo--brandeis-blue .Logo-streak {
    fill: $Brandeis-blue;
}
