.Masthead-primary {
    padding: px2em(16px);
}
.Masthead-secondary {
    padding: px2em(16px);
}
.Masthead a {
    font-weight: 700;
    border-bottom: px2rem(2px) $clearleft-red solid;
}
@media screen and (min-width: px2em(780px)) {
    .Masthead {
        max-width: px2rem(940px);
        margin: auto;
        display: flex;
        padding: px2rem(20px) px2rem(20px) px2rem(40px) px2rem(20px);
    }
    .Masthead--combo .Masthead-primary {
        width: 70%;
    }
    .Masthead-secondary {
        width: 30%;
        margin-top: 1rem;
    }
}
