.Masthead-primary {
    padding: px2em(16px);
    position: relative;
    z-index: 1;
}
.Masthead-secondary {
    padding: px2em(16px);
    position: relative;
}
.Masthead-sub {
    margin-top: px2rem(16px);
}
.Masthead-link {
    font-weight: 700;
}
.Masthead-exit {
    border-bottom: none;
    display: block;
    margin-top: px2rem(16px);
}
.Masthead--tall {
    padding-bottom: px2rem(80px);
}
.Masthead--mega {
    padding-bottom: px2rem(220px);
}
@media screen and (min-width: px2em(500px)) {
    .Masthead-exit {
        position: absolute;
        right: px2rem(16px);
        top: px2rem(20px);
        &:hover {
            opacity: 0.5;
        }
    }
}
@media screen and (min-width: px2em(780px)) {
    .Masthead {
        max-width: px2em(980px);
        margin: auto;
        display: flex;
        padding: px2rem(30px) px2rem(20px) px2rem(40px) px2rem(20px);
    }
    .Masthead-primary {
        width: 72%;
    }
    .Masthead-secondary {
        width: 28%;
        margin-top: px2rem(16px);
    }
    .Masthead--combo {
        max-width: px2em(1040px);
        .Masthead-primary {
            word-wrap: break-word;
            width: 50%;
        }
        .Masthead-secondary {
            width: 50%;
        }
    }
    .Masthead--streak .Masthead-primary {
        &:after {
            content: "";
            width: px2rem(275px);
            height: px2rem(32px);
            display: block;
            position: absolute;
            z-index: -1;
            top: px2rem(82px);
            background: url(../img/streak-clearleft.svg) 0 100% no-repeat;
        }
    }
    .Masthead--tall {
        padding-bottom: px2rem(50px);
    }
    .Masthead--mega {
        padding-bottom: px2rem(220px);
    }

}
@media screen and (min-width: px2em(800px)) {
    .Masthead--combo .Masthead-primary {
        margin-left: px2rem(32px);
        padding-right: px2rem(64px);
    }
}
@media screen and (min-width: px2em(900px)) {
    .Masthead--tall {
        padding-bottom: px2rem(130px);
    }
    .Masthead--mega {
        padding-bottom: px2rem(240px);
    }
}