.Masthead--full {
    padding: px2rem(16px) px2rem(16px) px2rem(24px) px2rem(16px);
    min-height: calc(100vh - 2.5rem);
}
.Masthead-primary {
    padding: px2rem(16px) px2rem(16px) px2rem(24px) px2rem(16px);
    position: relative;
    z-index: 1;

    .Heading {
        margin: 0;
    }
}
.Masthead-secondary {
    padding: px2rem(16px) px2rem(16px) 0 px2rem(16px);
    position: relative;
}
.Masthead-third {
    padding: 0 px2rem(16px) px2rem(16px) px2rem(16px);
}
@media screen and (min-height: px2em(880px)) {
    .Masthead--full {
        min-height: calc(70vh - 24px - 16px);
    }
}
@media screen and (min-width: px2em(850px)) {
    .Masthead {
        max-width: px2em(930px);
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        padding: px2rem(30px) px2rem(20px) px2rem(40px) px2rem(20px);
    }
    .Masthead-primary {
        order: 1;
        width: 85%;
    }
    .Masthead-secondary {
        order: 2;
        width: 15%;
    }
}
/*Masthead--arrows*/
@media screen and (min-width: px2em(850px)) {
    .Masthead--arrows {
        .Masthead-secondary {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 0;
        }
        a[rel="next"] {
            margin-right: 0;
        }
    }
}

/*Masthead--tall*/
.Masthead--chimney {
    padding-bottom: px2rem(60px);
}
@media screen and (min-width: px2em(800px)) {
    .Masthead--chimney {
        padding-bottom: px2rem(100px);
    }
}

/*Masthead--combo*/
@media screen and (min-width: px2em(850px)) {
    .Masthead--combo {
        .Masthead-primary {
            width: 55%;
        }
        .Masthead-secondary {
            order: 3;
            text-align: right;
            width: 15%;
            padding: px2rem(35px) 0 0 0;
        }
        .Masthead-third {
            order: 2;
            width: 30%;
            padding-top: px2rem(35px);
            .Heading--context {
                margin: 0;
            }
        }
    }
}
