.MegaLink {
    position: relative;
    font-family: $font-secondary;
}
.MegaLink--inverted {
    color: $Blank;
    border-color: $Blank;
}
.MegaLink--super {
    @include font(22px, 27px);
}
.MegaLink--button {
    color: $Brandeis-blue;
    border-bottom: $Crayola-red px2rem(2px) solid;
    font-weight: 700;
    padding-left: 0;
    background: transparent;
}
.MegaLink--inverted {
    color: $Blank;
    &:hover,
    &:focus,
    &:active {
        color: $Blank;
    }
}
.MegaLink--block {
    background-color: $Lapis-lazuli-blue;
    border-bottom: none;
    color: $Blank;
    @include font(22px, 27px);
    padding: px2rem(16px) px2rem(32px);

    span {
        display: inline-block;
        border-bottom: 2px solid $Crayola-red;
    }
}
