.MegaLink {
    position: relative;
    font-family: $font-secondary;
    -webkit-font-smoothing: antialiased;
}

.MegaLink--inverted {
    color: $Blank;
    border-color: $Blank;
}

.MegaLink--super {
    @include font(22px, 27px);
}

.MegaLink--button {
    color: $Brandeis-blue;
    border-bottom: $Crayola-red px2rem(2px) solid;
    font-weight: 700;
    padding-left: 0;
    background: transparent;
}

.MegaLink--inverted {
    color: $Blank;
    &:hover,
    &:focus,
    &:active {
        color: $Blank;
    }
}

.MegaLink--block {
    border: 1px solid transparent;
    @include font(20px, 24px);
    text-align: center;
    padding: px2rem(16px) px2rem(32px);
    display: block;
    background-color: $Crayola-red;
    color: $Blank;
    &:hover,
    &:focus,
    &:active {
        color: $Blank;
    }
}

.MegaLink--block.MegaLink--inverted {
    background-color: fade-out($Blank, .9);
}
.MegaLink--block.MegaLink--inverted:hover,
.MegaLink--block.MegaLink--inverted:focus {
    background-color: fade-out($Blank, .85);
}