.Metadata {
    font-family: $font-main;
    margin-top: px2rem(8px);
    margin: px2rem(8px) px2rem(16px) px2rem(24px) 0;
}
.Metadata-heading {
    display: inline;
    @include font(13px, 16px);
    font-family: $font-secondary;
    font-weight: 700;
    color: $Dark-liver-grey;
}
.Metadata-heading::after {
    content: ':';
}
.Metadata-description {
    display: inline;
    @include font(14px, 22px);
    color: $mid-grey;
    margin: 0;
}
.Metadata--stacked {
    display: grid;
    grid-gap: px2rem(8px);
}
@media all and (min-width: px2rem(500px)) {
    .Metadata--stacked .Metadata-heading {
        grid-column: span 2;
    }
}