
.OffCanvas {
    background-color: $Brand-carribean-green;
    height: 100vh;
    padding: 1rem;
    width: 100%;
    z-index: 20;
}
.OffCanvas-header {
    text-align: right;
}
.OffCanvas-close {
    display: none;
    background-color: transparent;
    color: $Blank;
    @include font(18px, 27px);
    font-weight: 700;
    text-transform: uppercase;
}
.OffCanvas-listItem {
    list-style: none;
}
.OffCanvas-link {
    border: none;
    color: $Blank;
    display: block;
    @include font(40px, 47px);
    font-family: $font-statement;
    font-weight: 800;
    letter-spacing: -0.58px;
    padding: px2em(2px) 1rem;
    text-align: center;
    -webkit-font-smoothing: antialiased;

    &:hover,
    &:focus,
    &:active {
        color: $Blank;
    }
}

@media screen and (max-height: px2em(400px)) {
    .OffCanvas-list {
        margin-top: 0;
    }
    .OffCanvas-link {
        font-size: 9vh;
    }
}
@media screen and (min-width: px2em(500px)) and (min-height: px2em(500px)) {
    .OffCanvas-close {
        @include font(28px, 33px);
    }
    .OffCanvas-link {
        @include font(68px, 75px);
    }
}
