.PenguinProject {
    background-color: #FF6600;
    background-image: url(/assets/img/work/penguin/orange-bg.jpg);
    background-size: cover;
    color: #ffffff;
}
.PenguinProject-wrapper {
    max-width: px2em(900px);
    margin: 0 auto;
    padding: px2rem(16px);
    -webkit-font-smoothing: antialiased;
}
.PenguinProject-title {
    font-family: $font-statement;
    @include font(40px, 45px);
    font-weight: 700;
    margin-top: px2rem(24px);
}
.PenguinProject-extension {
    max-width: px2rem(300px);
}
.PenguinProject-primary {
    max-width: px2rem(620px);
}
.PenguinProject-description {
    max-width: px2rem(530px);
}
.PenguinProject-logo {
    margin-top: px2rem(32px);
    margin-bottom: px2rem(32px);
}
@media screen and (min-width: px2em(550px)) {
    .PenguinProject-title {
        letter-spacing: px2rem(-1.45px);
        @include font(72px, 77px);
    }
}
@media screen and (min-width: px2em(500px)) {
    .PenguinProject-wrapper {
        padding: px2rem(32px) px2rem(24px) px2rem(48px) px2rem(24px);
        background-image: url(/assets/img/work/penguin/penguin.png);
        background-repeat: no-repeat;
        background-position: 120% 100%;
        background-size: px2rem(280px);
    }
    .PenguinProject-primary {
        width: 70%;
    }
}
@media screen and (min-width: px2em(700px)) {
    .PenguinProject-wrapper {
        background-size: px2rem(380px);
    }
}
@media screen and (min-width: px2em(900px)) {
    .PenguinProject-wrapper {
        background-position: 100% 100%;
    }
}

/*--tall variation*/
@media screen and (min-width: px2em(700px)) {
    .PenguinProject--tall {
        .PenguinProject-wrapper {
            display: flex;
            align-items: center;
            background-size: px2rem(350px);
        }
    }
}
@media screen and (min-height: px2em(500px)) and (min-width: px2em(700px)) {
    .PenguinProject--tall .PenguinProject-wrapper {
        min-height: 70vh;
        align-items: center;
    }
}
@media screen and (min-height: px2em(880px)) and (min-width: px2em(700px)) {
    .PenguinProject--tall .PenguinProject-wrapper {
        min-height: 47vh;
        align-items: center;
    }
}
@media screen and (min-width: px2em(800px)) {
    .PenguinProject--tall {
        .PenguinProject-wrapper {
            background-size: px2rem(500px);
        }
    }
}

/*--stage variation--*/
@media screen and (min-width: px2em(800px)) {
    .PenguinProject--stage .PenguinProject-wrapper {
        background-position: 140% 100%;
    }
}
@media screen and (min-height: px2em(400px)) and (min-width: px2em(700px)) {
    .PenguinProject--stage {
        .PenguinProject-wrapper {
            min-height: 58vh;
            padding: px2rem(32px) px2rem(24px) 0 px2rem(24px);
        }
    }
}
@media screen and (min-width: px2em(800px)) {
    .PenguinProject--stage {
        .PenguinProject-wrapper {
            background-position: 120% 100%;
            background-size: px2rem(470px);
        }
    }
}
@media screen and (min-height: px2em(400px)) and (min-width: px2em(920px)) {
    .PenguinProject--stage {
        .PenguinProject-wrapper {
            background-size: px2rem(600px);
            padding-bottom: px2rem(80px);
        }
    }
}
@media screen and (min-width: px2em(1200px)) {
    .PenguinProject--stage {
        background-image: url(/assets/img/work/penguin/penguin.png), url(/assets/img/work/penguin/orange-bg.jpg);
        background-position: 100% 100%, 0 0;
        background-size: px2rem(700px), cover;
        background-repeat: no-repeat;
        .PenguinProject-wrapper {
            background-image: none;
        }
    }
}

/*Dipsplay case*/
.PenguinDisplayCase {
    position: relative;
    background-color: #FCF9F2;
    box-shadow: 0 -2px 0 0 #E5DECF, 0 2px 0 0 #E5DECF;
    background-repeat: no-repeat;
    background-position: bottom right;
}
.PenguinDisplayCase-wrapper {
    margin: 0 auto;
    margin-top: 18rem;
    max-width: 53rem;
    background-repeat: no-repeat;
    background-position: 100% -1px;
    padding-bottom: 1rem;
}
.PenguinDisplayCase-chimney {
    margin-top: -17rem;
    margin-bottom: px2rem(10px);
}
.PenguinDisplayFont {
    padding: px2rem(20px);
    background-color: #ffffff;
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);
    border-radius: 10px;
    width: 47%;
    display: inline-block;
    float: left;
    margin-bottom: px2rem(40px);
    margin-top: px2rem(20px);
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: px2rem(10px);
        max-height: px2rem(100px);
    }
    &--left {
        margin-right: 1.5%;
    }
    &--right {
        margin-left: 1.5%;
    }
}
@media screen and (min-width: px2em(600px)) {
    .PenguinDisplayCase-wrapper {
        margin-top: 20rem;
    }
}
