
.PrimaryNavigation-menu {
    display: none;
    color: #333;
    background-color: transparent;
    border: 2px solid #333;
    border-radius: px2rem(24px);
    @include font(14px, 16px);
    font-family: $font-secondary;
    font-weight: 700;
    padding: px2rem(6px) px2rem(12px);
    text-decoration: none;
}

.PrimaryNavigation-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}
.PrimaryNavigation-listItem {
    display: inline-flex;
}
.PrimaryNavigation-link {
    position: relative;
    display: block;
    padding: px2rem(8px);
    color: #333;
    @include font(15px, 18px);
    font-weight: 700;
    border-bottom: none;
    &::after {
        position: absolute;
        left: 0;
        right: 100%;
        height: 4px;
        bottom: 0px;
        content: "";
    }
    &:hover::after,
    &:active::after,
    &:focus::after {
        left: 0;
        right: 0;
    }
    &:hover,
    &:active,
    &:focus {
        color: $Crayola-red-acc2;
    }
    &.is-active::after {
        left: 0;
        right: 0;
    }
}
.PrimaryNavigation--inverted {
    color: $Blank;
    .PrimaryNavigation-menu {
        border-color: $Blank;
        color: $Blank;
    }
    .PrimaryNavigation-link {
        color: $Blank;
        &:hover,
        &:active,
        &:focus {
            color: $Blank;
        }
    }
}
/*Streak colours*/
.PrimaryNavigation .PrimaryNavigation-link.is-active::after,
.PrimaryNavigation .PrimaryNavigation-link::after {
    background-color: $Brand-carribean-green;
}
.PrimaryNavigation--plum .PrimaryNavigation-link.is-active::after,
.PrimaryNavigation--plum .PrimaryNavigation-link::after {
    background-color: $Brand-plum;
}
.PrimaryNavigation--carribean-green .PrimaryNavigation-link.is-active::after,
.PrimaryNavigation--carribean-green .PrimaryNavigation-link::after {
    background-color: $Brand-carribean-green;
}
.PrimaryNavigation--sea-serpent-blue .PrimaryNavigation-link.is-active::after,
.PrimaryNavigation--sea-serpent-blue .PrimaryNavigation-link::after {
    background-color: $Sea-serpent-blue;
}
.PrimaryNavigation--orange-yellow .PrimaryNavigation-link.is-active::after,
.PrimaryNavigation--orange-yellow .PrimaryNavigation-link::after {
    background-color: $Orange-yellow;
}
.PrimaryNavigation--crayola-red .PrimaryNavigation-link.is-active::after,
.PrimaryNavigation--crayola-red .PrimaryNavigation-link::after {
    background-color: $Crayola-red;
}
.PrimaryNavigation--lapis-lazuli-blue .PrimaryNavigation-link.is-active::after,
.PrimaryNavigation--lapis-lazuli-blue .PrimaryNavigation-link::after {
    background-color: $Lapis-lazuli-blue;
}
.PrimaryNavigation--brandeis-blue .PrimaryNavigation-link.is-active::after,
.PrimaryNavigation--brandeis-blue .PrimaryNavigation-link::after {
    background-color: $Brandeis-blue;
}
.PrimaryNavigation--inverted .PrimaryNavigation-link.is-active::after,
.PrimaryNavigation--inverted .PrimaryNavigation-link::after {
    background-color: $Blank;
}

@media only screen and (min-width: px2em(280px)) and (max-width: px2em(719px)) {
    .PrimaryNavigation-menu {
        position: absolute;
        right: 1rem;
        top: 1.5rem;
        display: block;
    }
    .PrimaryNavigation-list {
        display: none;
    }
}

@media only screen and (min-width: px2em(800px)) {
    .PrimaryNavigation-link {
        padding: px2rem(8px) px2rem(4px);
        margin-right: px2rem(16px);
        margin-left: px2rem(16px);
    }
}

.OffCanvas {
    opacity: 0;
    transition: opacity 0.2s ease;

    &.isActive {
        display: block;
        opacity: 1;
    }
}


// animation

.PrimaryNavigation-link {
    transition: color 0.1s $confident-ease;
}
.PrimaryNavigation-link:hover,
.PrimaryNavigation-link:focus {
    transition: color 0.1s $confident-ease;
}
.PrimaryNavigation-link::after {
    transition: 0.2s $confident-ease;
    transform: translate3d(0, 0, 0);
}