
.PrimaryNavigation-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.PrimaryNavigation-link {
    color: #333;
    display: block;
    @include font(15px, 18px);
    font-weight: 700;
}

@media only screen and (min-width: px2em(480px)) {
    .PrimaryNavigation-list {
        display: flex;
    }
    .PrimaryNavigation-link {
        padding: px2rem(8px);
    }
}

@media only screen and (min-width: px2em(900px)) {
    .PrimaryNavigation-link {
        padding: px2rem(8px) px2rem(16px);
    }
}
