
.Propositions {
    max-width: px2rem(980px);
    margin-left: auto;
    margin-right: auto;
}
.Proposition {
    padding: px2rem(16px);
}
.Proposition--bgGreen .Proposition-primary {
    background: url('/assets/img/green-diagonal-streak.svg') 50% 100% no-repeat;
    padding-bottom: px2rem(32px);
}
.Proposition--bgPurple .Proposition-primary {
    background: url('/assets/img/purple-diagonal-streak.svg') 50% 100% no-repeat;
    padding-bottom: px2rem(32px);
}
.Proposition-title {
    margin: 0 0 px2rem(32px) 0;
}
.Proposition-primary {
    flex-basis: 50%;
}
.Proposition-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Proposition-list {
    column-count: 2;
    list-style-type: none;
    padding: 0;
}
.Proposition-listItem {
    padding: px2rem(16px);
}
.Proposition:nth-child(even) .Proposition-secondary {
    order: 1;
}
.Proposition:nth-child(even) .Proposition-primary {
    order: 2;
}
@media screen and (min-width: px2em(700px)) {
    .Proposition {
        margin-bottom: px2rem(32px);
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (min-width: px2em(880px)) {
    .Proposition-secondary,
    .Proposition-primary {
        padding: px2rem(16px);
    }
}
