.Quote {
    max-width: px2rem(680px);
    position: relative;
    margin: px2rem(40px) auto px2rem(20px) auto;
    padding: px2rem(16px);
    &:before {
        background-image: url('/assets/img/quote-open.svg');
        background-repeat: no-repeat;
        content: ' ';
        width: px2rem(60px);
        height: px2rem(45px);
        display: block;
        position: absolute;
        top: px2rem(-16px);
        background-size: 65%;
    }
}

.Quote-citation {
    text-transform: uppercase;
    color: $Jet-grey;
    @include font(13px, 16px);
    font-family: $font-secondary;
    font-weight: 700;
    letter-spacing: px2rem(1px);
    margin-top: px2rem(16px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.Quote-avatar {
    border: px2rem(2px) solid #1E6B9C;
    margin-right: px2rem(16px);
}

.Quote-author {
    display: inline-block;
    margin-top: 0.5rem;
}

.Quote-author>* {
    display: block;
}

.Quote-authorrole {
    display: block;
    margin-top: 0.5rem;
    color: $mid-grey;
}


@media screen and (min-width: px2em(280px)) {
    .Quote-citation {
        display: flex;
    }
    .Quote-author {
        margin-top: 0;
        flex: 1;
    }
}

@media screen and (min-width: px2em(500px)) {
    .Quote {
        margin-top: px2rem(80px);
        padding-bottom: px2rem(25px);
        padding-top: px2rem(10px);
        &:before {
            top: px2rem(-48px);
            background-size: 100%;
        }
    }
}

.Quote--event {
    margin: 0;
    padding: 2em 0 1em 0;
    &:before {
        background-image: url('/assets/img/quote-bg.svg');
        width: px2rem(94px);
        height: px2rem(82px);
        top: 0px;
    }
    .Quote-avatar {
        border-radius: 50%;
        border: none;
    }
    .Quote-authorrole {
        color: $Crayola-red-acc2;
    }
}

.Quote--testimonial {
    margin: px2rem(20px) auto;
    padding: 2em 0 1em 0;
    &:before {
        content: none;
        width: auto;
        height: auto;
    }
    .Quote-text {
        border-left: px2rem(7px) solid black;
        padding-left: px2rem(24px);
        font-family: $font-main;
        font-weight: 400;
        font-size: px2rem(22px);
    }
    .Quote-citation {
        padding-left: px2rem(31px);
        text-transform: none;
        font-family: $font-main;
        font-weight: 400;
        font-size: px2rem(18px);
        letter-spacing: normal;
    }
    .Quote-avatar {
        border-radius: 50%;
        border: none;
        max-width: px2rem(70px);
        max-height: px2rem(70px);
    }
}