.Quote {
    max-width: px2rem(660px);
    position: relative;
    margin: 0 auto;
    padding: px2rem(16px);
    &:before {
        background-image: url(/assets/img/quote-open.svg);
        background-repeat: no-repeat;
        content: ' ';
        width: px2rem(60px);
        height: px2rem(45px);
        display: block;
        position: absolute;
        top: px2rem(-16px);
        background-size: 65%;
    }
}
.Quote-citation {
    text-transform: uppercase;
    color: $mid-grey;
    @include font(13px, 16px);
    font-family: $font-secondary;
    font-weight: 700;
    letter-spacing: px2rem(1px);
    margin-top: px2rem(16px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.Quote-avatar {
    border: px2rem(2px) solid #1E6B9C;
    margin-right: px2rem(16px);
}
@media screen and (min-width: px2em(500px)) {
    .Quote {
        margin-top: px2rem(70px);
        padding-bottom: px2rem(32px);
        padding-top: px2rem(24px);
        &:before {
            top: px2rem(-48px);
            background-size: 100%;
        }
    }
}