.Quote {
    max-width: px2rem(680px);
    position: relative;
    padding: px2rem(16px);
    margin: px2rem(20px) auto;
}

.Quote-text {
    border-left: px2rem(7px) solid black;
    padding-left: px2rem(24px);
    font-family: $font-main;
    font-weight: 400;
}

.Quote-citation {
    padding-left: px2rem(31px);
    color: $Jet-grey;
    @include font(13px, 16px);
    margin-top: px2rem(16px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.Quote-avatar {
    border: none;
    border-radius: 50%;
    max-width: px2rem(70px);
    max-height: px2rem(70px);
    margin-right: px2rem(16px);
}

.Quote-author {
    display: inline-block;
    margin-top: 0.5rem;
}

.Quote-author>* {
    display: block;
}

.Quote-authorrole {
    display: block;
    margin-top: 0.5rem;
    color: $mid-grey;
}


@media screen and (min-width: px2em(280px)) {
    .Quote-citation {
        display: flex;
    }
    .Quote-author {
        margin-top: 0;
        flex: 1;
    }
}

@media screen and (min-width: px2em(500px)) {
    .Quote-text {
        font-size: px2rem(22px);
    }
    .Quote-citation {
        font-size: px2rem(18px);
    }

}

.Quote--event {
    margin: 0;
    padding: 2em 0 1em 0;
    &:before {
        background-image: url('/assets/img/quote-bg.svg');
        background-repeat: no-repeat;
        content: ' ';
        width: px2rem(94px);
        height: px2rem(82px);
        display: block;
        position: absolute;
        top: 0px;
    }
    .Quote-text {
        border-left: none;
        padding-left: 0;
    }
    .Quote-citation {
        padding-left: 0;
        text-transform: uppercase;
        @include font(13px, 16px);
        font-family: $font-secondary;
        font-weight: 700;
        letter-spacing: px2rem(1px);
    }
    .Quote-authorrole {
        color: $Crayola-red-acc2;
    }
}
@media screen and (min-width: px2em(500px)) {
    .Quote--event {
        .Quote-text {
            font-size: inherit;
        }
        .Quote-citation {
            @include font(13px, 16px);
        }
    }
}

.Quote--standalone {
    margin: 0;
    padding: 2em 0 1em 0;
    &:before {
        background-image: url('/assets/img/quote-standalone.svg');
        background-repeat: no-repeat;
        content: ' ';
        width: px2rem(40px);
        height: px2rem(29px);
        display: block;
        position: absolute;
        top: 0px;
    }
    .Quote-text {
        font-family: $font-secondary;
        color: $Brand-plum;
        border-left: none;
        @include font(27px, 27px);
        padding-left: 0;
        padding-top: 1rem;
    }
    .Quote-citation {
        padding-left: 0;
    }
    .Quote-author > * {
        @include font(19px, 30px);
        display: inline;
        color: $Brand-plum;
    }
    .Quote-author {
        padding-left: 1.3rem;
        position: relative;
        &:before {
            content: '—';
            position: absolute;
            left: 0;
            top: 0.35rem;
            color: $Brand-plum;
        }
    }
}
@media screen and (min-width: px2em(800px)) {
    .Quote--standalone {
        max-width: none;
        margin: 0;
        padding: 0 0 1em 3.7em;
        &:before {
            width: px2rem(94px);
            height: px2rem(82px);
            top: 1.4em; // optical adjustment
            left: 0px;
        }
        .Quote-text {
            @include font(44px, 44px);
        }
        .Quote-citation {
            @include font(13px, 16px);
            padding-top: 1em;
        }
    }
}
