
.Scene {
    margin: 0 auto;
    padding: px2rem(16px);
    max-width: px2em(760px);
}
.Scene-heading {
    @include heading('medium');
    margin-top: 0;
}
.Scene--basic {
    padding-bottom: 0;
    .Scene-heading {
        margin-top: 0;
    }
}
@media screen and (min-width: px2em(500px)) {
    .Scene-heading {
        @include heading('medium', 'wide');
        margin-top: 0;
    }
    .Scene--basic {
        margin-bottom: px2rem(-25px);
    }
}
@media screen and (min-width: px2em(700px)) {
    .Scene {
        display: flex;
        flex-wrap: wrap;
        padding-top: px2rem(54px);
        padding-bottom: px2rem(32px);
    }
    .Scene-heading {
        letter-spacing: px2rem(-0.64px);
        margin-bottom: px2rem(30px);
        margin-top: px2rem(15px);
    }
    .Scene-main {
        padding-right: px2rem(20px);
        width: 66%;
    }
    .Scene-side {
        padding-left: px2rem(20px);
        width: 34%;
        order: 2;
    }
}
@media screen and (min-width: px2em(800px)) {
    .Scene {
        max-width: px2em(720px);
    }
    .Scene--basic {
        max-width: px2em(576px);
        padding-left: px2rem(70px);
        padding-bottom: 0;
    }
}
@media screen and (min-width: px2em(1290px)) {
    .Scene {
        max-width: px2em(896px);
        padding-left: px2rem(144px);
        padding-bottom: px2rem(40px);
    }
    .Scene-heading {
        margin-left: px2rem(-52px);
    }
    .Scene--basic {
        max-width: px2em(990px);
        padding-left: px2rem(300px);
        padding-bottom: 0;
        .Scene-heading {
            margin-left: 0;
        }
    }
}
