.Selector-trigger {
    border-bottom: none;
    color: $light-grey;
    &:hover,
    &:focus {
        color: $mid-grey;
    }
}

.hasJS .Selector {
    position: relative;
}
.hasJS .Selector-target {
    position: absolute;
}
.hasJS .Selector-target[aria-hidden="true"] {
    display: none;
}
.hasJS .Selector-target[aria-hidden="false"] {
    display: block;
}
