
.Showcase--blue {
    background-color: #325E94;
    color: #fff;
}
.Showcase-title {
    font-family: $font-statement;
    @include font(40px, 45px);
    font-weight: 700;
    margin-top: px2rem(30px);
}
.Showcase-wrapper {
    max-width: px2em(900px);
    margin: 0 auto;
    padding: px2rem(16px) px2rem(16px) 0 px2rem(16px);
    -webkit-font-smoothing: antialiased;
}
.Showcase-primary {
    max-width: px2rem(620px);
}
.Showcase-description {
    max-width: px2rem(530px);
}
.Showcase-image {
    text-align: center;
    margin: px2rem(48px) auto 0 auto;
    display: block;
}
.Showcase-logo {
    margin-top: px2rem(32px);
    margin-bottom: px2rem(32px);
}
@media screen and (min-width: px2em(520px)) {
    .Showcase-title {
        letter-spacing: px2rem(-1.45px);
        @include font(72px, 77px);
    }
}

/*Feaured Channel 4 case study = --featuredCh4*/
/*.Showcase--featuredCh4 {
    background-color: #7123A8;
    background-image: radial-gradient(59% 81%, #7123A8 63%, #4D1574 100%);
    .Showcase-image {
        width: 52%;
        right: px2rem(-32px);
        top: 0;
        position: absolute;
        z-index: -1;
    }
    .Showcase-wrapper {
        position: relative;
        z-index: 1;
    }
    .Showcase-primary {
        max-width: px2rem(400px);
        margin-bottom: px2rem(16px);
    }
    .Showcase-logo {
        position: absolute;
        left: px2rem(-48px);
        bottom: px2rem(-80px);
        display: none;
    }
    .Showcase-skew {
        background: #380F55;
        position: relative;
        z-index: 0;
        margin-top: px2rem(-32px);
        margin-bottom: px2rem(64px);
        &:before,
        &:after {
            background: inherit;
            content: '';
            height: px2rem(64px);
            left: 0;
            position: absolute;
            right: 0;
        }
        &:before {
            transform: skewY(-6deg);
            transform-origin: -63%;
        }
    }
}
@media screen and (min-width: px2em(330px)) {
    .Showcase--featuredCh4 .Showcase-skew:before {
        transform-origin: -58%;
        height: px2rem(80px);
    }
}
@media screen and (min-width: px2em(483px)) {
    .Showcase--featuredCh4 .Showcase-skew {
        &:before {
            height: px2rem(96px);
        }
        :after {
            height: px2rem(64px);
        }
    }
}
@media screen and (min-width: px2em(584px)) {
    .Showcase--featuredCh4 .Showcase-skew {
        margin-bottom: 5rem;
        &:before {
            height: px2rem(112px);
        }
        &:after {
            height: px2rem(112px);
            margin-top: px2rem(-32px);
        }
    }
}
@media screen and (min-width: px2em(800px)) {
    .Showcase--featuredCh4 .Showcase-secondary {
        right: -3rem;
    }
    .Showcase--featuredCh4 .Showcase-skew {
        &:before {
            height: 11rem;
        }
        &:after {
            transform: skewY(-4deg);
            transform-origin: 100%;
        }
    }
}
@media screen and (min-width: px2em(1100px)) {
    .Showcase--featuredCh4 .Showcase-logo {
        display: block;
    }
    .Showcase--featuredCh4 .Showcase-skew {
        margin-bottom: px2rem(64px);
        &:before {
            height: 11rem;
        }
        &:after {
            margin-top: -5rem;
        }
    }
    .Showcase--featuredCh4 .Showcase-middle {
        background-color: #380F55;
        height: 13rem;
        position: absolute;
        width: 100%;
        top: -14rem;
        transform: skewY(-6deg);
        transform-origin: 90%;
    }
}
@media screen and (min-width: px2em(1400px)) {
    .Showcase--featuredCh4 .Showcase-skew:before {
        margin-top: 2rem;
    }
}
*/
/*Feaured Penguin case study = --featuredPenguin*/
/*.Showcase--featuredPenguin {
    background-color: #FF6600;
    background-image: url(/assets/img/work/penguin/orange-bg.jpg);
    overflow: hidden;
    position: relative;
    .Showcase-wrapper {
        padding-bottom: px2rem(16px);
    }
}
@media screen and (min-width: px2em(700px)) {
    .Showcase--featuredPenguin {
        background-image: url(/assets/img/work/penguin/penguin.png), url(/assets/img/work/penguin/orange-bg.jpg);
        background-repeat: no-repeat, no-repeat;
        background-position: 150% 100%, 0 0;
        background-size: px2rem(400px), cover;
        .Showcase-primary {
            width: 70%;
        }
    }
}
@media screen and (min-width: px2em(780px)) {
    .Showcase--featuredPenguin {
        background-size: px2rem(500px), cover;
    }
}
@media screen and (min-width: px2em(950px)) {
    .Showcase--featuredPenguin {
        background-position: 125% 100%, 0 0;
        background-size: px2rem(580px), cover;
    }
}
@media screen and (min-width: px2em(1200px)) {
    .Showcase--featuredPenguin {
        background-position: 100% 100%, 0 0;
        background-size: px2rem(650px), cover;
    }
}*/

/*Feaured Evo case study = --featuredEvo*/
/*.Showcase--featuredEvo {
    background-color: #000000;
    position: relative;
    .Showcase-wrapper {
        padding-bottom: px2rem(16px);
        &:after {
            content: '';
            width: 150%;
            height: px2rem(64px);
            transform: skewY(2deg);
            position: absolute;
            bottom: px2rem(-20px);
            left: 0;
            right: 0;
            background: black;
            z-index: -1;
        }
    }
    .Showcase-image {
        position: absolute;
        bottom: px2rem(-25px);
        z-index: 0;
        opacity: 0.3;
        max-width: 80%;
        right: 0;
    }
    .Showcase-primary {
        z-index: 2;
        position: relative;
    }
}
@media screen and (min-width: px2em(500px)) {
    .Showcase--featuredEvo {
        .Showcase-image {
            max-width: 60%;
        }
    }
}
@media screen and (min-width: px2em(700px)) {
    .Showcase--featuredEvo {
        background-image: radial-gradient(42% 45%, #3F3F3F 34%, #333333 45%, #000000 98%);
        .Showcase-primary {
            width: 45%;
        }
        .Showcase-image {
            opacity: 1;
        }
    }
}
@media screen and (min-width: px2em(820px)) {
    .Showcase--featuredEvo {
        .Showcase-wrapper:after {
            bottom: px2rem(-50px);
        }
        .Showcase-image {
            bottom: px2rem(-58px);
        }
    }
}
@media screen and (min-width: px2em(1000px)) {
    .Showcase--featuredEvo {
        background-position: 100% 300%;
    }
}*/