.Showcase--blue {
    background-color: #325E94;
    color: #fff;
}
.Showcase-title {
    font-family: $font-statement;
    @include font(40px, 45px);
    font-weight: 700;
    margin-top: px2rem(30px);
}
.Showcase-wrapper {
    max-width: px2em(900px);
    margin: 0 auto;
    padding: px2rem(16px) px2rem(16px) 0 px2rem(16px);
    -webkit-font-smoothing: antialiased;
}
.Showcase-primary {
    max-width: px2rem(620px);
}
.Showcase-description {
    max-width: px2rem(530px);
}
.Showcase-image {
    text-align: center;
    margin: px2rem(48px) auto 0 auto;
    display: block;
}
.Showcase-logo {
    margin-top: px2rem(32px);
    margin-bottom: px2rem(32px);
}
@media screen and (min-width: px2em(520px)) {
    .Showcase-title {
        letter-spacing: px2rem(-1.45px);
        @include font(72px, 77px);
    }
}
