
.Signpost-image {
    display: block;
    max-width: 100%;
    border-bottom: 2px solid $light-grey;
}
.Signpost-directions {
    padding: px2rem(8px) px2rem(12px) px2rem(12px);
}
.Signpost-title {
    @include font(22px, 27px);
    font-weight: 700;
    color: $mid-blue;
    margin: 0 0 px2rem(16px) 0;
}
.Signpost-description {
    color: $dark-grey;
    @include font(17px, 29px);
    margin: 0 0 px2rem(12px) 0;
}
.Signpost-exit {
    border-bottom: solid 2px $clearleft-red;
    padding-bottom: px2rem(4px);
    @include font(16px);
    font-weight: 700;
}
@media screen and (min-width: px2em(288px)) {
    .Signpost-directions {
        padding: px2rem(16px) px2rem(18px) px2rem(18px);
    }
}
