
.SiteFooter {
    font-family: 'Gilroy';
    background-color: #000000;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}
.SiteFooter-container {
    max-width: px2em(1040px);
    padding: px2rem(16px) px2rem(8px);
}
.SiteFooter-navigationLinks {
    list-style: none;
    margin: 0;
    padding: 0;
}
.SiteFooter-navigationLink {
    border-bottom: none;
    display: inline-block;
    @include font(14px, 16px);
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    padding-bottom: px2rem(8px);
    color: #ffffff;
}
.SiteFooter-small {
    @include font(10px, 17px);
    text-transform: uppercase;
}
.SiteFooter-icons {
    padding: 0;
    display: flex;
}
.SiteFooter-icon {
    list-style: none;
    margin-bottom: px2rem(8px);
    margin-right: px2rem(8px);
}
.SiteFooter-iconLink {
    border-bottom: none;
}
@media only screen and (min-width: px2em(350px)) {
    .SiteFooter-navigationLinks {
        column-count: 2;
    }
}
@media only screen and (min-width: px2em(550px)) {
    .SiteFooter-container {
        padding: px2rem(32px) px2rem(16px) px2rem(16px) px2rem(16px);
    }
    .SiteFooter-navigationLinks {
        column-count: 3;
    }
}
@media only screen and (min-width: px2em(680px)) {
    .SiteFooter-navigationLinks {
        column-count: 2;
        column-gap: px2rem(32px);
    }
}
@media only screen and (min-width: px2em(880px)) {
    .SiteFooter-navigation {
        display: flex;
    }
    .SiteFooter-navigationLinks {
        flex-grow: 1;
    }
    .SiteFooter-small {
        margin-top: px2rem(32px);
    }
    .SiteFooter-icons {
        margin: px2rem(8px) 0 0 px2rem(16px);
        display: block;
    }
    .SiteFooter-icon {
        margin-bottom: 0;
    }
}