
.SiteHeader {
    padding: px2rem(24px) px2rem(16px);
    font-family: 'Gilroy';
}

@media only screen and (min-width: px2em(720px)) {
    .SiteHeader {
        display: flex;
        justify-content: space-between;
        max-width: px2em(1180px);
        margin-left: auto;
        margin-right: auto;
    }
}
