.SkipToContent {
    &-link {
        left: -999px;
        position: absolute;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
        z-index: -999;

        border: 2px solid $Dark-liver-grey;
        border-radius: px2rem(24px);
        @include font(14px, 16px);
        font-family: $font-secondary;
        font-weight: 700;
        padding: px2rem(6px) px2rem(12px);
        text-decoration: none;
    }
    &-link:focus,
    &-link:active {
        left: 14px;
        top: 24px;
        width: auto;
        height: auto;
        z-index: 50;
        color: $Dark-liver-grey;
        outline: transparent;
        background-color: $Blank;
    }
}