.Social {
    padding-left: 0;
    display: flex;
    margin-bottom: 0;
}
.Social--tall .Social-item {
    display: block;
}
.Social-item {
    list-style: none;
    margin-right: px2rem(16px);
}
.Social-link {
    border: none;
}