.Stat {
    text-align: center;
    padding: 1rem;
    margin: 0;
}

.Stat-heading {
    margin-bottom: .1em;
    color: $Crayola-red;
    // below is only for override 
    @media screen and (min-width: em(580px)) {
        &:not(:last-child) {
            margin-bottom: .1em;
        }
    }
}