.Stats {
    margin: units(2) units(1);
    text-align: center;
    >* {
        display: inline-block;
        margin-right: units(3);
        margin-bottom: units(1);
    }
    >*:last-child {
        margin-right: 0;
    }
    @supports (display: grid) {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        >*,
        >*:last-child {
            margin-right: 0;
            margin-bottom: 0;
        }
    }
}