.TeamGrid {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.TeamGrid-item {
    display: inline-flex;
}
@media only screen and (min-width: px2em(280px)) {
    .TeamGrid-item {
        width: 50%;
    }
}
@media only screen and (min-width: px2em(450px)) {
    .TeamGrid-item {
        width: 33.3%;
    }
}
@media only screen and (min-width: px2em(630px)) {
    .TeamGrid {
        max-width: px2rem(720px);
        padding-left: 83px;
    }
    .TeamGrid-item:nth-child(6n+4) {
        margin-left: px2em(-80px);
    }
}
@media only screen and (min-width: px2em(980px)) {
    .TeamGrid-item:nth-child(6n+4) {
        margin-left: 0;
    }
    .TeamGrid-item {
        width: 25%;
    }
    .TeamGrid-item:nth-child(8n+5) {
        margin-left: px2em(-100px);
    }
    .TeamGrid {
        max-width: px2rem(940px);
        padding-left: 113px;
    }
}
@media only screen and (min-width: px2em(1050px)) {
    .TeamGrid {
        max-width: px2rem(1024px);
    }
}