.TextBlock {
    max-width: px2em(460px);
    padding: px2rem(16px);
    margin: 0 auto;
}
@media screen and (min-width: px2em(500px)) {
    .TextBlock {
        padding-top: px2rem(32px);
        padding-bottom: px2rem(32px);
    }
}