.TextBlock {
    padding: 0 px2rem(16px);
    margin: 0 auto;
    max-width: px2rem(680px);
}
.TextBlock--brush {
    background-color: $Anti-white-flash;
    padding: 0;
    margin: 0;
    max-width: none;
    > * {
        padding: 0 px2rem(16px);
        margin: 0 auto;
        max-width: px2rem(680px);
    }
    &::before,
    &::after {
        content: ' ';
        display: block;
        width: 100%;
        background-color: #fff;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    &::before {
        height: 63px;
        background-position: bottom;
        background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1404 63" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg"><g transform="translate(-30.000000, -1989.000000)" fill="%23F3F2F2"><path d="M77.5829207,2052 C76.6256057,2051.93446 75.6457643,2051.94793 74.6539972,2052 L45.8712394,2052 C38.0220334,2050.42045 37.7092007,2045.546 36.4715181,2032.08362 C35.9177617,2026.08374 32.8409917,2020.20102 30.3895309,2012.62711 C58.1737905,2011.70082 85.1336375,2011.24983 111.972156,2009.72223 C125.613851,2008.94847 138.947558,2005.65009 152.589253,2004.57789 C164.084364,2003.6737 175.881242,2004.86307 187.438573,2004.21091 C232.967924,2001.63763 278.403946,1998.08943 323.976852,1996.07326 C371.814559,1993.95982 419.76115,1992.90309 467.682854,1991.89943 C528.754716,1990.61721 589.845244,1989.335 650.938883,1989.03876 C691.798637,1988.84201 732.767276,1989.36374 773.527479,1991.30917 C883.864992,1996.57509 994.286503,2001.50278 1104.35336,2008.95732 C1212.66251,2016.29247 1319.76148,2030.13377 1426.1387,2046.40686 C1428.84508,2046.82134 1432.22674,2049.43275 1434.04975,2052 L77.5829208,2052 L77.5829207,2052 Z"></path></g></svg>');
    }
    &::after {
        height: 109px;
        background-position: top;
        background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1438 109" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg"><g fill="%23F3F2F2"><path d="M4.47065348,0 L1438.6958,-1.04360964e-14 L1438.6958,108.81164 C1436.88821,108.658841 1435.08801,108.43892 1433.4026,108.252065 C1409.92202,105.653289 1385.67986,103.97725 1363.5425,98.349239 C1321.1155,87.5603105 1277.03037,83.1526944 1233.26658,77.286558 C1209.5707,74.1107847 1185.77842,71.1158953 1161.86725,68.9956603 C1126.08242,65.8221766 1090.22047,62.8204183 1054.26855,60.9886817 C1014.56655,58.9623231 974.716724,58.4585956 934.950451,57.0550274 C909.320085,56.1506075 883.73792,54.172332 858.107553,53.8494884 C827.268206,53.4579547 796.399938,54.4814375 765.538098,54.5730243 C737.134536,54.6577422 708.682772,53.5106171 680.340265,54.3852713 C649.237417,55.3469331 618.279173,58.873026 587.179538,59.6057206 C566.809566,60.0842618 546.683815,62.3258494 526.82478,63.0791511 C498.90002,64.136979 471.473342,65.5176504 444.072372,69.4467254 C432.028413,71.1731371 419.470305,71.0723916 407.137137,74.3603588 C414.068519,74.9098797 420.996687,75.4616904 427.928069,76.0112114 C428.159436,77.0186665 428.390804,78.0238319 428.622171,79.031287 C421.902876,80.0753769 415.254277,81.6575394 408.461073,82.0673904 C381.040822,83.718243 353.540235,84.7279878 326.136052,86.5208 C303.703054,87.9907686 280.575954,93.7538698 259.180896,91.3016325 C228.068408,87.7343255 203.871233,101.525012 175.001723,102.642372 C153.111796,103.491839 152.935057,105.43806 148.468381,90.665104 C146.247896,83.3198403 138.901981,81.8590304 129.2681,82.5825663 C105.549728,84.3685095 81.7863672,85.8957199 58.0037262,87.1825148 C54.2729269,87.3840059 47.4765094,86.3353367 46.9623596,84.9500859 C41.7533796,70.8937973 26.4542101,76.7828304 15.4417644,77.2499232 C10.1718657,77.4749397 5.13190432,76.5447063 0.695797933,74.8066202 L0.695802124,17.8840742 C7.16056318,16.3809341 13.7210421,14.7083832 20.625037,13.1620396 C17.2563137,4.85831603 11.6799037,1.22535017 4.47065348,0 Z"></path></g></svg>');
    }
}
.TextBlock--wide {
    max-width: px2rem(720px);
}
.TextBlock--author {
    padding-bottom: 0;
}
.TextBlock-author {
    max-width: px2rem(120px);
}
@media screen and (min-width: px2em(360px)) {
    .TextBlock-author {
        float: left;
        margin-right: px2rem(16px);
        margin-top: px2rem(8px);
    }
}
@media screen and (min-width: px2rem(860px)) {
    .TextBlock-author {
        margin-left: px2rem(-136px);
    }
    .TextBlock--image {
        display: flex;
        max-width: px2rem(680px);

        figure {
            flex: 1 0 45%;
        }
    }
}
