.TicketTiers {
    border-collapse: collapse;
}

.TicketTiers:not(:only-child),
.TicketTiers:not(:last-child) {
    margin-bottom: 1rem;
}

.TicketTiers--three-quarters {
    min-width: 75%;
}
.TicketTiers--full {
    width: 100%;
}