.Tier {
    font-size: .9em;
}

.Tier+.Tier {
    border-top: 1px solid transparentize($Jet-grey, .8);
}

.Tier-cell {
    padding: .3em .5em;
    vertical-align: middle;
}
.Tier-cell--price {
    text-align: right;
}

.Tier-cell:first-child {
    padding-left: 1px;
}
.Tier-price {
    -webkit-font-smoothing: antialiased;
}
.Tier-price--soldout {
    color: transparentize($Jet-grey, .5);
}
.Tier-soldout {
    font-size: .6667em;
    text-transform: uppercase;
    color: $Crayola-red;
    border: 1px solid currentColor;
    border-radius: 2px;
    padding: .3em .5em;
    font-weight: bold;
    display: inline-block;
    margin-left: px2rem(5px);
}

.TicketTiers--inverted .Tier-soldout {
    color: fade-out(lighten($Crayola-red, 15%), .2);
}

.TicketTiers--inverted .Tier-price--soldout {
    color: transparentize($Blank, .5);
}

.TicketTiers--inverted .Tier+.Tier {
    border-top: 1px solid fade-out($Anti-white-flash, .8);
}

@media screen and (min-width: px2rem(500px)) {
    .Tier-soldout {
        margin-left: px2rem(10px);
    }
}