
.Trio {
    padding-top: px2rem(24px);
    padding-bottom: px2rem(24px);
}
.Trio-wrapper {
    max-width: px2em(800px);
    margin-left: auto;
    margin-right: auto;
}
.Trio-item {
    padding: px2rem(16px);
}
.Trio-image {
    display: block;
    margin-bottom: px2rem(20px);
}
.Trio-title {
    margin: px2rem(16px);
}
/*Stats are currently on the Evo variation*/
.Trio-stats {
    padding: px2rem(16px);
}
.Trio-statsHeading {
    @include font(25px, 35px);
    font-weight: 700;
    font-family: $font-secondary;
    margin-top: 0;
    margin-bottom: px2rem(16px);
}
.Trio-statsFigure {
    font-family: $font-statement;
    @include font(30px, 42px);
}
.Trio-statsSupporting {
    font-family: $font-secondary;
    @include font(14px, 23px);
    width: 90%;
}
/*Invert text colours to white */
.Trio--inverted {
    background-color: $jet-grey;
    color: #fff;
    .Trio-title,
    .Trio-itemHead {
        color: #fff;
    }
}
/*Trio for the featued Channel 4 case study */
.Trio--channel4 {
    background-color: #651C98;
    background-image: linear-gradient(-179deg, #651C98 3%, #4D1574 71%, #4D1574 84%);
}
/*Trio for the featued Penguin case study */
.Trio--penguin {
    background-color: #FF6601;
}
/*Trio for the featued Evo case study */
.Trio--evo {
    background-color: #050505;
    .Trio-statsFigure {
        color: #957F44;
    }
}
@media screen and (min-width: px2rem(500px)) {
    .Trio-statsHeading {
        @include font(43px, 50px);
        margin-bottom: px2rem(24px);
    }
    .Trio-statsFigure {
        @include font(50px, 60px);
    }
}
@media screen and (min-width: px2rem(720px)) {
    .Trio {
        padding-top: px2rem(32px);
        padding-bottom: px2rem(32px);
    }
    .Trio-image {
        margin-left: auto;
        margin-right: auto;
    }
    .Trio-collection {
        display: flex;
        flex-wrap: wrap;
        margin-top: px2rem(32px);
    }
    .Trio-item {
        flex: 0 1 auto;
        width: 33.3%;
        padding: px2rem(28px);
    }
    .Trio-stats {
        margin-left: px2rem(80px);
    }
    .Trio-statsFigure {
        @include font(90px, 80px);
        margin-top: px2rem(16px);
        margin-bottom: px2rem(16px);
    }
    .Trio-statsSupporting {
        @include font(17px, 29px);
    }
    .Trio-item--rebel {
        margin-top: px2rem(80px);
    }
    .Trio--stacked {
        .Trio-collection {
            flex-direction: column;
            margin-left: px2rem(16px);
        }
        .Trio-item {
            width: 90%;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 0;
            max-width: px2rem(700px);
        }
        .Trio-item--rebel {
            margin-left: px2rem(80px);
        }
        .Trio-image {
            margin-right: px2rem(24px);
        }
        .Trio-description {
            flex: 0 1 auto;
            max-width: 100%;
        }
    }
}
@media screen and (min-width: px2rem(980px)) {
    .Trio {
        padding-top: px2rem(55px);
        padding-bottom: px2rem(20px);
    }
}
