.Work {
    max-width: px2rem(1180px);
    margin-top: px2rem(-20px);
}
.Work-gridItem {
    padding: px2rem(16px);
}
@media screen and (min-width: px2rem(500px)) {
    .Work-grid {
        padding: px2rem(16px);
        display: flex;
        flex-wrap: wrap;
        max-width: px2rem(1040px);
        margin: 0 auto;
    }
    .Work-gridItem {
        width: 50%;
    }
}
@media screen and (min-width: px2em(900px)) {
    .Work {
        margin: px2rem(-75px) auto 0;
    }
}
