.Work {
    max-width: px2rem(1180px);
    margin: px2rem(-100px) auto 0;
}
.Work-gridItem {
    padding: px2rem(16px);
}
@media screen and (min-width: px2rem(500px)) {
    .Work-grid {
        padding: px2rem(16px);
        display: flex;
        flex-wrap: wrap;
        max-width: px2rem(980px);
        margin: 0 auto;
    }
    .Work-gridItem {
        width: 50%;
    }
}