<div class="Cols">
    <div class="Cols-half Cols-item">
        {% include '@lead' with {leadModifier: '--bar Lead--wrapper'} %}
    </div><!--Cols-half-->
    <div class="Cols-half Cols-item">
        some stuff
    </div><!--Cols-half-->
</div><!--/.Cols-->