<div class="Cols">
    <div class="Cols-half Cols-item">
        {% include '@lede' with {ledeModifier: '--bar'} %}
    </div>
    <div class="Cols-half Cols-item">
        some stuff
    </div>
</div>