<div class="Cols Cols--balanced">
    <div class="Cols-half">
        {% include '@lead' with {leadModifier: '--bar Lead--wrapper'} %}
    </div><!--Cols-half-->
    <div class="Cols-half">
        <ul class="ListMenu">
            <li><a href="">See what we’ve done over the years ➞</a></li>
            <li><a href="">Check out our open positions  ➞</a></li>
            <li><a href="">Read our Company values  ➞</a></li>
        </ul>
    </div><!--Cols-half-->
</div><!--/.Cols-->