<div class="Cols Cols--balanced">
    <div class="Cols-half">
        {% include '@lead' with {leadModifier: '--overlap Lead--bar Lead--wrapper'} %}
    </div><!--Cols-half-->
    <div class="Cols-half">
        {% include '@list' %}
    </div><!--Cols-half-->
</div><!--/.Cols-->