<tr class="Tier {% if tierSoldOut == true %} Tier--soldOut{% endif %}">
    <td class="Tier-cell Tier-cell--name">{{tierName}}</td>
    <td class="Tier-cell Tier-cell--price">{{tierPrice}}</td>
    <td class="Tier-cell Tier-cell--status">{% if tierSoldOut == true %}<span class="Tier-soldOut">Sold&nbsp;out</span>{% endif %}</td>
</tr>