<tr class="Tier">
    <td class="Tier-cell Tier-cell--name">{{tierName}}</td>
    <td class="Tier-cell Tier-cell--price"><span class="Tier-price{% if tierSoldOut == true %} Tier-price--soldout{% endif %}">{{tierPrice}}</span> {% if tierSoldOut == true %}<span class="Tier-soldout">Sold&nbsp;out</span>{% endif %}</td>
</tr>