
/** Normal  **/

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Thin.otf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-UltraLight.otf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.otf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.otf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-SemiBold.otf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.otf');
    font-weight: 800;
    font-style: normal;
}

/** Italic  **/

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Thin.otf');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-UltraLight.otf');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.otf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.otf');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.otf');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-SemiBold.otf');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.otf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.otf');
    font-weight: 800;
    font-style: italic;
}


/** Black/Heavy **/

@font-face {
    font-family: 'Gilroy Black';
    src: url('../fonts/Gilroy-Black.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy Heavy';
    src: url('../fonts/Gilroy-Heavy.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Black';
    src: url('../fonts/Gilroy-Black.otf');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Gilroy Heavy';
    src: url('../fonts/Gilroy-Heavy.otf');
    font-weight: 400;
    font-style: italic;
}
