
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    color: #333;
    font-family: $font-main;
    font-weight: 500;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}
body {
    @include font(16px, 26px);
    margin: 0;
    line-height: px2rem(32px);
}

a {
    color: $clearleft-blue;
    text-decoration: none;
    border-bottom: $clearleft-red px2rem(2px) solid;
    padding-bottom: px2rem(1px);
    font-family: $font-secondary;
    font-weight: 700;
}
p {
    margin-top: 0;
}

a:active,
a:hover {
    color: $clearleft-red;
}

img {
    max-width: 100%;
    border-style: none; /*Remove the border on images inside links in IE 10-.*/
}

button {
    border: 0;
}
@media screen and (min-width: px2em(800px)) {
    body {
        @include font(18px, 32px);
    }
}