
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    color: $Jet-grey;
    font-family: $font-main;
    font-weight: normal;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
}
body {
    @include font(16px, 26px);
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main {
    display: block;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

a {
    color: $Brandeis-blue;
    text-decoration: none;
    border-bottom: $Crayola-red px2rem(2px) solid;
    font-family: $font-secondary;
    font-weight: 700;
}
p {
    margin-top: 0;
}
ul {
    padding: 0;
}
a:hover,
a:active,
a:focus {
    color: $Crayola-red-acc;
}
blockquote {
    margin: 0;
}
img {
    max-width: 100%;
    border-style: none; /*Remove the border on images inside links in IE 10-.*/
}
button {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
[hidden] {
    display: none;
}

@media screen and (min-width: px2em(800px)) {
    body {
        @include font(18px, 32px);
    }
}
