
a.Heading,
.Heading a,
a .Heading {
    border-bottom: none;
    &:hover,
    &:focus,
    &:active {
        color: $Dark-liver-grey;
    }
}
.Heading a {
    color: inherit;
}
.Heading--impact {
    @include heading('impact');
}
.Heading--main {
    @include heading('main');
}
.Heading--secondary {
    @include heading('secondary');
}
.Heading--medium {
    @include heading('medium');
}
.Heading--small {
    @include heading('small');
}
.Heading--bump {
    @include heading('bump');
}
.Heading--body {
    @include heading('body');
}
.Heading--context {
    @include heading('context');
}
.Heading--inverted {
    color: $Blank;
}
a.Heading--inverted,
.Heading--inverted a,
a .Heading--inverted {
    &:hover,
    &:focus {
        color: inherit;
    }
}
@media screen and (min-width: px2em(300px)) {
    .Heading--impact {
        @include heading('impact', 'inbetween');
    }
    .Heading--main {
        @include heading('main', 'inbetween');
    }
    .Heading--secondary {
        @include heading('secondary', 'inbetween');
    }
}
@media screen and (min-width: px2em(500px)) {
    .Heading--main {
        @include heading('main', 'wide');
    }
    .Heading--secondary {
        @include heading('secondary', 'wide');
    }
    .Heading--medium {
        @include heading('medium', 'wide');
    }
    .Heading--small {
        @include heading('small', 'wide');
    }
    .Heading--bump {
        @include heading('bump', 'wide');
    }
    .Heading--body {
        @include heading('body', 'wide');
    }
}
@media screen and (min-width: px2em(1200px)) {
    .Heading--impact {
        @include heading('impact', 'wide');
    }
}
