.Heading {
    font-family: $font-secondary;
    color: $jet-grey;
    margin-bottom: px2rem(8px);
    margin-top: px2rem(8px);
    -webkit-font-smoothing: antialiased;
}
.Heading--main {
    @include font(36px, 43px);
    font-family: $font-statement;
    letter-spacing: -1.29px;
}
.Heading--secondary {
    @include font(40px, 45px);
    letter-spacing: -0.58px;
    font-family: $font-statement;
}
.Heading--medium {
    @include font(30px, 35px);
    font-weight: 700;
}
.Heading--small {
    @include font(26px, 31px);
    font-weight: 700;
}
.Heading--body {
    @include font(20px, 25px);
    font-weight: 700;
}
.Heading--context {
    @include font(14px, 17px);
    text-transform: uppercase;
    color: $mid-grey;
    font-weight: 700;
    letter-spacing: 1px;
}
.Heading--vibrant {
    color: #A9439A;
}
@media screen and (min-width: px2em(300px)) {
    .Heading--main {
        @include font(60px, 54px);
    }
    .Heading--secondary {
        @include font(60px, 65px);
    }
}
@media screen and (min-width: px2em(500px)) {
    .Heading--main {
        @include font(90px, 88px);
    }
    .Heading--secondary {
        @include font(70px, 75px);
    }
    .Heading--medium {
        @include font(40px, 45px);
        font-weight: 700;
    }
    .Heading--small {
        @include font(30px, 35px);
        font-weight: 700;
    }
    .Heading--body {
        @include font(22px, 25px);
        font-weight: 700;
    }
}