.l-space-before {
    margin-top: units(2);
}

.l-space-after {
    margin-bottom: units(2);
}

.l-pad-before {
    padding-top: units(2);
}

.l-pad-after {
    padding-bottom: units(2);
}

.l-space-before--half {
    margin-top: units(1);
}

.l-space-after--half {
    margin-bottom: units(1);
}

.l-pad-before--half {
    padding-top: units(1);
}

.l-pad-after--half {
    padding-bottom: units(1);
}

.l-space-before--double {
    margin-top: units(4);
}

.l-space-after--double {
    margin-bottom: units(4);
}

.l-pad-before--double {
    padding-top: units(4);
}

.l-pad-after--double {
    padding-bottom: units(4);
}

.l-space-before--mega {
    margin-top: units(5);
}

.l-space-after--mega {
    margin-bottom: units(5);
}

.l-pad-before--mega {
    padding-top: units(5);
}

.l-pad-after--mega {
    padding-bottom: units(5);
}

@media screen and (min-width: em(680px)) {
    .l-space-before--mega {
        margin-top: units(7);
    }
    .l-space-after--mega {
        margin-bottom: units(7);
    }
    .l-pad-before--mega {
        padding-top: units(7);
    }
    .l-pad-after--mega {
        padding-bottom: units(7);
    }
}

.l-pad-around {
    padding: px2rem(20px) px2rem(24px) px2rem(16px) px2rem(24px);
}

.l-vh {
    /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.l-img-con {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// Utilities
.u-center {
    text-align: center;
}

.u-vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}