
.l-space-before {
    margin-top: units(2);
}

.l-space-after {
    margin-bottom: units(2);
}

.l-pad-before {
    padding-top: units(2);
}

.l-pad-after {
    padding-bottom: units(2);
}

.l-space-before--half {
    margin-top: units(1);
}

.l-space-after--half {
    margin-bottom: units(1);
}

.l-pad-before--half {
    padding-top: units(1);
}

.l-pad-after--half {
    padding-bottom: units(1);
}

// Utilities

.u-center {
    text-align: center;
}

.u-vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
