.Link--springboard {
    position: relative;
    padding-left: 2rem;
    border: none;
    
}
.Link--springboard:before {
    content: '';
    position: absolute;
    background-image: url('/assets/img/arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 80%;
    right: calc(100% - 1.5rem);
    width: 1.5rem;
    height: 100%;
    transition: transform ease-out 0.4s;
    transform-origin: 50% 50%;
}

.Link--springboard:hover.Link--springboard:after {
    content: '';
    position: absolute;
    right: 0;
    left: 2rem;
    width: calc(100% - 2rem);
    height: 2px;
    bottom: -2px;
    background-color: red;
}

.Link--springboard:hover.Link--springboard:before {
    transform: translateX(0.35rem) rotate(0.02turn);
}