.Prose {
    color: $dark-grey;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Gilroy';
        font-weight: 700;
        -webkit-font-smoothing: antialiased;
        color: $jet-grey;
    }
}