.Prose {
    color: $dark-grey;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $font-secondary;
        font-weight: 700;
        -webkit-font-smoothing: antialiased;
        color: $jet-grey;
        margin-top: 0;
    }
    h2 {
        @include font(37px, 42px);
    }
}