.Texture {
    background-attachment: fixed;
    background-image: url('https://clearleft-v5.s3.amazonaws.com/dots/texture_corners-diamond-grey.png');
    background-repeat: no-repeat;
    background-size: rem(720px);
    background-position: calc(50% + 50vw) calc(540px - 70vw);
}

.Texture--right {
    background-position: calc(30% + 80vw) rem(-100px);
}

.Texture-border {
    position: relative;
}

.Texture-border--top:after {
    width: 100%;
    height: 2rem;
    top: -0.8rem;
    left: 0;
    position: absolute;
    content: '';
    -webkit-mask: url(/assets/img/mask.svg) no-repeat 50% 50%;
    mask: url(/assets/img/mask.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background: inherit;
}

.Texture-border--bottom:after {
    width: 100%;
    height: 2rem;
    bottom: -0.8rem;
    left: 0;
    position: absolute;
    content: '';
    -webkit-mask: url(/assets/img/mask.svg) no-repeat 50% 50%;
    mask: url(/assets/img/mask.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background: inherit;
}

@media screen and (min-width: em(500px)) {
    .Texture {
        background-position: calc(50% + 50vw) rem(120px);
        background-size: auto;
    }

    .Texture--right {
        background-position: calc(40% + 80vw) rem(-200px);
    }
}

@media screen and (min-width: em(910px)) {
    .Texture {
        background-position: calc(50% + 50vw) rem(320px);
    }

    .Texture--right {
        background-position: calc(50% + 62vw) rem(-150px);
    }
}

@media screen and (min-width: em(1180px)) {
    .Texture {
        background-position: calc(57vw) rem(320px);
    }

    .Texture--right {
        background-position: calc(50% + 62vw) rem(-150px);
    }
}

.u-border-top {
    border-top: 1px solid $lighter-grey;
}

.u-border-top-n2:not(:first-child) {
    border-top: 1px solid $lighter-grey;
}

.u-underline {
    background-image: linear-gradient(transparent 60%,$Orange-yellow 60%, $Orange-yellow 85%, transparent 85%, transparent 100%);
}

@media screen and (max-width: em(700px)) {
    .Illustration {
        padding-bottom: 40vh;
    }
}
.Illustration {
    position: relative;
}

.Illustration .Balloon {
    position: absolute;
    height: calc(3rem + 40vh);
    bottom: 0;
    right: 0;
    fill: currentColor;
    z-index: 0;
}

@media screen and (min-width: em(700px)) {
    .Illustration .Balloon {
        height: 60%;
        right: -20%;
        top: 3rem;
    }

    .Illustration .Heading {
        max-width: 33rem;
    }
}

@media screen and (min-width: em(900px)) {
    .Illustration .Balloon {
        right: -10%;
    }

    .Illustration .Heading {
        max-width: none;
    }
}

@media screen and (min-width: em(1100px)) {
    .Illustration .Balloon {
        height: 80%;
        right: -5%;
        top: unset;
    }

    .Illustration #cloud1 {
        display: none;
    }
}

@media screen and (min-width: em(1600px)) {
    .Illustration .Balloon {
        right: 0;
    }

    .Illustration #cloud1 {
        display: block;
    }
}

// color utilities

.u-white {
    color: $Blank;
}
.u-brandeis-blue {
    color: $Brandeis-blue;
}
.u-carribean-green {
   color: $Brand-carribean-green;
}
.u-lapis-lazuli-blue {
   color: $Lapis-lazuli-blue;
}
.u-orange-yellow {
    color: $Orange-yellow;
}
.u-plum {
    color: $Brand-plum;
}
.u-sea-serpent-blue {
    color: $Sea-serpent-blue;
}
.u-crayola-red {
    color: $Crayola-red;
}
