<div class="ImageGallery">
    <div class="ImageGallery-group ImageGallery-group--wide">
        <img class="ImageGallery-image" src="/assets/img/studio-2/working.jpg" alt="" />
        <!--Image dimensions 780x414-->
    </div><!--/.ImageGallery-group-->
    <div class="ImageGallery-group ImageGallery-group--pair">
        <img class="ImageGallery-image" src="/assets/img/studio-2/vr.jpg" alt="VR fun" />
        <!--Image dimensions 382x414-->
        <img class="ImageGallery-image" src="/assets/img/studio-2/values.jpg" alt="Values" />
        <!--Image dimensions 382x414-->
    </div><!--/.ImageGallery-group-->
    <div class="ImageGallery-group ImageGallery-group--pair">
        <img class="ImageGallery-image" src="/assets/img/studio-2/beer.jpg" alt="Beer fridge" />
        <!--Image dimensions 382x414-->
        <img class="ImageGallery-image" src="/assets/img/studio-2/sketching.jpg" alt="Sketching" />
        <!--Image dimensions 382x414-->
    </div><!--/.ImageGallery-group-->
    <div class="ImageGallery-group ImageGallery-group--quad">
        <div class="ImageGallery-quadRow">
            <img class="ImageGallery-image ImageGallery-image--quadSmall" src="/assets/img/studio-2/bike.jpg" alt="Bike" />
            <!--Image dimensions 473x374-->
            <img class="ImageGallery-image ImageGallery-image--quadWide" src="/assets/img/studio-2/screens.jpg" alt="Desk and screens" />
            <!--Image dimensions 528x200-->
        </div><!--/.ImageGallery-quadRow-->
        <div class="ImageGallery-quadRow">
            <img class="ImageGallery-image ImageGallery-image--quadSmall" src="/assets/img/studio-2/workshopping.jpg" alt="Workshop group" />
            <!--Image dimensions 473x374-->
            <img class="ImageGallery-image ImageGallery-image--quadWide" src="/assets/img/studio-2/leading-design.jpg" alt="Leading design tote bags" />
            <!--Image dimensions 528x200-->
        </div><!--/.ImageGallery-quadRow-->
    </div><!--/.ImageGallery-group-->
    <div class="ImageGallery-group ImageGallery-group--quad">
        <div class="ImageGallery-quadRow">
            <img class="ImageGallery-image ImageGallery-image--quadWide" src="/assets/img/studio-2/doodles.jpg" alt="Sketching" />
            <!--Image dimensions 528x202-->
            <img class="ImageGallery-image ImageGallery-image--quadSmall" src="/assets/img/studio-2/post-its.jpg" alt="Post its and notes" />
            <!--Image dimensions 473x374-->
        </div><!--/.ImageGallery-quadRow-->
        <div class="ImageGallery-quadRow">
            <img class="ImageGallery-image ImageGallery-image--quadWide" src="/assets/img/studio-2/doughnuts.jpg" alt="Doughnuts and coffee" />
            <!--Image dimensions 528x202-->
            <img class="ImageGallery-image ImageGallery-image--quadSmall" src="/assets/img/studio-2/head-down.jpg" alt="Andy in the zone" />
            <!--Image dimensions 473x374-->
        </div><!--/.ImageGallery-quadRow-->
    </div><!--/.ImageGallery-group-->
    <div class="ImageGallery-group ImageGallery-group--wide">
        <img class="ImageGallery-image" src="/assets/img/studio-2/team.jpg" alt="Team meeting" />
        <!--Image dimensions 780x410-->
    </div><!--/.ImageGallery-group-->
</div><!--/.ImageGallery-->