<div class="Voice{% if voiceModifier %} Voice{{voiceModifier}}{% endif %}">
    <div class="Voice-person">
        <img src="/assets/img/team/voice/graham.png" alt="Graham Smith">
    </div><!--/.Voice-person-->
    <div class="Voice-description">
        <p>“{{voiceDescription}}”</p>
        <p class="Voice-cite Heading Heading--context">{{voiceCite}}</p>
    </div><!--/.Voice-description-->
</div><!--/.Voice-->