<li class="InfoBlock">
    <a  class="InfoBlock-link" href="{{infoBlockUrl}}">
        {% if infoBlockSrc %}<img class="InfoBlock-image" src="{{infoBlockSrc}}" alt="">{% endif %}
        <div class="InfoBlock-group">
            <p class="InfoBlock-title">{{infoBlockTitle}}</p>
            <span class="InfoBlock-sub">{{infoBlockSub}}</span>
        </div><!--/.Infoblock-group-->
    </a><!--/.InfoBlock-->
</li><!--/.List-item-->