<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Clearfractal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/all.css">

    <style media="screen">
        body {
            background-color: #111;
        }
    </style>
</head>
<body>
{{ yield }}
</body>
</html>
