<div class="TextBlock{% if textBlockModifier %} TextBlock{{textBlockModifier}}{% endif %} Prose">
    {% if textBlockModifier == "--author" %}
    <div class="TextBlock-author">
        {% include '@author' %}
    </div>
    {% endif %}
    {{textBlockProse}}
</div><!--/.TextBlock Prose-->