<div class="InputGroup">
    <label class="InputGroup-label" for="{{inputID}}">{{inputLabel}}</label>
    <div class="InputGroup InputGroup--combo">
        <input class="InputGroup-field" type="email" placeholder="E.g. example@domain.com" id="{{inputID}}" />
        <button class="InputGroup-submit">Sign up</button>
    </div><!--/.InputGroup-->
</div><!--/.InputGroup-->