<blockquote class="Quote">
    {{quoteText}}
    <div class="Quote-citation">
        <img class="Quote-avatar" src="{{quoteAvatarSrc}}" alt="{{quoteAvatarAlt}}">
        <span>{{quoteAuthor}}</span>
    </div><!--/.Quote-citation-->
</blockquote><!--/.Quote-->