<blockquote class="Quote">
    {{quoteText}}
    <div class="Quote-citation">
        {% if quoteAvatarSrc %}<img class="Quote-avatar" src="{{quoteAvatarSrc}}" alt="{{quoteAvatarAlt}}">{% else %}— {% endif %}
        <span>{{quoteAuthor}}</span>
    </div><!--/.Quote-citation-->
</blockquote><!--/.Quote-->