
//------------------------------------
//    $VARIABLES
//------------------------------------


/** Fonts */

$base-font-size: 16px;

/** Colours */

// Brand colours
$brand-plum: #973B8A;
$Brand-carribean-green: #00D494;
$Sea-serpent-blue: #56CBE6;
$Orange-yellow: #FFDA69;
$Crayola-red: #EA215A;
$Brandeis-blue: #006FF5;
$Lapis-lazuli-blue: #1E6B9C;
$accent-green: #00D495;

// Canvas colours
$jet-grey: #333333;
$dark-grey: #505050;
$mid-grey: #656565;
$light-grey: #ADADAD;
$shadow-grey: #DAE1E8;
$white-grey: #F3F2F2;

/** Typography */

$font-main: 'Adelle Sans', 'Helvetica Neue', sans-serif;
$font-secondary: "Gilroy", "Helvetica Neue", sans-serif;
$font-statement: "Gilroy Black", "Arial Black", sans-serif;
