
//------------------------------------
//    $VARIABLES
//------------------------------------


/** Fonts */

$base-font-size: 16px;

/** Colours */

$Blank: #FFFFFF;

// Brand colours
$Brand-plum: #973B8A;
$Brand-carribean-green: #00D494;
$Brandeis-blue: #006FF5;
$Crayola-red: #EA215A;
$Lapis-lazuli-blue: #1F6B9C;
$Orange-yellow: #FFDA69;
$Sea-serpent-blue: #56CBE6;

// Canvas colours
$Anti-white-flash: #F3F2F2;
$Dark-liver-grey: #505050;
$Gainsboro-blue: #DAE1E8;
$Jet-grey: #333333;
$light-grey: #ADADAD;
$mid-grey: #656565;
$lighter-grey: #e1e1e1;
$Charcoal-grey: #25333a;

// Accessibility adjusts
$Crayola-red-acc: darken($Crayola-red, 2.7%);
$Crayola-red-acc2: darken($Crayola-red, 6%);

/** Typography */

$font-main: "Adelle Sans", "Droid Sans", -apple-system, "Helvetica Neue", "Segoe UI", "Arial", sans-serif;
$font-secondary: "Gilroy", "Avenir", "Century Gothic", -apple-system, "Helvetica Neue", "Segoe UI", "Roboto", sans-serif;
$font-statement: "Gilroy", "Avenir", "Century Gothic", -apple-system, "Helvetica Neue", "Segoe UI", "Roboto", sans-serif;

/** Animation */

$confident-ease: cubic-bezier(0.39, 0.575, 0.565, 1);
