<div class="ImageGallery">
    <div class="ImageGallery-group ImageGallery-group--wide">
        <img class="ImageGallery-image" src="http://placekitten.com/502/273" alt="" />
    </div><!--/.ImageGallery-group-->
    <div class="ImageGallery-group ImageGallery-group--pair">
        <img class="ImageGallery-image" src="http://placekitten.com/244/273" alt="" />
        <img class="ImageGallery-image" src="http://placekitten.com/244/273" alt="" />
    </div><!--/.ImageGallery-group-->
    <div class="ImageGallery-group ImageGallery-group--pair">
        <img class="ImageGallery-image" src="http://placekitten.com/244/273" alt="" />
        <img class="ImageGallery-image" src="http://placekitten.com/244/273" alt="" />
    </div><!--/.ImageGallery-group-->
    <div class="ImageGallery-group ImageGallery-group--quad">
        <div class="ImageGallery-quadRow">
            <img class="ImageGallery-image ImageGallery-image--quadSmall" src="http://placekitten.com/153/125" alt="" />
            <img class="ImageGallery-image ImageGallery-image--quadWide" src="http://placekitten.com/327/125" alt="" />
        </div><!--/.ImageGallery-quadRow-->
        <div class="ImageGallery-quadRow">
            <img class="ImageGallery-image ImageGallery-image--quadSmall" src="http://placekitten.com/153/125" alt="" />
            <img class="ImageGallery-image ImageGallery-image--quadWide" src="http://placekitten.com/327/125" alt="" />
        </div><!--/.ImageGallery-quadRow-->
    </div><!--/.ImageGallery-group-->
</div><!--/.ImageGallery-->
