<div class="ImageGallery">
    <div class="ImageGallery-group ImageGallery-group--wide">
        <img class="ImageGallery-image" src="/assets/img/studio/working.jpg" alt="" />
        <!--Image dimensions 780x414-->
    </div><!--/.ImageGallery-group-->
    <div class="ImageGallery-group ImageGallery-group--pair">
        <img class="ImageGallery-image" src="/assets/img/studio/vr.jpg" alt="" />
        <!--Image dimensions 382x414-->
        <img class="ImageGallery-image" src="/assets/img/studio/values.jpg" alt="" />
        <!--Image dimensions 382x414-->
    </div><!--/.ImageGallery-group-->
    <div class="ImageGallery-group ImageGallery-group--pair">
        <img class="ImageGallery-image" src="/assets/img/studio/beer.jpg" alt="" />
        <!--Image dimensions 382x414-->
        <img class="ImageGallery-image" src="/assets/img/studio/sketching.jpg" alt="" />
        <!--Image dimensions 382x414-->
    </div><!--/.ImageGallery-group-->
    <div class="ImageGallery-group ImageGallery-group--quad">
        <div class="ImageGallery-quadRow">
            <img class="ImageGallery-image ImageGallery-image--quadSmall" src="/assets/img/studio/bike.jpg" alt="" />
            <!--Image dimensions 473x374-->
            <img class="ImageGallery-image ImageGallery-image--quadWide" src="/assets/img/studio/screens.jpg" alt="" />
            <!--Image dimensions 528x200-->
        </div><!--/.ImageGallery-quadRow-->
        <div class="ImageGallery-quadRow">
            <img class="ImageGallery-image ImageGallery-image--quadSmall" src="/assets/img/studio/workshopping.jpg" alt="" />
            <!--Image dimensions 473x374-->
            <img class="ImageGallery-image ImageGallery-image--quadWide" src="/assets/img/studio/leading-design.jpg" alt="" />
            <!--Image dimensions 528x200-->
        </div><!--/.ImageGallery-quadRow-->
    </div><!--/.ImageGallery-group-->
    <div class="ImageGallery-group ImageGallery-group--quad">
        <div class="ImageGallery-quadRow">
            <img class="ImageGallery-image ImageGallery-image--quadWide" src="/assets/img/studio/doodles.jpg" alt="" />
            <!--Image dimensions 528x202-->
            <img class="ImageGallery-image ImageGallery-image--quadSmall" src="/assets/img/studio/post-its.jpg" alt="" />
            <!--Image dimensions 473x374-->
        </div><!--/.ImageGallery-quadRow-->
        <div class="ImageGallery-quadRow">
            <img class="ImageGallery-image ImageGallery-image--quadWide" src="/assets/img/studio/doughnuts.jpg" alt="" />
            <!--Image dimensions 528x202-->
            <img class="ImageGallery-image ImageGallery-image--quadSmall" src="/assets/img/studio/head-down.jpg" alt="" />
            <!--Image dimensions 473x374-->
        </div><!--/.ImageGallery-quadRow-->
    </div><!--/.ImageGallery-group-->
    <div class="ImageGallery-group ImageGallery-group--wide">
        <img class="ImageGallery-image" src="/assets/img/studio/team.jpg" alt="" />
        <!--Image dimensions 780x410-->
    </div><!--/.ImageGallery-group-->
</div><!--/.ImageGallery-->
