<div class="ImageGallery">
    <div class="ImageGallery-group ImageGallery-group--wide">
        <img class="ImageGallery-image" src="http://placekitten.com/780/415" alt="" />
    </div><!--/.ImageGallery-group-->
    <div class="ImageGallery-group ImageGallery-group--pair">
        <img class="ImageGallery-image" src="http://placekitten.com/382/415" alt="" />
        <img class="ImageGallery-image" src="http://placekitten.com/382/415" alt="" />
    </div><!--/.ImageGallery-group-->
    <div class="ImageGallery-group ImageGallery-group--pair">
        <img class="ImageGallery-image" src="http://placekitten.com/382/415" alt="" />
        <img class="ImageGallery-image" src="http://placekitten.com/382/415" alt="" />
    </div><!--/.ImageGallery-group-->
    <div class="ImageGallery-group ImageGallery-group--quad">
        <div class="ImageGallery-quadRow">
            <img class="ImageGallery-image ImageGallery-image--quadSmall" src="http://placekitten.com/473/375" alt="" />
            <img class="ImageGallery-image ImageGallery-image--quadWide" src="http://placekitten.com/528/200" alt="" />
        </div><!--/.ImageGallery-quadRow-->
        <div class="ImageGallery-quadRow">
            <img class="ImageGallery-image ImageGallery-image--quadSmall" src="http://placekitten.com/473/375" alt="" />
            <img class="ImageGallery-image ImageGallery-image--quadWide" src="http://placekitten.com/528/200" alt="" />
        </div><!--/.ImageGallery-quadRow-->
    </div><!--/.ImageGallery-group-->
    <div class="ImageGallery-group ImageGallery-group--quad">
        <div class="ImageGallery-quadRow">
            <img class="ImageGallery-image ImageGallery-image--quadWide" src="http://placekitten.com/528/200" alt="" />
            <img class="ImageGallery-image ImageGallery-image--quadSmall" src="http://placekitten.com/473/375" alt="" />
        </div><!--/.ImageGallery-quadRow-->
        <div class="ImageGallery-quadRow">
            <img class="ImageGallery-image ImageGallery-image--quadWide" src="http://placekitten.com/528/200" alt="" />
            <img class="ImageGallery-image ImageGallery-image--quadSmall" src="http://placekitten.com/450/364" alt="" />
        </div><!--/.ImageGallery-quadRow-->
    </div><!--/.ImageGallery-group-->
    <div class="ImageGallery-group ImageGallery-group--wide">
        <img class="ImageGallery-image" src="http://placekitten.com/780/415" alt="" />
    </div><!--/.ImageGallery-group-->
</div><!--/.ImageGallery-->
