<div class="FormUnit">
    <label class="FormUnit-label" for="{{formUnitID}}">{{formUnitLabel}}</label>
    <textarea class="FormUnit-field" rows="7" placeholder="{{formUnitPlaceholder}}" id="{{formUnitID}}"></textarea>
</div><!--/.FormUnit-->