<div class="FlexGrid">
    {% for person in persons %}
        {% include '@index-card' with {indexCardName: person.indexCardName, indexCardInfo: person.indexCardInfo, imageSrc: person.imageSrc} %}
    {% endfor %}
</div>