<div class="InputGroup">
    <label class="InputGroup-label" for="{{inputID}}">{{inputLabel}}</label>
    <input class="InputGroup-field" type="email" placeholder="E.g. example@domain.com" id="{{inputID}}" />
</div><!--/.InputGroup-->