
<div class="Background--carribean-green">
    {% include '@site-header' %}

    <div class="Splash" role="banner">
        <h1 class="Splash-header l-pad-after">Design Effectiveness 2019</h1>

        <p class="l-pad-after">We surveyed designers from hundreds of organisations to find out how design is currently used and understood in their workplaces.</p>

        <div class="typeform-widget" data-url="https://clearleft-rr.typeform.com/to/IIdIfX" data-transparency="100" data-hide-headers=true data-hide-footer=true 
        style="width: 100%; height: 500px; box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.2);
    background-color: white;
    border-radius: 7px;"
    ></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script></div>

 
    <div  class="Container--small">
        {% include '@hands' %}
    </div>

</div>

<main id="main-content" class="Texture-border Texture-border--top Background">
    
    <div class="Container Container--small Container--paddedLarge">
       <h2 class="Heading Heading--medium u-lapis-lazuli-blue l-pad-after--mega">We found that nearly <span class="u-carribean-green">9 out of 10</span> organisations where design is making a positive impact have the following aspects in place</h2>
       
       <div class="l-pad-after--double">
        {% include '@point-group' %}
       </div> 
    </div>

    <div class="Background--carribean-green">
        <div class="Container Container--constrained Container--paddedLarge u-white">
         {% include '@quote' %}
        </div>
    </div>

</main>

{% include '@site-footer' %}
