
<div class="Background Background--grey">
    {% include '@site-header' %}
    {% include '@masthead' %}
</div>

<main>

    {% include '@event-past-grid' %}
    {% include '@hello' %}
    
</main>

{% include '@site-footer' with footer only %}
