
<nav class="PrimaryNavigation">
    <ul class="PrimaryNavigation-list">
        {% for primaryNavlink in primaryNavlinks %}
        <li class="PrimaryNavigation-listItem"><a href="#" class="PrimaryNavigation-link{% if primaryNavlink.primaryActive %} is-active {% endif %}">{{ primaryNavlink.title }}</a></li>
        {% endfor %}
    </ul>
</nav>
