<div class="Nextprev">
    <a class="Nextprev-prev" href="#"><img src="/assets/img/circle-arrow.svg" alt=""></a>
    <a class="Nextprev-next" href="#"><img src="/assets/img/circle-arrow.svg" alt=""></a>
</div><!--/.Nextprev-->