<div class="Nextprev">
    <a class="Nextprev-link" href="{{prevLink}}"><img src="/assets/img/icons/icon-arrow-circle-left.svg" alt="Go to previous post"></a>
    <a class="Nextprev-link" href="{{nextLink}}"><img src="/assets/img/icons/icon-arrow-circle-right.svg" alt="Got to next post"></a>
</div><!--/.Nextprev-->