<div class="Nextprev">
    <a rel="prev" class="Nextprev-link" href="{{prevLink}}"><img src="/assets/img/icons/icon-arrow-circle-left.svg" alt="Previous"></a>
    <a rel="next" class="Nextprev-link" href="{{nextLink}}"><img src="/assets/img/icons/icon-arrow-circle-right.svg" alt="Next"></a>
</div><!--/.Nextprev-->
