<div class="FeaturedLanding">
    {% include '@site-header' %}
    <div class="FeaturedLanding--primary">
        <h1>{{featuredTitle}}</h1>
        <div class="Bar">{{featuredText}}</div>
    </div>
</div>