.Cols-item {
    padding: px2em(8px) px2em(16px);
}
@media screen and (min-width: px2em(680px)) {
    .Cols {
        display: flex;
        max-width: px2rem(1180px);
        margin-left: auto;
        margin-right: auto;
        flex-wrap: wrap;
    }
    .Cols--balanced {
        align-items: center;
    }
    .Cols-half {
        flex-basis: 50%;
    }
}