.Cols-item {
    padding: rem(8px) rem(16px);
}

@supports(display: grid) {
    .Cols {
        display: grid;
        grid-template-columns: 1fr;
    }
    .Cols--gap {
        grid-row-gap: units(1);
        grid-column-gap: units(1);
    }
    @media screen and (min-width: em(680px)) {
        .Cols--reverse {
            >*:first-child {
                order: 2;
            }
        }
        .Cols--half {
            grid-template-columns: 1fr 1fr;
        }
        .Cols--one-third {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}
