.Home-grid {
    margin: 0 auto;
    max-width: rem(1260px);
    padding: units(1) 1%;
}
.Home-gridItem + .Home-gridItem {
    margin-top: units(1);
}

@media only screen and (min-width: px2em(800px)) {
    .Home-grid {
        display: flex;
    }
    .Home-gridItem {
        flex: 1 0 33.33%;
        padding: 0 units(1);
    }
    .Home-gridItem + .Home-gridItem {
        margin-top: 0;
    }
}
