
@media only screen and (min-width: px2em(720px)) {
    .PresentsGrid {
        display: flex;
        max-width: px2rem(1094px);
        margin: auto;
    }
    .PresentsGrid-primary {
        flex: 1 0 60%;
    }
    .PresentsGrid-secondary {
        flex: 1 0 40%;
    }
}
