<div class="Split">
    <div class="Split-half">
        <strong>Get Clearleft insights in your inbox once a week</strong>
    </div>
    <div class="Split-half">
        {% include '@input-combo' %}
    </div>
</div>