<div class="Cols Cols--balanced">
    <div class="Cols-half Cols-item">
        <strong>Get Clearleft insights in your inbox once a week</strong>
    </div>
    <div class="Cols-half Cols-item">
        {% include '@input-group' %}
    </div>
</div>
