<div class="Background">{% include '@site-header' %}</div>

    <main>

        <div class="Background">{% include '@masthead' %}</div>

        {# {% include '@page-lead' with {pageLeadModifier: '--loud'} %} #}

        {% include '@team-member' %}

        {% include '@blog-extension' %}

    </main>

{% include '@site-footer' %}
