{% include '@evo-project' %}

<div class="Background Background--grey">
    {% include '@voice' %}
</div>

<main>
    {% include '@scene' %}

    {% include '@image-block' %}

    {% include '@evo-display-case' %}

    {% include '@trio' %}

    {% include '@signpost' %}
</main>

{% include '@hello' %}

{% include '@site-footer' %}
