<div class="ContactCard h-card">
    <div class="ContactCard-item">
        <span class="p-street-address">68 Middle Street</span>,<br>
        <span class="p-locality">Brighton</span>,<br>
        <span class="p-postal-code">BN1 1AL</span>
    </div><!--/.ContactCard-item-->
    <div class="ContactCard-item Contact-group">
        <a class="u-email" href="mailto:info@clearleft.com">info@clearleft.com</a><br>
        <span class="p-tel">+44 (0)845 838 6163</span><br>
        <a href="">Download our vCard</a>
    </div><!--/.ContactCard-item-->
</div><!--/.ContactCard-->