<div class="Masthead{% if mastheadModifier %}{{mastheadModifier}}{% endif %}">
    <div class="Masthead-primary">
        <h1 class="Heading Heading--main">{{mastheadTitle}}</h1>
    </div>
    {% if mastheadSecondary %}
        <div class="Masthead-secondary">
            <div class="Heading Heading--context">{{mastheadSecondaryHeading}}</div>
            <a href="#">A link to somewhere</a>
        </div><!--/.Masthead-secondary-->
    {% endif %}
</div><!--/.Masthead-->