<div class="Chapter">
    <div class="Chapter-label">
        <div class="Counter"><span class="Counter-small">#</span>1</div>
    </div><!--/.Chapter-label-->
    <div class="Chapter-primary Chapter-number">
        <h2 class="Chapter-title">{{chapterTitle}}</h2>
        <p>{{chapterText}}</p>
    </div><!--/.Chapter-primary-->
    <div class="Chapter-secondary">
        <img class="Chapter-image" src="{{chapterImageSVG}}" onerror="this.src='{{chapterImagePNG}}'; this.onerror=null;" alt="">
    </div><!--/.Chapter-secondary-->
</div><!--/.Chapter-->