<a href="#" class="IndexCard IndexCard{{modifier}}">
    <img class="IndexCard-image" src="{{imageSrc}}" alt="">
    <div class="IndexCard-details">
        <h2 class="IndexCard-name">Andy Budd</h2>
        <span class="IndexCard-info">Managing Director</span>
    </div><!--/.IndexCard-details-->
</a><!--/.IndexCard-->