<a href="#" class="IndexCard">
    <h2 class="IndexCard-name">Andy Budd</h2>
    <span class="IndexCard-info">Managing Director</span>
    <img class="IndexCard-image" src="http://fillmurray.com/136/90" alt="">
</a><!--/.IndexCard-->