<!-- <a href="#" class="IndexCard">
    <h2 class="IndexCard-name">Andy Budd</h2>
    <span class="IndexCard-info">Managing Director</span>
    <img class="IndexCard-image" src="http://fillmurray.com/136/90" alt="">
</a> --><!--/.IndexCard-->

 <a href="#" class="IndexCard">
    <img class="IndexCard-image" src="http://fillmurray.com/68/62" alt="">
    <div class="IndexCard-details">
        <h2 class="IndexCard-name">Andy Budd</h2>
        <span class="IndexCard-info">Managing Director</span>
    </div>
</a><!--/.IndexCard-->