<a href="#" class="IndexCard IndexCard{{modifier}}">
    <img class="IndexCard-image" src="{{imageSrc}}" alt="">
    <div class="IndexCard-details">
        <h2 class="IndexCard-name">{{indexCardName}}</h2>
        <span class="IndexCard-info">{{indexCardInfo}}</span>
    </div><!--/.IndexCard-details-->
</a><!--/.IndexCard-->