<div class="Signpost">
    <img class="Signpost-image" src="http://fillmurray.com/400/190" alt="">
    <div class="Signpost-directions">
        <h3 class="Signpost-title">{{signpostTitle}}</h3>
        <p class="Signpost-description">
            {{signpostDescription}}
        </p>
        <a href="#" class="Signpost-exit">{{signpostLink}}</a>
    </div><!--/.Signpost-directions-->
</div><!--/.Signpost-->