{% include '@showcase--featured-channel4' %}

<div class="Background">
    {% include '@voice--tall' %}
</div>

{% include '@scene--shuffle' %}

{% include '@image-block' %}

{% include '@text-block' %}

{% include '@quote' %}

{% include '@image-block--right-caption' with {imageBlockModifier: '--rightCaption', imageBlockCaption: 'Sketching from lo-fi to hi-fi', imageBlockSrc: '/assets/img/work/ch4/sketching-lo-hi.jpg'} %}

{% include '@text-block' %}

{% include '@display-case-content' %}

<div class="BackgroundCh4">
    {% include '@trio' %}
</div>

{% include '@site-footer' %}