<div class="Ch4Featured">
    {% include '@site-header' %}
    <div class="Ch4Featured-wrapper">
        <div class="Ch4Featured-primary">
            {% include '@breadcrumb' %}
            <h1 class="Ch4Featured-title">{{featuredTitle}}</h1>
            <div class="Lead Bar">{{featuredText}}</div>
        </div>
        <img class="Ch4Featured-secondary" src="/assets/img/work/ch4/sling.png" alt="">
        <img class="Ch4Featured-logo" src="/assets/img/work/ch4/ch4-logo.svg" alt="">
    </div>
    <div class="Ch4Featured-bg" aria-hidden="true">
        <div class="Ch4Featured-middle" aria-hidden="true"></div>
    </div><!--/.Skewed section-->
</div><!--/.Ch4Featured-->
<div class="Background">
    <div class="Voice Voice--tall">
        <div class="Voice-person">
            <img src="/assets/img/team/voice/graham.png" alt="Graham Smith">
        </div>
        <div class="Voice-description">
            <p>We’re in the news room, in the centre of all the activity, watching the team capture, edit, and share events from all over the world.  It’s fast-moving, exciting, and iterative. In that moment, I realised that we could also design in a way that harnesses that same excitement.</p>
            <p class="Voice-cite Heading Heading--context">James Box, UX Director, Team lead</p>
        </div>
    </div><!--/.Voice-->
</div><!--/.Background-->
{% include '@site-footer' %}
