{% include '@ch4-project' %}

<main>
    <div class="Background">
        {% include '@voice--tall' %}
    </div>

    {% include '@scene--shuffle' %}

    {% include '@image-block' %}

    {% include '@text-block' %}

    {% include '@quote' %}

    {% include '@image-block--right-caption' with {imageBlockModifier: '--rightCaption', imageBlockCaption: 'Sketching from lo-fi to hi-fi', imageBlockSrc: '/assets/img/work/ch4/sketching-lo-hi.jpg'} %}

    {% include '@text-block' %}

    <div class="RedDots">
        <div class="TextBlock Prose">
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, eaque.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil officia, at! Magni voluptatem provident, itaque eveniet! Sit placeat corrupti sunt illum dicta error veniam possimus enim, quaerat qui sed dolorem.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos incidunt in animi sapiente! Sunt illum adipisci doloremque similique quam qui dignissimos modi, id, commodi aperiam tenetur amet assumenda repudiandae natus architecto atque pariatur praesentium autem possimus dolorem, repellat laudantium facere!</p>
        <h2>Lorem ipsum dolor sit amet, consectetur.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est id doloribus expedita voluptatum sunt sapiente corporis deserunt quibusdam natus odio vero, ipsa aperiam non velit quidem perferendis tempora, maxime hic ea provident odit eos eveniet. Sint sequi a facere ipsum ducimus velit, hic vel provident vero illum ratione asperiores quis tenetur autem aspernatur magni, consequatur repellat! Voluptatum animi fuga aut est perspiciatis, ipsa doloribus similique debitis? Delectus aspernatur, hic fuga?</p>
        </div><!--/.TextBlock Prose-->
    </div>

    {% include '@text-block' with {textBlockModifier: '--author', authorImage: '/assets/img/team/voice/graham.png', authorName: 'Graham Smith'} %}

    {% include '@display-case-content' %}

    {% include '@image-block--short' with {imageBlockModifier: '--short', imageBlockCaption: false, imageBlockSrc: '/assets/img/work/ch4/ch4-team.png'} %}

    {% include '@trio' %}

    {% include '@signpost' %}

    {% include '@hello' %}
</main>

{% include '@site-footer' %}