{% include '@showcase--featured-channel4' %}
<div class="Background">
    {% include '@voice--tall' %}
</div>
{% include '@scene--shuffle' %}
{% include '@image-block' %}
<div class="TextBlock Prose">
    <h2>So how do you work together to understand your users?</h2>
    <p>The Clearleft team kicked off with a collaborative workshop in our Brighton studio to dig deeper into the needs and expectations of the news audience. Channel 4 News took us through their audience archetypes, which was a great starting point for us.</p>
    <p>For good design to work, everyone involved needs to be in agreement on the priorities of the project. By getting everyone in a room together, there was a great sense of collaboration and co-creation between Clearleft, Channel 4, and ITN.</p>
    <p>By getting everyone together we also learned that some users want bite size news and other people want in-depth reporting on newsworthy topics. So how do you provide for these varying needs?</p>
</div>
<blockquote class="Quote">
    I remember a really good sense of collaboration. There were a lot of moving parts—us at Clearleft, the team at Channel 4, but also the team at ITN. I think we had a really good working relationship between all of those people.
    <div class="Quote-citation">
        <img class="Quote-image" src="/assets/img/work/ch4/anna-doble.jpg" alt="Anna Doble">
        <span>James Bates</span>
    </div>
</blockquote>
<figure class="ImageBlock">
    <img class="ImageBlock-item" src="/assets/img/work/ch4/sketching-lo-hi.jpg" alt="Sketching">  
    <figcaption class="ImageBlock-item">Sketching from lo-fi to hi-fi</figcaption>
</figure>
<div class="TextBlock Prose">
    <h2>So how do you work together to understand your users?</h2>
    <p>The Clearleft team kicked off with a collaborative workshop in our Brighton studio to dig deeper into the needs and expectations of the news audience. Channel 4 News took us through their audience archetypes, which was a great starting point for us.</p>
    <p>For good design to work, everyone involved needs to be in agreement on the priorities of the project. By getting everyone in a room together, there was a great sense of collaboration and co-creation between Clearleft, Channel 4, and ITN.</p>
    <p>By getting everyone together we also learned that some users want bite size news and other people want in-depth reporting on newsworthy topics. So how do you provide for these varying needs?</p>
</div>

{% include '@site-footer' %}
