{% include '@ch4-project' %}

<main>
    <div class="Background">
        {% include '@voice--tall' %}
    </div>

    {% include '@scene--shuffle' %}

    {% include '@image-block' %}

    {% include '@text-block' %}

    {% include '@quote' %}

    {% include '@image-block--right-caption' with {imageBlockModifier: '--rightCaption', imageBlockCaption: 'Sketching from lo-fi to hi-fi', imageBlockSrc: '/assets/img/work/ch4/sketching-lo-hi.jpg'} %}

    <div class="RedDots">

    {% include '@text-block' %}
        
    </div>

    {% include '@ch4-display-case' %}

    {% include '@image-block--short' with {imageBlockModifier: '--short', imageBlockCaption: false, imageBlockSrc: '/assets/img/work/ch4/ch4-team.png'} %}

    {% include '@trio' %}

    {% include '@signpost' %}

    {% include '@hello' %}
</main>

{% include '@site-footer' %}