<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Test</title>

    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>

    <main>

        <section class="Sharpies">

            <div class="Sharpies-headings">
                <h2>UX Design</h2>
                <h2>Visual Design</h2>
                <h2>Front-end design</h2>
                <h2>Crafting the vision</h2>
                <h2>Dirty, messy reality</h2>
                <h2>Make a fuzzy thing clear</h2>
            </div>

            <div class="Sharpie-blob1">
                Discover.<br>
                Think.<br>
                Solve.<br>
                Make.<br>
                Change.
            </div>

            <div class="Sharpie-blob2">
                The Culture<br>of Design
            </div>

        </section>

        <section class="Specimen">

            <div class="Prose">

                <p class="Prose-subheader">DIGITAL DESIGN CONSULTANCY &amp; STUDIO</p>

                <p class="Prose-header">Responsible design for worthwhile experiences.</p>

                <p class="Prose-intro">This is an intro paragraph set at 22/32px ut suscipit metus a commodo malesuada. Duis lorem libero, rutrum eu enim id, facilisis convallis arcu. Cras nunc neque, lobortis quis augue nec, euismod facilisis ex. In ligula orci, sagittis molestie malesuada a, tincidunt non mauris. Sed gravida finibus condimentum.</p>

                <div class="Prose-block Block-bold">
                    <p class="">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p>
                    <p class="">a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
                    <p class="">0 1 2 3 4 5 6 7 8 9 ! @&pound;$ % ^ &amp; * ( ) _ + = - ] [  &apos; ; / . , | &quot; : ? &gt; &lt;</p>
                </div>

                <div class="Prose-block Block-normal">
                    <p class="">A B C D E  F G H I J K L M N O P Q R S T U V W X Y Z</p>
                    <p class="">a b c d e fg h i j k l m n o p q r s t u v w x y z</p>
                    <p class="">0 1 2 3 4 5 6 7 8 9 ! @ &pound; $ % ^ &amp; * ( ) _ + = - ] [  &apos; ; / . , | &quot; : ? &gt; &lt;</p>
                </div>

                <div class="Prose-block Prose-standard">
                    <p class="">This is a standard paragraph set at 16/26px ut suscipit metus a commodo malesuada. Duis lorem libero, rutrum eu enim id, facilisis convallis arcu. Cras nunc neque, lobortis quis augue nec, euismod facilisis ex. In ligula orci, sagittis molestie malesuada a, tincidunt non mauris. Sed gravida finibus condimentum. Praesent scelerisque mauris in odio efficitur aliquam. Sed metus purus, interdum a lectus eget, rhoncus vehicula lectus. In hac habitasse platea dictumst. Donec at sodales lacus. Donec feugiat viverra consequat. Ut rutrum vel orci in varius..</p>
                </div>

                <div class="Prose-block">
                    <p class="Prose-subtitle">A black subtitle set in 20/22px</p>
                    <p class="Prose-substandard">This is set in 14/22px think of this as adapting your tone of voice to the type of person or situation you are in. If you were being given a medical diagnosis the tone would not be fun or light-hearted. Sed facilisis turpis at ligula congue, vitae rutrum lorem facilisis. Suspendisse mattis ipsum id dui accumsan semper. Maecenas sodales orci sed lacinia blandit. Vestibulum a nisi et nisl suscipit euismod eu sit amet eros. Integer id lectus risus. Donec quis sapien rhoncus, varius dui vitae, posuere odio. Mauris vitae mattis justo, in blandit urna. Praesent ut erat cursus, placerat urna vitae, mollis sem. In contrast talking colloquially to a close friend could be the opposite of this.This is set in 12/22px web fonts allow you to have this kind of razor-sharp efficiency and elegance in design whilst at the same time avoiding the need for adding additional page graphics, which in turn add load time, decrease workflow performance and risk breaking across screen dimensions and device situations.</p>
                </div>

            </div>

        </section>

    </main>

</body>
</html>
