<div class="Proposition{% if signpostModifier %} Proposition{{signpostModifier}} {% endif %}">
    <div class="Proposition-primary">
        <h3 class="Proposition-title">{{signpostTitle}}</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor autem, ea hic debitis id sunt, omnis ipsa quisquam beatae! Deserunt inventore, rem eum libero consectetur tempora, corporis magnam ratione odit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit possimus a voluptatibus quo, labore sequi consectetur necessitatibus doloremque ratione pariatur nulla cumque, maxime perferendis.</p>
    </div>
    <div class="Proposition-secondary">
        <ul class="Proposition-list">
        {% for propositionLogo in propositionLogos %}
            <li class="Proposition-listItem"><img src="{{propositionLogo.src}}" alt=""></li>
        {% endfor %}
        </ul>
    </div><!--/.Proposition-directions-->
</div><!--/.Proposition-->
