<div class="Background Container">
    <p>Default Background style (white). <a href="#">Here’s a link.</a>
</div>
<div class="Background Background--grey Container">
    <p>Background--grey. <a href="#">Here’s a link</a></p>
</div>
<div class="Background Background--lapis-lazuli-blue Container">
    <p>Background--lapis-lazuli-blue. <a href="#">Here’s a link.</a>
</div>
<div class="Background Background--plum Container">
    <p>Background--plum. <a href="#">Here’s a link.</a>
</div>
<div class="Background Background--carribean-green Container">
    <p>Background--carribean-green. <a href="#">Here’s a link.</a>
</div>
