<div class="Background Container">
<p>Default Background style. <a href="#">Here’s a link.</a>
</div>
<div class="BgBlue Container">
<p>BgBlue style. <a href="#">Here’s a link.</a>
</div>
<div class="BgPurple Container">
<p>BgPurple style. <a href="#">Here’s a link.</a>
</div>
<div class="BgGreen Container">
<p>BgGreen style. <a href="#">Here’s a link.</a>
</div>
