<div style="padding: 1rem;" class="Background">
    Generic background colour: #F1F1F1
</div>
<div style="padding: 1rem; color: #fff;" class="BackgroundCh4">
    Channel 4 brand colour: #7123A8
</div>