<div class="l-pad-before--double l-pad-after--double Background Background--plum Container Texture-border Texture-border--bottom">
    <p>Texture-border--bottom, colour inherited</p>
</div>
<div class="l-pad-before--double l-pad-after--double Background Container">
    <p>No border</p>
</div>
<div class="l-pad-before--double l-pad-after--double Background Background--lapis-lazuli-blue Container Texture-border Texture-border--top">
    <p>Texture-border--top, colour inherited</p>
</div>
<div class="l-pad-before--double l-pad-after--double Background Container Texture-border Texture-border--bottom">
     <p>Texture-border--bottom, colour inherited</p>
</div>
<div class="l-pad-before--double l-pad-after--double Background Background--carribean-green Container">
    <p>No border</p>
</div>
