<div class="Card">
    <div class="Card-main">
        <div class="Heading Heading--context">Tiny Lesson</div>
        <h3 class="Heading Heading--body">The 20 second gut test</h3>
        <div class="Heading Heading--context">Visual Design, 2 hours</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit ad minus quod vitae autem cupiditate repellendus perferendis ab consectetur sapiente.</p>
    </div>
</div><!--/.Card-->