<article class="Card{% if cardModifier %} Card{{ cardModifier }}{% endif %}">
    {% if cardModifier != "--tiny-lesson" %}<div class="Bar"></div>{% endif %}
    <div class="Card-primary">
        <header>
            <h3 class="Card-title">{{ cardTitle }}</h3>
        </header>
        {% if cardCategory %}<div class="Card-category">{{ cardCategory }}</div>{% endif %}
        {% if cardDescription %}<p class="Card-description">{{ cardDescription }}</p>{% endif %}
        {% if cardModifier == "--vibrant" %} <a href="" class="MegaLink">Read the case study</a> {% endif %}
        {% if indexCard %}
            {% include '@index-card' %}
        {% endif %}
    </div><!--/.Card-primary-->
</article><!--/.Card-->
