<div class="BgPurple">{% include '@site-header' %}</div>

<main>

    <div class="BgPurple">{% include '@masthead' %}</div>

    <div class="BgPurple">{% include '@page-lead' %}</div>
    
    {% include '@image-gallery' %}
    
    {% include '@scene' %}
    
</main>

{% include '@site-footer' %}