<div class="BgPurple">{% include '@site-header' %}</div>

<main>

    <div class="BgPurple">{% include '@masthead' %}</div>

    <div class="BgPurple">{% include '@page-lead' %}</div>

    {% include '@header-image' %}

    {% include '@text-block' %}
        
    <div class="Background Background--frill">
        <div class="Jobs">
            <h2 class="Heading Heading--medium">Current Vacancies</h2>
            <div class="Job">
                <div class="Job-section Job-section--side">
                    <h2 class="Heading Heading--body">Open Vacancies</h2>
                    <ul class="List Menu">
                        <li class="List-item Menu-item Menu-item--current">Principal User Experience Consultant</li>
                        <li class="List-item Menu-item"><a href="">UX Designer</a></li>
                    </ul>
                </div><!--/.Job-section-->
                <div class="Job-section Job-section--main">
                    <h3 class="Heading Heading--small">Principal User Experience Consultant</h3>
                    <div class="Prose">
                        <p>We’re currently looking for an experienced UX designer to join our small and supportive team in the heart of Brighton. Ideally you’ll be somebody with six years experience and be able to show us a portfolio of sketches, experience maps and clickable prototypes going back to 2007 and beyond.</p>
                        <p>However good design is more than a collection of deliverables. We’re looking for somebody who is curious about the world and wants to make our digital lives better through the sensitive application of design.</p>
                        <p>We think good designers are facilitators, so a large part of your role will be leading our clients through the design process. You should be confident running a variety of stakeholder workshops to help extract requirements, set vision and iterate through ideas. You should also be able to present your findings in whatever way works best, from simple presentations or screencasts, through to detailed concept maps or day-in-the-life cartoons.</p>
                        <p>We think good designers are facilitators, so a large part of your role will be leading our clients through the design process. You should be confident running a variety of stakeholder workshops to help extract requirements, set vision and iterate through ideas. You should also be able to present your findings in whatever way works best, from simple presentations or screencasts, through to detailed concept maps or day-in-the-life cartoons.</p>
                    </div>
                </div><!--/.Job-section-->
            </div><!--/.Job-->
        </div><!--/.Jobs-->
    </div><!--/.Background-->

</main>

{% include '@site-footer' %}