<div class="Showcase" style="background-color: #325E94">
    {% include '@site-header' %}
    <div class="Showcase-wrapper">
        <div class="Showcase-primary">
            {% include '@breadcrumb' %}
            <h1 class="Showcase-title">{{showcaseTitle}}</h1>
            <div class="Showcase-description Lead Bar">{{showcaseText}}</div>
        </div>
        <img aria-hidden="true" class="Showcase-image" src="/assets/img/work/kensington/landing.png" alt="">
    </div>
    <div class="Showcase-bg" aria-hidden="true">
        <div class="Showcase-middle" aria-hidden="true"></div>
    </div><!--/.Skewed section-->
</div><!--/.Showcase-->