
<div class="Showcase{% if showcaseModifier %} Showcase{{showcaseModifier}}{% endif %}">
    {% include '@site-header' %}
    <div class="Showcase-wrapper">
        {% include '@breadcrumb' %}
        <div class="Showcase-primary" role="banner">
            <h1 class="Showcase-title Heading Heading--secondary">{{showcaseTitle}}</h1>
            <p class="Showcase-description">{{showcaseText}}</p>
        </div>
        {% if showcaseImage %}<img aria-hidden="true" class="Showcase-image" src="{{showcaseImage}}" alt="">{% endif %}
    </div>
</div><!--/.Showcase-->
