<h1 class="Heading Heading--impact">Heading Impact</h1>
<h1 class="Heading Heading--main">Heading Main</h1>
<h2 class="Heading Heading--secondary">Heading Secondary</h2>
<h2 class="Heading Heading--medium">Heading Medium</h2>
<h2 class="Heading Heading--small">Heading Small</h2>
<h2 class="Heading Heading--bump">Heading Bump</h2>
<h3 class="Heading Heading--body">Heading Body</h3>
<span class="Heading Heading--context">Heading Context</span>
