<h1 class="Heading Heading--impact">H1 Heading Impact 190px</h1>
<h1 class="Heading Heading--main">H1 Heading Main 90px</h1>
<h2 class="Heading Heading--secondary">Heading Secondary 60px</h2>
<h2 class="Heading Heading--medium">Heading Medium 40px</h2>
<h2 class="Heading Heading--small">Heading Small 30px</h2>
<h3 class="Heading Heading--body">Heading Body 22px</h3>
<span class="Heading Heading--context">Heading Context 14px</span>
