<h1 class="Heading Heading--main">H1 Heading 90px</h1>
<h2 class="Heading Heading--secondary">Heading 40px</h2>
<h3 class="Heading Heading--body">Heading 30px</h3>
<span class="Heading Heading--context">Heading 14px</span>