<div class="ImageGallery">

    <div class="ImageGallery-group ImageGallery-group--wide">
        <img class="ImageGallery-image" src="/assets/img/team-gallery/working.jpg" alt="" />
    </div><!--/.ImageGallery-group-->

    <div class="ImageGallery-group ImageGallery-group--pair">
        <img class="ImageGallery-image" src="/assets/img/team-gallery/beer.jpg" alt="Beer fridge" />
        <img class="ImageGallery-image" src="/assets/img/team-gallery/sketching.jpg" alt="Sketching" />
    </div><!--/.ImageGallery-group-->

    <div class="ImageGallery-group ImageGallery-group--pair">
        <img class="ImageGallery-image" src="/assets/img/team-gallery/vr.jpg" alt="VR fun" />
        <img class="ImageGallery-image" src="/assets/img/team-gallery/values.jpg" alt="Values" />
    </div><!--/.ImageGallery-group-->
    <div class="ImageGallery-group ImageGallery-group--quad">
        <div class="ImageGallery-quadRow">
            <img class="ImageGallery-image ImageGallery-image--quadWide" src="/assets/img/team-gallery/doodles.jpg" alt="Sketching" />
            <img class="ImageGallery-image ImageGallery-image--quadSmall" src="/assets/img/team-gallery/post-its.jpg" alt="Post its and notes" />
        </div><!--/.ImageGallery-quadRow-->
        <div class="ImageGallery-quadRow">
            <img class="ImageGallery-image ImageGallery-image--quadWide" src="/assets/img/team-gallery/doughnuts.jpg" alt="Doughnuts and coffee" />
            <img class="ImageGallery-image ImageGallery-image--quadSmall" src="/assets/img/team-gallery/head-down.jpg" alt="Andy in the zone" />
        </div><!--/.ImageGallery-quadRow-->
    </div><!--/.ImageGallery-group-->

    <div class="ImageGallery-group ImageGallery-group--quad">
        <div class="ImageGallery-quadRow">
            <img class="ImageGallery-image ImageGallery-image--quadSmall" src="/assets/img/team-gallery/bike.jpg" alt="Bike" />
            <img class="ImageGallery-image ImageGallery-image--quadWide" src="/assets/img/team-gallery/screens.jpg" alt="Desk and screens" />
        </div><!--/.ImageGallery-quadRow-->
        <div class="ImageGallery-quadRow">
            <img class="ImageGallery-image ImageGallery-image--quadSmall" src="/assets/img/team-gallery/workshopping.jpg" alt="Workshop group" />
            <img class="ImageGallery-image ImageGallery-image--quadWide" src="/assets/img/team-gallery/leading-design.jpg" alt="Leading design tote bags" />
        </div><!--/.ImageGallery-quadRow-->
    </div><!--/.ImageGallery-group-->
   
    <div class="ImageGallery-group ImageGallery-group--wide">
        <img class="ImageGallery-image" src="/assets/img/team-gallery/team.jpg" alt="Team meeting" />
    </div><!--/.ImageGallery-group-->

</div><!--/.ImageGallery-->