<div class="ImageGallery">

    <div class="ImageGallery-group ImageGallery-group--wide">
        <img class="ImageGallery-image" src="/assets/img/studio/working.jpg" alt="" />
        <!--Image dimensions 780x414-->
    </div><!--/.ImageGallery-group-->

    <div class="ImageGallery-group ImageGallery-group--pair">
        <img class="ImageGallery-image" src="/assets/img/studio/beer.jpg" alt="Beer fridge" />
        <!--Image dimensions 382x414-->
        <img class="ImageGallery-image" src="/assets/img/studio/sketching.jpg" alt="Sketching" />
        <!--Image dimensions 382x414-->
    </div><!--/.ImageGallery-group-->

        <div class="ImageGallery-group ImageGallery-group--pair">
        <img class="ImageGallery-image" src="/assets/img/studio/vr.jpg" alt="VR fun" />
        <!--Image dimensions 390x414-->
        <img class="ImageGallery-image" src="/assets/img/studio/values.jpg" alt="Values" />
        <!--Image dimensions 390x414-->
    </div><!--/.ImageGallery-group-->
        <div class="ImageGallery-group ImageGallery-group--quad">
        <div class="ImageGallery-quadRow">
            <img class="ImageGallery-image ImageGallery-image--quadWide" src="/assets/img/studio/doodles.jpg" alt="Sketching" />
            <!--Image dimensions 520x207-->
            <img class="ImageGallery-image ImageGallery-image--quadSmall" src="/assets/img/studio/post-its.jpg" alt="Post its and notes" />
            <!--Image dimensions 260x207-->
        </div><!--/.ImageGallery-quadRow-->
        <div class="ImageGallery-quadRow">
            <img class="ImageGallery-image ImageGallery-image--quadWide" src="/assets/img/studio/doughnuts.jpg" alt="Doughnuts and coffee" />
            <!--Image dimensions 520x207-->
            <img class="ImageGallery-image ImageGallery-image--quadSmall" src="/assets/img/studio/head-down.jpg" alt="Andy in the zone" />
            <!--Image dimensions 260x207-->
        </div><!--/.ImageGallery-quadRow-->
    </div><!--/.ImageGallery-group-->



    <div class="ImageGallery-group ImageGallery-group--quad">
        <div class="ImageGallery-quadRow">
            <img class="ImageGallery-image ImageGallery-image--quadSmall" src="/assets/img/studio/bike.jpg" alt="Bike" />
            <!--Image dimensions 260x207-->
            <img class="ImageGallery-image ImageGallery-image--quadWide" src="/assets/img/studio/screens.jpg" alt="Desk and screens" />
            <!--Image dimensions 520x207-->
        </div><!--/.ImageGallery-quadRow-->
        <div class="ImageGallery-quadRow">
            <img class="ImageGallery-image ImageGallery-image--quadSmall" src="/assets/img/studio/workshopping.jpg" alt="Workshop group" />
            <!--Image dimensions 260x207-->
            <img class="ImageGallery-image ImageGallery-image--quadWide" src="/assets/img/studio/leading-design.jpg" alt="Leading design tote bags" />
            <!--Image dimensions 520x207-->
        </div><!--/.ImageGallery-quadRow-->
    </div><!--/.ImageGallery-group-->
   


    <div class="ImageGallery-group ImageGallery-group--wide">
        <img class="ImageGallery-image" src="/assets/img/studio/team.jpg" alt="Team meeting" />
        <!--Image dimensions 780x414-->
    </div><!--/.ImageGallery-group-->

</div><!--/.ImageGallery-->