<div class="TileGrid">
    {% for person in persons %}
    <div class="TileGrid-item">
        {% include '@index-card' with {indexCardName: person.indexCardName, indexCardInfo: person.indexCardInfo, imageSrc: person.imageSrc} %}
    </div>
    {% endfor %}
</div>