<div class="Hello">
    <div class="Hello-container">
        <h3 class="Hello-title">{{helloHeading}}</h3>
        <div class="Hello-body">
            {{helloBody}}
        </div><!--/.Hello-body-->
    </div><!--/.Hello-container-->
</div><!--/.Hello-->
