<div class="Hello">
    <div class="Hello-container">
        <h3 class="Hello-title">{{helloHeading}}</h3>
        <div class="Hello-body">
            <p>{{helloBody}}</p>
        </div>
    </div>
</div>