<div class="DisplayCase{% if displayCaseModifier %} DisplayCase{{displayCaseModifier}}{% endif %}">
    <img class="DisplayCase-headerImage" src="{{displayCaseHeaderSrc}}" alt="{{displayCaseHeaderAlt}}">
</div><!--/.DisplayCase-->