<div class="DisplayCase{% if displayCaseModifier %} DisplayCase{{displayCaseModifier}}{% endif %}">
    <img class="DisplayCase-headerImage" src="/assets/img/work/ch4/display-case-header.png" alt="Channel 4 site">

    <div class="TextBlock Prose">
        <h2>Rem qui ea eos omnis laborum quia.</h2>
        <p>Cumque non accusamus dolores. Asperiores ipsam temporibus deleniti omnis tenetur. Aspernatur pariatur nihil qui debitis atque maxime voluptatem. Iste rerum culpa quia perspiciatis. Perspiciatis odio repellat totam doloremque fugiat expedita dolorem.
        Quisquam dolore et qui consequatur et quo vel deleniti. Dicta eaque dolores ipsa quis esse rerum maxime ut. Pariatur iste est et ipsum voluptas dolores dicta. Voluptatum quo asperiores voluptas reprehenderit laboriosam. Et ea fugit. Corrupti nobis
        eius ut libero enim.</p>
    </div>
    <img class="ImageBlock" class="DisplayCase-image" src="/assets/img/work/ch4/site-shot.jpg" alt="Channel 4 news page">
</div>