<div class="DisplayCase{% if displayCaseModifier %} DisplayCase{{displayCaseModifier}}{% endif %}">
    <img class="DisplayCase-headerImage" src="/assets/img/work/ch4/display-case-header.png" alt="Channel 4 site">
</div><!--/.DisplayCase-->