<a href="{{megaLinkURL}}" class="MegaLink{% if megaLinkModifier %} MegaLink{{megaLinkModifier}}{% endif %}">
{% if megaLinkModifier == '--block' %}
<span>{{megaLinkText}}</span>
{% else %}
{{megaLinkText}}
{% endif %}
</a>
