<a href="{{megaLinkURL}}" 
    class="MegaLink{% if megaLinkModifier %} MegaLink{{megaLinkModifier}}{% endif %}"
    {% if megaLinkLabel%}aria-label="{{megaLinkLabel}}"{% endif %}>
{{megaLinkText}}
</a>
