<div class="Pagination">
    <a class="Pagination-move Pagination-move--prev" href="">Prev</a>
    <ol class="Pagination-list">
        <li><a class="Pagination-item Pagination-item--current" href="">1</a></li>
        <li><a class="Pagination-item" href="">2</a></li>
        <li><a class="Pagination-item" href="">3</a></li>
        <li><a class="Pagination-item" href="">4</a></li>
        <li class="unavailable"><a class="Pagination-item" href="">&hellip;</a></li>
        <li><a class="Pagination-item" href="">12</a></li>
        <li><a class="Pagination-item" href="">13</a></li>
    </ol><!--/.Pagination-list-->
    <a class="Pagination-move Pagination-move--next" href="">Next</a>
</div><!--/.Pagination-->