<div class="Pagination">
    <a class="Pagination-move Pagination-move--prev" href="{{pagePrevUrl}}">Prev</a>
    <ol class="Pagination-list">
    {% for item in items %}
        <li><a class="Pagination-item{% if item.pageNumber == '1' %} Pagination-item--current{% endif %}" href="">{{item.pageNumber}}</a></li>
    {% endfor %}
    </ol><!--/.Pagination-list-->
    <a class="Pagination-move Pagination-move--next" href="{{pageNextUrl}}">Next</a>
</div><!--/.Pagination-->