<div class="Background">{% include '@site-header' %}</div>

    <main>

        <div class="Background">{% include '@masthead' %}</div>

        <div class="Background">{% include '@page-lead' %}</div>

        {% include '@team-grid' %}

    </main>

{% include '@site-footer' %}
