<div class="Input">
    <input class="Input-item" type="email" placeholder="E.g. example@domain.com" id="{{inputID}}" />
    <label class="Input-label" for="{{inputID}}">{{inputLabel}}</label>
</div><!--/.Input-->