<div class="PageLead">
    <div class="PageLead-primary">
        {% include '@lead' with {leadModifier: '--bar Lead--wrapper'} %}
    </div>
    <div class="PageLead-secondary">
        {% include '@list' %}
    </div>
</div>