<div class="PageLead {% if pageLeadModifier %}PageLead{{pageLeadModifier}} {% endif %}">
    <div class="PageLead-primary">
        {% include '@lead' with {leadModifier: '--wrapper Bar'} %}
    </div>
    {% if pageLeadSecondary %}
    <div class="PageLead-secondary">
        {% include '@list' %}
    </div>
    {% endif %}
</div><!--/.PageLead-->