<div class="PageLead {% if pageLeadModifier %}PageLead{{pageLeadModifier}} {% endif %}">
    <div class="PageLead-primary">
        {% include '@lead' with {leadModifier: '--wrapper'} %}
    </div>
    <div class="PageLead-secondary">
        {% include '@list' %}
    </div>
</div>