<div class="DottedCircle">
    <div class="Propositions">
        {% include '@proposition' with {signpostModifier: '--bgGreen'} %}
        {% include '@proposition' with {signpostModifier: '--bgPurple'} %}
        {% include '@proposition' %}
    </div>
</div>