{% include '@showcase' %}

<main>
    {% include '@scene' %}

    {% include '@text-block' %}

    {% include '@image-block' %}

    {% include '@quote' %}

    {% include '@text-block' %}

    {% include '@signpost' %}
</main>

{% include '@hello' %}

{% include '@site-footer' %}
