{% include '@showcase' %}

<main id="main-content">

    {% include '@text-block' with { textBlockModifier: ' Lead' } %}

    {% include '@quote' %}

    {% include '@text-block' with { textBlockModifier: '--brush' } %}

    {% include '@image-block' %}

    {% include '@signpost' %}
</main>

{% include '@hello' %}

{% include '@site-footer' %}
