<ul class="List">
    <li class="List-item"><a href="">See what we’ve done over the years ➞</a></li>
    <li class="List-item"><a href="">Check out our open positions  ➞</a></li>
    <li class="List-item"><a href="">Read our Company values  ➞</a></li>
</ul>