<div class="Extension">
    <div class="Extension-headline">   
        <h2 class="Heading Heading--small">Recent articles by Andy</h2>
    </div><!--/.Extension-headline-->
    <div class="Extension-items">

    </div><!--/.Extension-items-->
</div><!--/.Extension-->