<div class="Extension{% if extensionModifier %} Extension{{extensionModifier}}{% endif %}">
    <div class="Extension-headline">   
        <h2 class="Heading Heading--small">Recent articles by {{extensionTeamMember}}</h2>
    </div><!--/.Extension-headline-->
    <!--/.CONTENT-->
</div><!--/.Extension-->