<div class="EvoDisplayCase">
    <div class="EvoDisplayCase-wrapper">
        
        <img class="EvoDisplayCase-chimney" src="/assets/img/work/evo/display-case/header.png" alt="Channel 4 website screen shots">
        
        <div class="TextBlock Textblock--wide Prose">
            <h2>How do you give form to content that has never existed before?</h2>
            <p>To accommodate the eclectic mix of content to be produced, we created a “feed”. This took on the shape of a mosaic of content presented as a grid.</p>
            <p>But without knowing the shape of future content, we couldn’t define a pixel-perfect grid. Instead we created a system using a series of art boards that would adapt to the ever-changing content.</p>
            <p>We outlined a new content strategy that blended the traditional long-form, along with shorter bite-size content from their other channels. All this content aimed to address the needs of both existing fans and new users.</p>
            <p>It was designed in HTML to work across the full range of devices that a responsive design supports, making the most of the power of the great photography and editorial design that makes EVO such a compelling magazine.</p>
        </div><!--/.Textblock-->
    
        <img class="ImageBlock" src="/assets/img/work/evo/display-case/content-types.png" alt="Content types">
        <img class="ImageBlock" src="/assets/img/work/evo/display-case/evo-phone.png" alt="Phones">
        <img class="ImageBlock" src="/assets/img/work/evo/display-case/evo-home-landscape.png" alt="Evo home landscape">
    </div><!--/.DisplayCase-wrapper-->
</div><!--/.DisplayCase-->