<div class="ImageGallery">

    <div class="ImageGallery-group ImageGallery-group--wide">
        <img class="ImageGallery-image" src="/assets/img/jobs-gallery/netmag.jpg" alt="Net magazine" />
    </div><!--/.ImageGallery-group-->

    <div class="ImageGallery-group ImageGallery-group--pair">
        <img class="ImageGallery-image" src="/assets/img/jobs-gallery/kate.jpg" alt="Kate" />
        <img class="ImageGallery-image" src="/assets/img/jobs-gallery/vr.jpg" alt="VR fun" />
    </div><!--/.ImageGallery-group-->

    <div class="ImageGallery-group ImageGallery-group--pair">
        <img class="ImageGallery-image" src="/assets/img/jobs-gallery/movie-beers.jpg" alt="Move night beer" />
        <img class="ImageGallery-image" src="/assets/img/jobs-gallery/values.jpg" alt="Our values" />
    </div><!--/.ImageGallery-group-->
    
    <div class="ImageGallery-group ImageGallery-group--quad">
        <div class="ImageGallery-quadRow">
            <img class="ImageGallery-image ImageGallery-image--quadSmall" src="/assets/img/jobs-gallery/bike.jpg" alt="Sketching" />
            <img class="ImageGallery-image ImageGallery-image--quadWide" src="/assets/img/jobs-gallery/leading-design.jpg" alt="Leading design tote bags" />
        </div><!--/.ImageGallery-quadRow-->
        <div class="ImageGallery-quadRow">
            <img class="ImageGallery-image ImageGallery-image--quadSmall" src="/assets/img/jobs-gallery/sketching-2.jpg" alt="Bike" />
            <img class="ImageGallery-image ImageGallery-image--quadWide" src="/assets/img/jobs-gallery/desk.jpg" alt="Screens" />
        </div><!--/.ImageGallery-quadRow-->
    </div><!--/.ImageGallery-group-->

</div><!--/.ImageGallery-->