<div class="ImageGallery">
    <div class="ImageGallery-group ImageGallery-group--wide">
        <img class="ImageGallery-image" src="/assets/img/studio/netmag.jpg" alt="Net magazine" />
        <!--Image dimensions 780x414-->
    </div><!--/.ImageGallery-group-->
    <div class="ImageGallery-group ImageGallery-group--pair">
        <img class="ImageGallery-image" src="/assets/img/studio/kate.jpg" alt="Kate" />
        <!--Image dimensions 382x414-->
        <img class="ImageGallery-image" src="/assets/img/studio/vr.jpg" alt="VR fun" />
        <!--Image dimensions 382x414-->
    </div><!--/.ImageGallery-group-->
    <div class="ImageGallery-group ImageGallery-group--pair">
        <img class="ImageGallery-image" src="/assets/img/studio/movie-beers.jpg" alt="Move night beer" />
        <!--Image dimensions 382x414-->
        <img class="ImageGallery-image" src="/assets/img/studio/values.jpg" alt="Our values" />
        <!--Image dimensions 382x414-->
    </div><!--/.ImageGallery-group-->
    <div class="ImageGallery-group ImageGallery-group--quad">
        <div class="ImageGallery-quadRow">
            <img class="ImageGallery-image ImageGallery-image--quadSmall" src="/assets/img/studio/sketching-2.jpg" alt="Sketching" />
            <!--Image dimensions 473x374-->
            <img class="ImageGallery-image ImageGallery-image--quadWide" src="/assets/img/studio/leading-design.jpg" alt="Leading design tote bags" />
            <!--Image dimensions 528x200-->
        </div><!--/.ImageGallery-quadRow-->
        <div class="ImageGallery-quadRow">
            <img class="ImageGallery-image ImageGallery-image--quadSmall" src="/assets/img/studio/bike.jpg" alt="Bike" />
            <!--Image dimensions 473x374-->
            <img class="ImageGallery-image ImageGallery-image--quadWide" src="/assets/img/studio/desk.jpg" alt="Screens" />
            <!--Image dimensions 528x200-->
        </div><!--/.ImageGallery-quadRow-->
    </div><!--/.ImageGallery-group-->
</div><!--/.ImageGallery-->