<div class="u-vertical-center">
<h1 class="Heading Heading--main u-center">Heading Main</h1>
<h2 class="Heading Heading--secondary u-center">Heading Secondary</h2>
<h2 class="Heading Heading--medium u-center">Heading Medium</h2>
<h2 class="Heading Heading--small u-center">Heading Small</h2>
<h2 class="Heading Heading--bump u-center">Heading Bump</h2>
<h3 class="Heading Heading--body u-center">Heading Body</h3>
<h3 class="Heading Heading--micro u-center">Heading Micro</h3>
</br>
<span class="Heading Heading--context u-center">Heading Context</span>
</br>
<h2 class="Heading Heading--medium u-center"><span class="u-underline-animated">Heading Medium underlined</span></h2>
</br>
<h2 class="Heading Heading--medium u-center"><span class="u-underline">Heading Medium underlined</span></h2>
<h2 class="Heading Heading--small u-center"><span class="u-underline">Heading Small underlined</span></h2>
<h2 class="Heading Heading--bump u-center"><span class="u-underline">Heading Bump underlined</span></h2>
<h2 class="Heading Heading--bump u-center"><span class="u-underline">Heading Bump underlined</span></h2>
</div>